{
  "openapi": "3.0.3",
  "info": {
    "title": "Open mSupply GraphQL API",
    "version": "3.1.0",
    "description": "Open mSupply is the mSupply Foundation's open-source Logistics Management Information System (LMIS) for public health supply chains. Its server exposes a single GraphQL endpoint at POST {baseUrl}/graphql taking a JSON body of the form `{query, variables}` and returning `{data, errors}`. This document is a mechanical conversion of the server's GraphQL schema (introspection): every root field of `Queries` and `Mutations` is one operation and every named GraphQL type is one component schema. Because OpenAPI 3.0 permits only one operation per method per path, each root field is modelled as a distinct `/graphql#<field>` path variant; at runtime all of them are the same POST to /graphql. The OpenFn msupply adaptor (@openfn/language-msupply) authenticates with the `authToken` query and then issues `items`, `insertOutboundShipment` and `batchOutboundShipment`, plus a generic `query()` operation that can send any document.",
    "x-openfn-adaptor": "msupply"
  },
  "servers": [
    {
      "url": "https://demo-open.msupply.org",
      "description": "Open mSupply demo server. Deployments are self-hosted; the adaptor's `baseUrl` credential sets the real host. The GraphQL endpoint is {baseUrl}/graphql."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "abbreviations"
    },
    {
      "name": "assets"
    },
    {
      "name": "auth"
    },
    {
      "name": "barcodes"
    },
    {
      "name": "campaigns"
    },
    {
      "name": "central-server"
    },
    {
      "name": "clinicians"
    },
    {
      "name": "cold-chain"
    },
    {
      "name": "contacts"
    },
    {
      "name": "currencies"
    },
    {
      "name": "custom-fields"
    },
    {
      "name": "demographics"
    },
    {
      "name": "diagnoses"
    },
    {
      "name": "documents"
    },
    {
      "name": "encounters"
    },
    {
      "name": "forms"
    },
    {
      "name": "graphql"
    },
    {
      "name": "help-documents"
    },
    {
      "name": "inbound-shipments"
    },
    {
      "name": "indicators"
    },
    {
      "name": "insurance"
    },
    {
      "name": "inventory-adjustments"
    },
    {
      "name": "invoices"
    },
    {
      "name": "items"
    },
    {
      "name": "ledger"
    },
    {
      "name": "locations"
    },
    {
      "name": "logs"
    },
    {
      "name": "master-lists"
    },
    {
      "name": "names"
    },
    {
      "name": "outbound-shipments"
    },
    {
      "name": "patients"
    },
    {
      "name": "periods"
    },
    {
      "name": "plugins"
    },
    {
      "name": "preferences"
    },
    {
      "name": "prescriptions"
    },
    {
      "name": "printers"
    },
    {
      "name": "programs"
    },
    {
      "name": "purchase-orders"
    },
    {
      "name": "reasons"
    },
    {
      "name": "repacks"
    },
    {
      "name": "reports"
    },
    {
      "name": "request"
    },
    {
      "name": "requisitions"
    },
    {
      "name": "returns"
    },
    {
      "name": "rnr-forms"
    },
    {
      "name": "server"
    },
    {
      "name": "shipping-methods"
    },
    {
      "name": "stock"
    },
    {
      "name": "stocktakes"
    },
    {
      "name": "stores"
    },
    {
      "name": "sync"
    },
    {
      "name": "to"
    },
    {
      "name": "vaccination"
    }
  ],
  "paths": {
    "/graphql": {
      "post": {
        "operationId": "graphqlRequest",
        "tags": [
          "graphql"
        ],
        "summary": "Execute an arbitrary GraphQL query or mutation",
        "description": "The single Open mSupply GraphQL endpoint. Every other operation in this document is the same POST with a different document in `query`; the `/graphql#<field>` path variants exist only so each root field can carry its own operationId and response schema. This is the adaptor's generic `query(query, variables)` operation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "GraphQL response. HTTP 200 is returned even for GraphQL-level errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQLResponse"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#contacts": {
      "post": {
        "operationId": "contacts",
        "tags": [
          "contacts"
        ],
        "summary": "GraphQL query `contacts`",
        "description": "GraphQL query `contacts`(storeId, nameId). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`contacts` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#invoice": {
      "post": {
        "operationId": "invoice",
        "tags": [
          "invoices"
        ],
        "summary": "GraphQL query `invoice`",
        "description": "GraphQL query `invoice`(storeId, id, type). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`invoice` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#invoiceByNumber": {
      "post": {
        "operationId": "invoiceByNumber",
        "tags": [
          "invoices"
        ],
        "summary": "GraphQL query `invoiceByNumber`",
        "description": "GraphQL query `invoiceByNumber`(storeId, invoiceNumber, type). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`invoiceByNumber` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceByNumberEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#invoices": {
      "post": {
        "operationId": "invoices",
        "tags": [
          "invoices"
        ],
        "summary": "GraphQL query `invoices`",
        "description": "GraphQL query `invoices`(storeId, page, filter, sort, type). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`invoices` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoicesEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#invoiceLines": {
      "post": {
        "operationId": "invoiceLines",
        "tags": [
          "invoices"
        ],
        "summary": "GraphQL query `invoiceLines`",
        "description": "GraphQL query `invoiceLines`(storeId, page, filter, sort, reportSort). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`invoiceLines` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceLinesEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#draftStockOutLines": {
      "post": {
        "operationId": "draftStockOutLines",
        "tags": [
          "stock"
        ],
        "summary": "GraphQL query `draftStockOutLines`",
        "description": "GraphQL query `draftStockOutLines`(storeId, itemId, invoiceId). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`draftStockOutLines` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftStockOutLinesEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#locations": {
      "post": {
        "operationId": "locations",
        "tags": [
          "locations"
        ],
        "summary": "Query omSupply \"locations\" entries",
        "description": "GraphQL query `locations`(storeId, page, filter, sort). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back. Query omSupply \"locations\" entries",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`locations` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#temperatureLogs": {
      "post": {
        "operationId": "temperatureLogs",
        "tags": [
          "cold-chain"
        ],
        "summary": "Query omSupply \"temperature_log\" entries",
        "description": "GraphQL query `temperatureLogs`(storeId, page, filter, sort). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back. Query omSupply \"temperature_log\" entries",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`temperatureLogs` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemperatureLogsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#temperatureBreaches": {
      "post": {
        "operationId": "temperatureBreaches",
        "tags": [
          "cold-chain"
        ],
        "summary": "Query omSupply \"temperature_breach\" entries",
        "description": "GraphQL query `temperatureBreaches`(storeId, page, filter, sort). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back. Query omSupply \"temperature_breach\" entries",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`temperatureBreaches` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemperatureBreachesEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#temperatureNotifications": {
      "post": {
        "operationId": "temperatureNotifications",
        "tags": [
          "cold-chain"
        ],
        "summary": "Query omSupply temperature notification entries",
        "description": "GraphQL query `temperatureNotifications`(storeId, page). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back. Query omSupply temperature notification entries",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`temperatureNotifications` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemperatureNotificationsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#sensors": {
      "post": {
        "operationId": "sensors",
        "tags": [
          "cold-chain"
        ],
        "summary": "Query omSupply \"sensor\" entries",
        "description": "GraphQL query `sensors`(storeId, page, filter, sort). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back. Query omSupply \"sensor\" entries",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`sensors` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SensorsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#stocktake": {
      "post": {
        "operationId": "stocktake",
        "tags": [
          "stocktakes"
        ],
        "summary": "GraphQL query `stocktake`",
        "description": "GraphQL query `stocktake`(storeId, id). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`stocktake` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StocktakeEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#stocktakeByNumber": {
      "post": {
        "operationId": "stocktakeByNumber",
        "tags": [
          "stocktakes"
        ],
        "summary": "GraphQL query `stocktakeByNumber`",
        "description": "GraphQL query `stocktakeByNumber`(storeId, stocktakeNumber). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`stocktakeByNumber` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StocktakeByNumberEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#stocktakes": {
      "post": {
        "operationId": "stocktakes",
        "tags": [
          "stocktakes"
        ],
        "summary": "GraphQL query `stocktakes`",
        "description": "GraphQL query `stocktakes`(storeId, page, filter, sort). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`stocktakes` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StocktakesEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#stocktakeLines": {
      "post": {
        "operationId": "stocktakeLines",
        "tags": [
          "stocktakes"
        ],
        "summary": "GraphQL query `stocktakeLines`",
        "description": "GraphQL query `stocktakeLines`(storeId, stocktakeId, page, filter, sort, reportSort). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`stocktakeLines` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StocktakeLinesEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#apiVersion": {
      "post": {
        "operationId": "apiVersion",
        "tags": [
          "server"
        ],
        "summary": "GraphQL query `apiVersion`",
        "description": "GraphQL query `apiVersion`. Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`apiVersion` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiVersionEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#serverVersion": {
      "post": {
        "operationId": "serverVersion",
        "tags": [
          "server"
        ],
        "summary": "The running server's version, from the repo-root package.json (e.g",
        "description": "GraphQL query `serverVersion`. Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back. The running server's version, from the repo-root package.json (e.g. \"3.00.00-RC\")",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`serverVersion` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerVersionEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#authToken": {
      "post": {
        "operationId": "authToken",
        "tags": [
          "auth"
        ],
        "summary": "Authenticate with username + password",
        "description": "GraphQL query `authToken`(username, password). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back. Authenticate with username + password. Issues an opaque session token, returned both in the response body and as an HttpOnly session cookie. There is no separate refresh token.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`authToken` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthTokenEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#itemPrice": {
      "post": {
        "operationId": "itemPrice",
        "tags": [
          "items"
        ],
        "summary": "GraphQL query `itemPrice`",
        "description": "GraphQL query `itemPrice`(storeId, input). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`itemPrice` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemPriceEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#logout": {
      "post": {
        "operationId": "logout",
        "tags": [
          "auth"
        ],
        "summary": "GraphQL query `logout`",
        "description": "GraphQL query `logout`. Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`logout` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogoutEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#refreshToken": {
      "post": {
        "operationId": "refreshToken",
        "tags": [
          "auth"
        ],
        "summary": "Slides the existing session's expiry forward (no token rotation)",
        "description": "GraphQL query `refreshToken`. Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back. Slides the existing session's expiry forward (no token rotation). Kept for backwards compatibility \u2014 web clients no longer need to call this, since the session slides on every authenticated request.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`refreshToken` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshTokenEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#me": {
      "post": {
        "operationId": "me",
        "tags": [
          "auth"
        ],
        "summary": "GraphQL query `me`",
        "description": "GraphQL query `me`. Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`me` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#isCentralServer": {
      "post": {
        "operationId": "isCentralServer",
        "tags": [
          "central-server"
        ],
        "summary": "GraphQL query `isCentralServer`",
        "description": "GraphQL query `isCentralServer`. Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`isCentralServer` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IsCentralServerEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#isCentralStandalone": {
      "post": {
        "operationId": "isCentralStandalone",
        "tags": [
          "central-server"
        ],
        "summary": "GraphQL query `isCentralStandalone`",
        "description": "GraphQL query `isCentralStandalone`. Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`isCentralStandalone` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IsCentralStandaloneEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#featureFlags": {
      "post": {
        "operationId": "featureFlags",
        "tags": [
          "server"
        ],
        "summary": "GraphQL query `featureFlags`",
        "description": "GraphQL query `featureFlags`. Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`featureFlags` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureFlagsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#names": {
      "post": {
        "operationId": "names",
        "tags": [
          "names"
        ],
        "summary": "Query omSupply \"name\" entries",
        "description": "GraphQL query `names`(storeId, page, filter, sort). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back. Query omSupply \"name\" entries",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`names` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NamesEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#store": {
      "post": {
        "operationId": "store",
        "tags": [
          "stores"
        ],
        "summary": "GraphQL query `store`",
        "description": "GraphQL query `store`(id). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`store` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#stores": {
      "post": {
        "operationId": "stores",
        "tags": [
          "stores"
        ],
        "summary": "GraphQL query `stores`",
        "description": "GraphQL query `stores`(page, filter, sort). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`stores` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoresEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#masterLists": {
      "post": {
        "operationId": "masterLists",
        "tags": [
          "master-lists"
        ],
        "summary": "Query omSupply \"master_lists\" entries",
        "description": "GraphQL query `masterLists`(storeId, page, filter, sort). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back. Query omSupply \"master_lists\" entries",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`masterLists` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasterListsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#masterListLines": {
      "post": {
        "operationId": "masterListLines",
        "tags": [
          "master-lists"
        ],
        "summary": "GraphQL query `masterListLines`",
        "description": "GraphQL query `masterListLines`(storeId, masterListId, page, filter, sort). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`masterListLines` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasterListLinesEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#items": {
      "post": {
        "operationId": "items",
        "tags": [
          "items"
        ],
        "summary": "Query omSupply \"item\" entries",
        "description": "GraphQL query `items`(storeId, page, filter, sort). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back. Query omSupply \"item\" entries",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`items` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#ledger": {
      "post": {
        "operationId": "ledger",
        "tags": [
          "ledger"
        ],
        "summary": "GraphQL query `ledger`",
        "description": "GraphQL query `ledger`(storeId, filter, sort). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`ledger` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LedgerEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#itemLedger": {
      "post": {
        "operationId": "itemLedger",
        "tags": [
          "items"
        ],
        "summary": "GraphQL query `itemLedger`",
        "description": "GraphQL query `itemLedger`(storeId, page, filter). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`itemLedger` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemLedgerEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#outboundShipmentCounts": {
      "post": {
        "operationId": "outboundShipmentCounts",
        "tags": [
          "outbound-shipments"
        ],
        "summary": "GraphQL query `outboundShipmentCounts`",
        "description": "GraphQL query `outboundShipmentCounts`(storeId, timezoneOffset). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`outboundShipmentCounts` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutboundShipmentCountsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#inboundShipmentCounts": {
      "post": {
        "operationId": "inboundShipmentCounts",
        "tags": [
          "inbound-shipments"
        ],
        "summary": "GraphQL query `inboundShipmentCounts`",
        "description": "GraphQL query `inboundShipmentCounts`(storeId, timezoneOffset). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`inboundShipmentCounts` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboundShipmentCountsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#inboundShipmentExternalCounts": {
      "post": {
        "operationId": "inboundShipmentExternalCounts",
        "tags": [
          "inbound-shipments"
        ],
        "summary": "GraphQL query `inboundShipmentExternalCounts`",
        "description": "GraphQL query `inboundShipmentExternalCounts`(storeId, timezoneOffset). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`inboundShipmentExternalCounts` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboundShipmentExternalCountsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#invoiceCounts": {
      "post": {
        "operationId": "invoiceCounts",
        "tags": [
          "invoices"
        ],
        "summary": "GraphQL query `invoiceCounts`",
        "description": "GraphQL query `invoiceCounts`(storeId, timezoneOffset). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`invoiceCounts` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceCountsEnvelope"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/graphql#stockCounts": {
      "post": {
        "operationId": "stockCounts",
        "tags": [
          "stock"
        ],
        "summary": "GraphQL query `stockCounts`",
        "description": "GraphQL query `stockCounts`(storeId, timezoneOffset, daysTillExpired). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`stockCounts` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockCountsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#requisitionLineChart": {
      "post": {
        "operationId": "requisitionLineChart",
        "tags": [
          "requisitions"
        ],
        "summary": "GraphQL query `requisitionLineChart`",
        "description": "GraphQL query `requisitionLineChart`(storeId, requestRequisitionLineId, consumptionOptionsInput, stockEvolutionOptionsInput). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`requisitionLineChart` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequisitionLineChartEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#activityLogs": {
      "post": {
        "operationId": "activityLogs",
        "tags": [
          "logs"
        ],
        "summary": "GraphQL query `activityLogs`",
        "description": "GraphQL query `activityLogs`(storeId, page, filter, sort). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`activityLogs` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityLogsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#initialisationStatus": {
      "post": {
        "operationId": "initialisationStatus",
        "tags": [
          "server"
        ],
        "summary": "Available without authorisation in operational and initialisation states",
        "description": "GraphQL query `initialisationStatus`. Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back. Available without authorisation in operational and initialisation states",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`initialisationStatus` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InitialisationStatusEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#migrationStatus": {
      "post": {
        "operationId": "migrationStatus",
        "tags": [
          "server"
        ],
        "summary": "Available without authorisation in all states (Operational, Initialisation and MigratingDatabase)",
        "description": "GraphQL query `migrationStatus`. Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back. Available without authorisation in all states (Operational, Initialisation and MigratingDatabase)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`migrationStatus` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MigrationStatusEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#latestSyncStatus": {
      "post": {
        "operationId": "latestSyncStatus",
        "tags": [
          "sync"
        ],
        "summary": "GraphQL query `latestSyncStatus`",
        "description": "GraphQL query `latestSyncStatus`. Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`latestSyncStatus` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LatestSyncStatusEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#numberOfRecordsInPushQueue": {
      "post": {
        "operationId": "numberOfRecordsInPushQueue",
        "tags": [
          "sync"
        ],
        "summary": "GraphQL query `numberOfRecordsInPushQueue`",
        "description": "GraphQL query `numberOfRecordsInPushQueue`. Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`numberOfRecordsInPushQueue` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NumberOfRecordsInPushQueueEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#syncSettings": {
      "post": {
        "operationId": "syncSettings",
        "tags": [
          "sync"
        ],
        "summary": "GraphQL query `syncSettings`",
        "description": "GraphQL query `syncSettings`. Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`syncSettings` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncSettingsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#displaySettings": {
      "post": {
        "operationId": "displaySettings",
        "tags": [
          "server"
        ],
        "summary": "GraphQL query `displaySettings`",
        "description": "GraphQL query `displaySettings`(input). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`displaySettings` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisplaySettingsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#responseRequisitionStats": {
      "post": {
        "operationId": "responseRequisitionStats",
        "tags": [
          "requisitions"
        ],
        "summary": "GraphQL query `responseRequisitionStats`",
        "description": "GraphQL query `responseRequisitionStats`(storeId, requisitionLineId). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`responseRequisitionStats` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseRequisitionStatsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#inventoryAdjustmentReasons": {
      "post": {
        "operationId": "inventoryAdjustmentReasons",
        "tags": [
          "inventory-adjustments"
        ],
        "summary": "GraphQL query `inventoryAdjustmentReasons`",
        "description": "GraphQL query `inventoryAdjustmentReasons`(page, filter, sort). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`inventoryAdjustmentReasons` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryAdjustmentReasonsEnvelope"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/graphql#itemCounts": {
      "post": {
        "operationId": "itemCounts",
        "tags": [
          "items"
        ],
        "summary": "GraphQL query `itemCounts`",
        "description": "GraphQL query `itemCounts`(storeId, lowStockThreshold, highStockThreshold). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`itemCounts` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemCountsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#storePreferences": {
      "post": {
        "operationId": "storePreferences",
        "tags": [
          "stores"
        ],
        "summary": "GraphQL query `storePreferences`",
        "description": "GraphQL query `storePreferences`(storeId). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`storePreferences` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorePreferencesEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#barcodeByGtin": {
      "post": {
        "operationId": "barcodeByGtin",
        "tags": [
          "barcodes"
        ],
        "summary": "GraphQL query `barcodeByGtin`",
        "description": "GraphQL query `barcodeByGtin`(storeId, gtin). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`barcodeByGtin` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BarcodeByGtinEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#requisitionCounts": {
      "post": {
        "operationId": "requisitionCounts",
        "tags": [
          "requisitions"
        ],
        "summary": "GraphQL query `requisitionCounts`",
        "description": "GraphQL query `requisitionCounts`(storeId). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`requisitionCounts` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequisitionCountsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#logFileNames": {
      "post": {
        "operationId": "logFileNames",
        "tags": [
          "logs"
        ],
        "summary": "GraphQL query `logFileNames`",
        "description": "GraphQL query `logFileNames`. Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`logFileNames` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogFileNamesEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#logContents": {
      "post": {
        "operationId": "logContents",
        "tags": [
          "logs"
        ],
        "summary": "GraphQL query `logContents`",
        "description": "GraphQL query `logContents`(fileName). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`logContents` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogContentsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#logLevel": {
      "post": {
        "operationId": "logLevel",
        "tags": [
          "logs"
        ],
        "summary": "GraphQL query `logLevel`",
        "description": "GraphQL query `logLevel`. Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`logLevel` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogLevelEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#frontendPluginMetadata": {
      "post": {
        "operationId": "frontendPluginMetadata",
        "tags": [
          "plugins"
        ],
        "summary": "GraphQL query `frontendPluginMetadata`",
        "description": "GraphQL query `frontendPluginMetadata`(hostRuntime). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`frontendPluginMetadata` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrontendPluginMetadataEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#currencies": {
      "post": {
        "operationId": "currencies",
        "tags": [
          "currencies"
        ],
        "summary": "GraphQL query `currencies`",
        "description": "GraphQL query `currencies`(filter, sort). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`currencies` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrenciesEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#databaseSettings": {
      "post": {
        "operationId": "databaseSettings",
        "tags": [
          "server"
        ],
        "summary": "GraphQL query `databaseSettings`",
        "description": "GraphQL query `databaseSettings`. Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`databaseSettings` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseSettingsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#generateSupplierReturnLines": {
      "post": {
        "operationId": "generateSupplierReturnLines",
        "tags": [
          "returns"
        ],
        "summary": "Generates new supplier return lines in memory, based on either stock line ids, or an item id",
        "description": "GraphQL query `generateSupplierReturnLines`(storeId, input). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back. Generates new supplier return lines in memory, based on either stock line ids, or an item id. Optionally includes existing supplier return lines for a specific item in a return. Provides an friendly shape to edit these lines before calling the insert/update mutations.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`generateSupplierReturnLines` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateSupplierReturnLinesEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#returnReasons": {
      "post": {
        "operationId": "returnReasons",
        "tags": [
          "reasons"
        ],
        "summary": "GraphQL query `returnReasons`",
        "description": "GraphQL query `returnReasons`(page, filter, sort). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`returnReasons` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnReasonsEnvelope"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/graphql#generateCustomerReturnLines": {
      "post": {
        "operationId": "generateCustomerReturnLines",
        "tags": [
          "returns"
        ],
        "summary": "Generates new customer_return lines in memory, based on supplier return line ids",
        "description": "GraphQL query `generateCustomerReturnLines`(storeId, input). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back. Generates new customer_return lines in memory, based on supplier return line ids. Optionally includes existing customer_return lines for a specific item in a return. Provides an friendly shape to edit these lines before calling the insert/update mutations.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`generateCustomerReturnLines` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateCustomerReturnLinesEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#labelPrinterSettings": {
      "post": {
        "operationId": "labelPrinterSettings",
        "tags": [
          "printers"
        ],
        "summary": "GraphQL query `labelPrinterSettings`",
        "description": "GraphQL query `labelPrinterSettings`. Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`labelPrinterSettings` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelPrinterSettingsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#nameProperties": {
      "post": {
        "operationId": "nameProperties",
        "tags": [
          "names"
        ],
        "summary": "GraphQL query `nameProperties`",
        "description": "GraphQL query `nameProperties`. Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`nameProperties` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NamePropertiesEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#customFields": {
      "post": {
        "operationId": "customFields",
        "tags": [
          "custom-fields"
        ],
        "summary": "Properties v2 definitions",
        "description": "GraphQL query `customFields`(filter). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back. Properties v2 definitions. Used by list views, detail views and modals to learn what columns/fields to render. Filter by `scope` to restrict to a record kind (`{ equalTo: \"customer\" }`).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`customFields` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#reasonOptions": {
      "post": {
        "operationId": "reasonOptions",
        "tags": [
          "reasons"
        ],
        "summary": "GraphQL query `reasonOptions`",
        "description": "GraphQL query `reasonOptions`(page, filter, sort). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`reasonOptions` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonOptionsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#locationTypes": {
      "post": {
        "operationId": "locationTypes",
        "tags": [
          "locations"
        ],
        "summary": "Query omSupply \"location_type\" entries",
        "description": "GraphQL query `locationTypes`(storeId, page, filter, sort). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back. Query omSupply \"location_type\" entries",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`locationTypes` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationTypesEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#diagnosesActive": {
      "post": {
        "operationId": "diagnosesActive",
        "tags": [
          "diagnoses"
        ],
        "summary": "GraphQL query `diagnosesActive`",
        "description": "GraphQL query `diagnosesActive`. Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`diagnosesActive` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiagnosesActiveEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#abbreviations": {
      "post": {
        "operationId": "abbreviations",
        "tags": [
          "abbreviations"
        ],
        "summary": "GraphQL query `abbreviations`",
        "description": "GraphQL query `abbreviations`(filter). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`abbreviations` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbbreviationsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#insurancePolicies": {
      "post": {
        "operationId": "insurancePolicies",
        "tags": [
          "insurance"
        ],
        "summary": "GraphQL query `insurancePolicies`",
        "description": "GraphQL query `insurancePolicies`(storeId, nameId, sort). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`insurancePolicies` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsurancePoliciesEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#insurancePolicy": {
      "post": {
        "operationId": "insurancePolicy",
        "tags": [
          "insurance"
        ],
        "summary": "GraphQL query `insurancePolicy`",
        "description": "GraphQL query `insurancePolicy`(storeId, id). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`insurancePolicy` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsurancePolicyEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#insuranceProviders": {
      "post": {
        "operationId": "insuranceProviders",
        "tags": [
          "insurance"
        ],
        "summary": "GraphQL query `insuranceProviders`",
        "description": "GraphQL query `insuranceProviders`(storeId). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`insuranceProviders` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsuranceProvidersEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#shippingMethods": {
      "post": {
        "operationId": "shippingMethods",
        "tags": [
          "shipping-methods"
        ],
        "summary": "GraphQL query `shippingMethods`",
        "description": "GraphQL query `shippingMethods`(storeId, filter). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`shippingMethods` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShippingMethodsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#requisition": {
      "post": {
        "operationId": "requisition",
        "tags": [
          "requisitions"
        ],
        "summary": "GraphQL query `requisition`",
        "description": "GraphQL query `requisition`(storeId, id). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`requisition` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequisitionEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#requisitions": {
      "post": {
        "operationId": "requisitions",
        "tags": [
          "requisitions"
        ],
        "summary": "GraphQL query `requisitions`",
        "description": "GraphQL query `requisitions`(storeId, page, filter, sort). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`requisitions` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequisitionsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#requisitionByNumber": {
      "post": {
        "operationId": "requisitionByNumber",
        "tags": [
          "requisitions"
        ],
        "summary": "GraphQL query `requisitionByNumber`",
        "description": "GraphQL query `requisitionByNumber`(storeId, requisitionNumber, type). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`requisitionByNumber` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequisitionByNumberEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#supplierProgramRequisitionSettings": {
      "post": {
        "operationId": "supplierProgramRequisitionSettings",
        "tags": [
          "returns"
        ],
        "summary": "GraphQL query `supplierProgramRequisitionSettings`",
        "description": "GraphQL query `supplierProgramRequisitionSettings`(storeId). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`supplierProgramRequisitionSettings` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupplierProgramRequisitionSettingsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#programRequisitionSettingsByCustomer": {
      "post": {
        "operationId": "programRequisitionSettingsByCustomer",
        "tags": [
          "programs"
        ],
        "summary": "GraphQL query `programRequisitionSettingsByCustomer`",
        "description": "GraphQL query `programRequisitionSettingsByCustomer`(storeId, customerNameId). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`programRequisitionSettingsByCustomer` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramRequisitionSettingsByCustomerEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#hasCustomerProgramRequisitionSettings": {
      "post": {
        "operationId": "hasCustomerProgramRequisitionSettings",
        "tags": [
          "returns"
        ],
        "summary": "GraphQL query `hasCustomerProgramRequisitionSettings`",
        "description": "GraphQL query `hasCustomerProgramRequisitionSettings`(storeId, customerNameIds). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`hasCustomerProgramRequisitionSettings` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HasCustomerProgramRequisitionSettingsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#programIndicators": {
      "post": {
        "operationId": "programIndicators",
        "tags": [
          "programs"
        ],
        "summary": "GraphQL query `programIndicators`",
        "description": "GraphQL query `programIndicators`(storeId, sort, filter). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`programIndicators` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramIndicatorsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#report": {
      "post": {
        "operationId": "report",
        "tags": [
          "reports"
        ],
        "summary": "GraphQL query `report`",
        "description": "GraphQL query `report`(storeId, userLanguage, id). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`report` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#reports": {
      "post": {
        "operationId": "reports",
        "tags": [
          "reports"
        ],
        "summary": "Queries a list of available reports",
        "description": "GraphQL query `reports`(storeId, userLanguage, filter, sort). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back. Queries a list of available reports",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`reports` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#allReportVersions": {
      "post": {
        "operationId": "allReportVersions",
        "tags": [
          "reports"
        ],
        "summary": "Queries all reports and their respective versions",
        "description": "GraphQL query `allReportVersions`(storeId, userLanguage, filter, page, sort). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back. Queries all reports and their respective versions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`allReportVersions` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllReportVersionsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#generateReport": {
      "post": {
        "operationId": "generateReport",
        "tags": [
          "reports"
        ],
        "summary": "Creates a generated report",
        "description": "GraphQL query `generateReport`(storeId, reportId, dataId, arguments, format, sort, currentLanguage). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back. Creates a generated report. All details about the report, e.g. the output format, are specified in the report definition which is referred to by the report_id. The generated report can be retrieved from the `/files` endpoint using the returned file id.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`generateReport` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateReportEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#generateReportDefinition": {
      "post": {
        "operationId": "generateReportDefinition",
        "tags": [
          "reports"
        ],
        "summary": "Can be used when developing reports, e.g",
        "description": "GraphQL query `generateReportDefinition`(storeId, name, report, dataId, arguments, format, currentLanguage, excelTemplateBuffer). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back. Can be used when developing reports, e.g. to generate a report that is not already in the system.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`generateReportDefinition` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateReportDefinitionEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#csvToExcel": {
      "post": {
        "operationId": "csvToExcel",
        "tags": [
          "reports"
        ],
        "summary": "GraphQL query `csvToExcel`",
        "description": "GraphQL query `csvToExcel`(storeId, csvData, filename, sheetName). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`csvToExcel` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CsvToExcelEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#stockLines": {
      "post": {
        "operationId": "stockLines",
        "tags": [
          "stock"
        ],
        "summary": "Query for \"stock_line\" entries",
        "description": "GraphQL query `stockLines`(storeId, page, filter, sort). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back. Query for \"stock_line\" entries",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`stockLines` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockLinesEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#itemsByStockLineFilter": {
      "post": {
        "operationId": "itemsByStockLineFilter",
        "tags": [
          "items"
        ],
        "summary": "Query for items that have at least one stock_line matching `filter` in `store_id`, sorted/paginated by item attributes",
        "description": "GraphQL query `itemsByStockLineFilter`(storeId, page, filter, sort). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back. Query for items that have at least one stock_line matching `filter` in `store_id`, sorted/paginated by item attributes. Companion to `stockLines`: same filter shape, but the result is one row per item (suitable for an aggregated/grouped stock view). Because the predicate is identical to what `stockLines` uses, an item appears here iff at least one of its stock lines would appear in `stockLines`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`itemsByStockLineFilter` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemsByStockLineFilterEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#historicalStockLines": {
      "post": {
        "operationId": "historicalStockLines",
        "tags": [
          "stock"
        ],
        "summary": "Query for \"historical_stock_line\" entries",
        "description": "GraphQL query `historicalStockLines`(storeId, itemId, datetime). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back. Query for \"historical_stock_line\" entries",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`historicalStockLines` payload under `data`, plus any GraphQL `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalStockLinesEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/graphql#stockRelocation": {
      "post": {
        "operationId": "stockRelocation",
        "tags": [
          "stock"
        ],
        "summary": "GraphQL query `stockRelocation`",
        "description": "GraphQL query `stockRelocation`(storeId, id). Send it as `{ query, variables }` to POST {baseUrl}/graphql; the selection set determines which fields of the payload come back.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
[...]
