{
  "openapi": "3.0.3",
  "info": {
    "title": "SatuSehat Platform API",
    "version": "1.0",
    "description": "SATUSEHAT is Indonesia's national health-data exchange, run by the Ministry of Health (Kementerian Kesehatan). Its platform API has four parts, all on one host and all behind the same OAuth 2.0 client-credentials bearer token: the HL7 FHIR R4 API under `/fhir-r4/v1` (onboarding resources Patient, Practitioner, Organization and Location, plus the clinical integration resources), the token endpoint `/oauth2/v1/accesstoken`, the master-data APIs (KFA drug and device catalogue, Master Sarana Index, master wilayah) and the KYC endpoints. The OpenFn satusehat adaptor exposes only generic get/post/put/patch verbs, so a workflow can call any of these; every documented endpoint is described here.",
    "x-openfn-adaptor": "satusehat"
  },
  "servers": [
    {
      "url": "https://api-satusehat.kemkes.go.id",
      "description": "Production"
    },
    {
      "url": "https://api-satusehat-stg.dto.kemkes.go.id",
      "description": "Sandbox / staging"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "OAuth 2.0 token endpoint."
    },
    {
      "name": "Patient",
      "description": "Onboarding FHIR R4 resource: A person receiving care. SatuSehat assigns every patient an IHS number (`P…`) as the resource id."
    },
    {
      "name": "Practitioner",
      "description": "Onboarding FHIR R4 resource: A health worker. SatuSehat assigns practitioners an IHS number (`N…`) as the resource id."
    },
    {
      "name": "Organization",
      "description": "Onboarding FHIR R4 resource: A healthcare facility or administrative unit (fasyankes)."
    },
    {
      "name": "Location",
      "description": "Onboarding FHIR R4 resource: A physical place of care within an organization (ward, room, bed, ambulance)."
    },
    {
      "name": "AllergyIntolerance",
      "description": "Integration FHIR R4 resource: A record of a patient's allergy or intolerance."
    },
    {
      "name": "Appointment",
      "description": "Integration FHIR R4 resource: A booked or requested appointment."
    },
    {
      "name": "AppointmentResponse",
      "description": "Integration FHIR R4 resource: A participant's reply to an appointment request."
    },
    {
      "name": "CarePlan",
      "description": "Integration FHIR R4 resource: A plan of intended care for a patient."
    },
    {
      "name": "ClinicalImpression",
      "description": "Integration FHIR R4 resource: A clinician's assessment of a patient's condition."
    },
    {
      "name": "Composition",
      "description": "Integration FHIR R4 resource: A structured clinical document (e.g. a discharge summary)."
    },
    {
      "name": "Condition",
      "description": "Integration FHIR R4 resource: A diagnosis, problem or clinical concern (coded with ICD-10)."
    },
    {
      "name": "DiagnosticReport",
      "description": "Integration FHIR R4 resource: The findings of a diagnostic test (laboratory, radiology, pathology)."
    },
    {
      "name": "Encounter",
      "description": "Integration FHIR R4 resource: One episode of a patient interacting with a facility (rawat jalan, rawat inap, IGD)."
    },
    {
      "name": "EpisodeOfCare",
      "description": "Integration FHIR R4 resource: An association between a patient and an organization over a period of care."
    },
    {
      "name": "FamilyMemberHistory",
      "description": "Integration FHIR R4 resource: Health history of a patient's relative."
    },
    {
      "name": "HealthcareService",
      "description": "Integration FHIR R4 resource: A service offered by an organization at a location (poli/unit layanan)."
    },
    {
      "name": "ImagingStudy",
      "description": "Integration FHIR R4 resource: A DICOM imaging study and its series/instances."
    },
    {
      "name": "Immunization",
      "description": "Integration FHIR R4 resource: An administered vaccine dose."
    },
    {
      "name": "Medication",
      "description": "Integration FHIR R4 resource: A medicinal product, coded against the KFA (Kamus Farmalkes) catalogue."
    },
    {
      "name": "MedicationDispense",
      "description": "Integration FHIR R4 resource: Medication handed over to a patient (pelayanan kefarmasian)."
    },
    {
      "name": "MedicationRequest",
      "description": "Integration FHIR R4 resource: A prescription (resep)."
    },
    {
      "name": "Observation",
      "description": "Integration FHIR R4 resource: A measurement or simple assertion (vital signs, lab results), coded with LOINC."
    },
    {
      "name": "PractitionerRole",
      "description": "Integration FHIR R4 resource: A practitioner's role at an organization."
    },
    {
      "name": "Procedure",
      "description": "Integration FHIR R4 resource: A procedure performed on a patient (coded with ICD-9-CM)."
    },
    {
      "name": "QuestionnaireResponse",
      "description": "Integration FHIR R4 resource: Answers to a structured questionnaire (screening/assessment forms)."
    },
    {
      "name": "RelatedPerson",
      "description": "Integration FHIR R4 resource: A person related to a patient (used for newborns and guardians)."
    },
    {
      "name": "ServiceRequest",
      "description": "Integration FHIR R4 resource: A request for a diagnostic or therapeutic service (rujukan, permintaan pemeriksaan)."
    },
    {
      "name": "Slot",
      "description": "Integration FHIR R4 resource: A bookable time slot on a schedule."
    },
    {
      "name": "Specimen",
      "description": "Integration FHIR R4 resource: A sample taken for analysis."
    },
    {
      "name": "KFA",
      "description": "Kamus Farmalkes — the national drug and medical-device catalogue."
    },
    {
      "name": "MasterData",
      "description": "Master Sarana Index (facilities) and master wilayah (administrative areas)."
    },
    {
      "name": "KYC",
      "description": "Patient identity verification (Know Your Customer)."
    }
  ],
  "paths": {
    "/fhir-r4/v1/Patient": {
      "get": {
        "tags": [
          "Patient"
        ],
        "operationId": "searchPatient",
        "summary": "Search Patient resources",
        "description": "FHIR search. Returns a searchset Bundle of matching Patient resources.",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "required": false,
            "description": "Token of the form `<system>|<value>`, e.g. `https://fhir.kemkes.go.id/id/nik|<nik>` or `https://fhir.kemkes.go.id/id/nik-ibu|<mother-nik>`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Full or partial patient name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "birthdate",
            "in": "query",
            "required": false,
            "description": "Date of birth (YYYY, YYYY-MM or YYYY-MM-DD).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nik",
            "in": "query",
            "required": false,
            "description": "Indonesian national identity number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gender",
            "in": "query",
            "required": false,
            "description": "male or female.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_count",
            "in": "query",
            "required": false,
            "description": "Maximum number of matches per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Searchset Bundle.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientBundle"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Patient"
        ],
        "operationId": "createPatient",
        "summary": "Create a Patient",
        "description": "FHIR create. The server assigns the logical id and returns the stored resource.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Patient"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created Patient resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Patient"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/fhir-r4/v1/Patient/{id}": {
      "get": {
        "tags": [
          "Patient"
        ],
        "operationId": "readPatient",
        "summary": "Read one Patient by id",
        "description": "FHIR read: fetch the current state of a single Patient resource.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Logical id of the resource on SatuSehat.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Patient resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Patient"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Patient"
        ],
        "operationId": "patchPatient",
        "summary": "Patch a Patient",
        "description": "FHIR patch: apply a JSON Patch (RFC 6902) document, sent as Content-Type application/json-patch+json.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Logical id of the resource on SatuSehat.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JsonPatchOperation"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JsonPatchOperation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The patched Patient resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Patient"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/fhir-r4/v1/Practitioner": {
      "get": {
        "tags": [
          "Practitioner"
        ],
        "operationId": "searchPractitioner",
        "summary": "Search Practitioner resources",
        "description": "FHIR search. Returns a searchset Bundle of matching Practitioner resources.",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "required": false,
            "description": "Token of the form `https://fhir.kemkes.go.id/id/nik|<nik>`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Full or partial practitioner name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_count",
            "in": "query",
            "required": false,
            "description": "Maximum number of matches per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Searchset Bundle.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PractitionerBundle"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/fhir-r4/v1/Practitioner/{id}": {
      "get": {
        "tags": [
          "Practitioner"
        ],
        "operationId": "readPractitioner",
        "summary": "Read one Practitioner by id",
        "description": "FHIR read: fetch the current state of a single Practitioner resource.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Logical id of the resource on SatuSehat.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Practitioner resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Practitioner"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/fhir-r4/v1/Organization": {
      "get": {
        "tags": [
          "Organization"
        ],
        "operationId": "searchOrganization",
        "summary": "Search Organization resources",
        "description": "FHIR search. Returns a searchset Bundle of matching Organization resources.",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "required": false,
            "description": "Token of the form `<system>|<value>`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "partof",
            "in": "query",
            "required": false,
            "description": "Parent organization id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Full or partial organization name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_count",
            "in": "query",
            "required": false,
            "description": "Maximum number of matches per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Searchset Bundle.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationBundle"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Organization"
        ],
        "operationId": "createOrganization",
        "summary": "Create a Organization",
        "description": "FHIR create. The server assigns the logical id and returns the stored resource.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Organization"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created Organization resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/fhir-r4/v1/Organization/{id}": {
      "get": {
        "tags": [
          "Organization"
        ],
        "operationId": "readOrganization",
        "summary": "Read one Organization by id",
        "description": "FHIR read: fetch the current state of a single Organization resource.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Logical id of the resource on SatuSehat.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Organization resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Organization"
        ],
        "operationId": "updateOrganization",
        "summary": "Update a Organization",
        "description": "FHIR update: replace the whole resource at this id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Logical id of the resource on SatuSehat.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Organization"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Organization resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Organization"
        ],
        "operationId": "patchOrganization",
        "summary": "Patch a Organization",
        "description": "FHIR patch: apply a JSON Patch (RFC 6902) document, sent as Content-Type application/json-patch+json.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Logical id of the resource on SatuSehat.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JsonPatchOperation"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JsonPatchOperation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The patched Organization resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/fhir-r4/v1/Location": {
      "get": {
        "tags": [
          "Location"
        ],
        "operationId": "searchLocation",
        "summary": "Search Location resources",
        "description": "FHIR search. Returns a searchset Bundle of matching Location resources.",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "required": false,
            "description": "Token of the form `http://sys-ids.kemkes.go.id/location/<org-id>|<code>`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "query",
            "required": false,
            "description": "Managing organization id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Full or partial location name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_count",
            "in": "query",
            "required": false,
            "description": "Maximum number of matches per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Searchset Bundle.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationBundle"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Location"
        ],
        "operationId": "createLocation",
        "summary": "Create a Location",
        "description": "FHIR create. The server assigns the logical id and returns the stored resource.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Location"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created Location resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/fhir-r4/v1/Location/{id}": {
      "get": {
        "tags": [
          "Location"
        ],
        "operationId": "readLocation",
        "summary": "Read one Location by id",
        "description": "FHIR read: fetch the current state of a single Location resource.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Logical id of the resource on SatuSehat.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Location resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Location"
        ],
        "operationId": "updateLocation",
        "summary": "Update a Location",
        "description": "FHIR update: replace the whole resource at this id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Logical id of the resource on SatuSehat.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Location"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Location resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Location"
        ],
        "operationId": "patchLocation",
        "summary": "Patch a Location",
        "description": "FHIR patch: apply a JSON Patch (RFC 6902) document, sent as Content-Type application/json-patch+json.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Logical id of the resource on SatuSehat.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JsonPatchOperation"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JsonPatchOperation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The patched Location resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/fhir-r4/v1/AllergyIntolerance": {
      "get": {
        "tags": [
          "AllergyIntolerance"
        ],
        "operationId": "searchAllergyIntolerance",
        "summary": "Search AllergyIntolerance resources",
        "description": "FHIR search. Returns a searchset Bundle of matching AllergyIntolerance resources.",
        "parameters": [
          {
            "name": "patient",
            "in": "query",
            "required": false,
            "description": "Patient IHS number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clinical-status",
            "in": "query",
            "required": false,
            "description": "Clinical status code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_count",
            "in": "query",
            "required": false,
            "description": "Maximum number of matches per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Searchset Bundle.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllergyIntoleranceBundle"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "AllergyIntolerance"
        ],
        "operationId": "createAllergyIntolerance",
        "summary": "Create a AllergyIntolerance",
        "description": "FHIR create. The server assigns the logical id and returns the stored resource.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AllergyIntolerance"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created AllergyIntolerance resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllergyIntolerance"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/fhir-r4/v1/AllergyIntolerance/{id}": {
      "get": {
        "tags": [
          "AllergyIntolerance"
        ],
        "operationId": "readAllergyIntolerance",
        "summary": "Read one AllergyIntolerance by id",
        "description": "FHIR read: fetch the current state of a single AllergyIntolerance resource.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Logical id of the resource on SatuSehat.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The AllergyIntolerance resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllergyIntolerance"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "AllergyIntolerance"
        ],
        "operationId": "updateAllergyIntolerance",
        "summary": "Update a AllergyIntolerance",
        "description": "FHIR update: replace the whole resource at this id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Logical id of the resource on SatuSehat.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AllergyIntolerance"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated AllergyIntolerance resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllergyIntolerance"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "AllergyIntolerance"
        ],
        "operationId": "patchAllergyIntolerance",
        "summary": "Patch a AllergyIntolerance",
        "description": "FHIR patch: apply a JSON Patch (RFC 6902) document, sent as Content-Type application/json-patch+json.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Logical id of the resource on SatuSehat.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JsonPatchOperation"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JsonPatchOperation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The patched AllergyIntolerance resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllergyIntolerance"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/fhir-r4/v1/Appointment": {
      "get": {
        "tags": [
          "Appointment"
        ],
        "operationId": "searchAppointment",
        "summary": "Search Appointment resources",
        "description": "FHIR search. Returns a searchset Bundle of matching Appointment resources.",
        "parameters": [
          {
            "name": "patient",
            "in": "query",
            "required": false,
            "description": "Patient IHS number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Appointment status.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Appointment date.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_count",
            "in": "query",
            "required": false,
            "description": "Maximum number of matches per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Searchset Bundle.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentBundle"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Appointment"
        ],
        "operationId": "createAppointment",
        "summary": "Create a Appointment",
        "description": "FHIR create. The server assigns the logical id and returns the stored resource.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Appointment"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created Appointment resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appointment"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/fhir-r4/v1/Appointment/{id}": {
      "get": {
        "tags": [
          "Appointment"
        ],
        "operationId": "readAppointment",
        "summary": "Read one Appointment by id",
        "description": "FHIR read: fetch the current state of a single Appointment resource.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Logical id of the resource on SatuSehat.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Appointment resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appointment"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Appointment"
        ],
        "operationId": "updateAppointment",
        "summary": "Update a Appointment",
        "description": "FHIR update: replace the whole resource at this id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Logical id of the resource on SatuSehat.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Appointment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Appointment resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appointment"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Appointment"
        ],
        "operationId": "patchAppointment",
        "summary": "Patch a Appointment",
        "description": "FHIR patch: apply a JSON Patch (RFC 6902) document, sent as Content-Type application/json-patch+json.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Logical id of the resource on SatuSehat.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JsonPatchOperation"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JsonPatchOperation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The patched Appointment resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appointment"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/fhir-r4/v1/AppointmentResponse": {
      "get": {
        "tags": [
          "AppointmentResponse"
        ],
        "operationId": "searchAppointmentResponse",
        "summary": "Search AppointmentResponse resources",
        "description": "FHIR search. Returns a searchset Bundle of matching AppointmentResponse resources.",
        "parameters": [
          {
            "name": "appointment",
            "in": "query",
            "required": false,
            "description": "Appointment id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actor",
            "in": "query",
            "required": false,
            "description": "Actor reference.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_count",
            "in": "query",
            "required": false,
            "description": "Maximum number of matches per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Searchset Bundle.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentResponseBundle"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "AppointmentResponse"
        ],
        "operationId": "createAppointmentResponse",
        "summary": "Create a AppointmentResponse",
        "description": "FHIR create. The server assigns the logical id and returns the stored resource.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppointmentResponse"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created AppointmentResponse resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/fhir-r4/v1/AppointmentResponse/{id}": {
      "get": {
        "tags": [
          "AppointmentResponse"
        ],
        "operationId": "readAppointmentResponse",
        "summary": "Read one AppointmentResponse by id",
        "description": "FHIR read: fetch the current state of a single AppointmentResponse resource.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Logical id of the resource on SatuSehat.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The AppointmentResponse resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "AppointmentResponse"
        ],
        "operationId": "updateAppointmentResponse",
        "summary": "Update a AppointmentResponse",
        "description": "FHIR update: replace the whole resource at this id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Logical id of the resource on SatuSehat.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppointmentResponse"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated AppointmentResponse resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "AppointmentResponse"
        ],
        "operationId": "patchAppointmentResponse",
        "summary": "Patch a AppointmentResponse",
        "description": "FHIR patch: apply a JSON Patch (RFC 6902) document, sent as Content-Type application/json-patch+json.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Logical id of the resource on SatuSehat.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JsonPatchOperation"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JsonPatchOperation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The patched AppointmentResponse resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/fhir-r4/v1/CarePlan": {
      "get": {
        "tags": [
          "CarePlan"
        ],
        "operationId": "searchCarePlan",
        "summary": "Search CarePlan resources",
        "description": "FHIR search. Returns a searchset Bundle of matching CarePlan resources.",
        "parameters": [
          {
            "name": "subject",
            "in": "query",
            "required": false,
            "description": "Patient IHS number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Care plan status.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_count",
            "in": "query",
            "required": false,
            "description": "Maximum number of matches per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Searchset Bundle.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarePlanBundle"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CarePlan"
        ],
        "operationId": "createCarePlan",
        "summary": "Create a CarePlan",
        "description": "FHIR create. The server assigns the logical id and returns the stored resource.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CarePlan"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created CarePlan resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarePlan"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/fhir-r4/v1/CarePlan/{id}": {
      "get": {
        "tags": [
          "CarePlan"
        ],
        "operationId": "readCarePlan",
        "summary": "Read one CarePlan by id",
        "description": "FHIR read: fetch the current state of a single CarePlan resource.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Logical id of the resource on SatuSehat.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The CarePlan resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarePlan"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "CarePlan"
        ],
        "operationId": "updateCarePlan",
        "summary": "Update a CarePlan",
        "description": "FHIR update: replace the whole resource at this id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Logical id of the resource on SatuSehat.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CarePlan"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated CarePlan resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarePlan"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "CarePlan"
        ],
        "operationId": "patchCarePlan",
        "summary": "Patch a CarePlan",
        "description": "FHIR patch: apply a JSON Patch (RFC 6902) document, sent as Content-Type application/json-patch+json.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Logical id of the resource on SatuSehat.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JsonPatchOperation"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JsonPatchOperation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The patched CarePlan resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarePlan"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/fhir-r4/v1/ClinicalImpression": {
      "get": {
        "tags": [
          "ClinicalImpression"
        ],
        "operationId": "searchClinicalImpression",
        "summary": "Search ClinicalImpression resources",
        "description": "FHIR search. Returns a searchset Bundle of matching ClinicalImpression resources.",
        "parameters": [
          {
            "name": "subject",
            "in": "query",
            "required": false,
            "description": "Patient IHS number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "encounter",
            "in": "query",
            "required": false,
            "description": "Encounter id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_count",
            "in": "query",
            "required": false,
            "description": "Maximum number of matches per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Searchset Bundle.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClinicalImpressionBundle"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ClinicalImpression"
        ],
        "operationId": "createClinicalImpression",
        "summary": "Create a ClinicalImpression",
        "description": "FHIR create. The server assigns the logical id and returns the stored resource.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClinicalImpression"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created ClinicalImpression resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClinicalImpression"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/fhir-r4/v1/ClinicalImpression/{id}": {
      "get": {
        "tags": [
          "ClinicalImpression"
        ],
        "operationId": "readClinicalImpression",
        "summary": "Read one ClinicalImpression by id",
        "description": "FHIR read: fetch the current state of a single ClinicalImpression resource.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Logical id of the resource on SatuSehat.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The ClinicalImpression resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClinicalImpression"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "ClinicalImpression"
        ],
        "operationId": "updateClinicalImpression",
        "summary": "Update a ClinicalImpression",
        "description": "FHIR update: replace the whole resource at this id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Logical id of the resource on SatuSehat.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClinicalImpression"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated ClinicalImpression resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClinicalImpression"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "ClinicalImpression"
        ],
        "operationId": "patchClinicalImpression",
        "summary": "Patch a ClinicalImpression",
        "description": "FHIR patch: apply a JSON Patch (RFC 6902) document, sent as Content-Type application/json-patch+json.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Logical id of the resource on SatuSehat.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JsonPatchOperation"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JsonPatchOperation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The patched ClinicalImpression resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClinicalImpression"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/fhir-r4/v1/Composition": {
      "get": {
        "tags": [
          "Composition"
        ],
        "operationId": "searchComposition",
        "summary": "Search Composition resources",
        "description": "FHIR search. Returns a searchset Bundle of matching Composition resources.",
        "parameters": [
          {
            "name": "subject",
            "in": "query",
            "required": false,
            "description": "Patient IHS number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "encounter",
            "in": "query",
            "required": false,
            "description": "Encounter id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Document type code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_count",
            "in": "query",
            "required": false,
            "description": "Maximum number of matches per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Searchset Bundle.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompositionBundle"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Composition"
        ],
        "operationId": "createComposition",
        "summary": "Create a Composition",
        "description": "FHIR create. The server assigns the logical id and returns the stored resource.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Composition"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created Composition resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Composition"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/fhir-r4/v1/Composition/{id}": {
      "get": {
        "tags": [
          "Composition"
        ],
        "operationId": "readComposition",
        "summary": "Read one Composition by id",
        "description": "FHIR read: fetch the current state of a single Composition resource.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Logical id of the resource on SatuSehat.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Composition resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Composition"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Composition"
        ],
        "operationId": "updateComposition",
        "summary": "Update a Composition",
        "description": "FHIR update: replace the whole resource at this id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Logical id of the resource on SatuSehat.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Composition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Composition resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Composition"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Composition"
        ],
        "operationId": "patchComposition",
        "summary": "Patch a Composition",
        "description": "FHIR patch: apply a JSON Patch (RFC 6902) document, sent as Content-Type application/json-patch+json.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Logical id of the resource on SatuSehat.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JsonPatchOperation"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JsonPatchOperation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The patched Composition resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Composition"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/fhir-r4/v1/Condition": {
      "get": {
        "tags": [
          "Condition"
        ],
        "operationId": "searchCondition",
        "summary": "Search Condition resources",
        "description": "FHIR search. Returns a searchset Bundle of matching Condition resources.",
        "parameters": [
          {
            "name": "subject",
            "in": "query",
            "required": false,
            "description": "Patient IHS number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "encounter",
            "in": "query",
            "required": false,
            "description": "Encounter id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clinical-status",
            "in": "query",
            "required": false,
            "description": "Clinical status code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_count",
            "in": "query",
            "required": false,
            "description": "Maximum number of matches per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Searchset Bundle.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConditionBundle"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Condition"
        ],
        "operationId": "createCondition",
        "summary": "Create a Condition",
        "description": "FHIR create. The server assigns the logical id and returns the stored resource.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Condition"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created Condition resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Condition"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/fhir-r4/v1/Condition/{id}": {
      "get": {
        "tags": [
          "Condition"
        ],
        "operationId": "readCondition",
        "summary": "Read one Condition by id",
        "description": "FHIR read: fetch the current state of a single Condition resource.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Logical id of the resource on SatuSehat.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Condition resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Condition"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Condition"
        ],
        "operationId": "updateCondition",
        "summary": "Update a Condition",
        "description": "FHIR update: replace the whole resource at this id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Logical id of the resource on SatuSehat.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Condition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Condition resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Condition"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Condition"
        ],
        "operationId": "patchCondition",
        "summary": "Patch a Condition",
        "description": "FHIR patch: apply a JSON Patch (RFC 6902) document, sent as Content-Type application/json-patch+json.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Logical id of the resource on SatuSehat.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JsonPatchOperation"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JsonPatchOperation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The patched Condition resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Condition"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/fhir-r4/v1/DiagnosticReport": {
      "get": {
        "tags": [
          "DiagnosticReport"
        ],
        "operationId": "searchDiagnosticReport",
        "summary": "Search DiagnosticReport resources",
        "description": "FHIR search. Returns a searchset Bundle of matching DiagnosticReport resources.",
        "parameters": [
          {
            "name": "subject",
            "in": "query",
            "required": false,
            "description": "Patient IHS number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "encounter",
            "in": "query",
            "required": false,
            "description": "Encounter id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Report category code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_count",
            "in": "query",
            "required": false,
            "description": "Maximum number of matches per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Searchset Bundle.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiagnosticReportBundle"
                }
              }
            }
          },
          "4XX": {
            "description": "Client error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "default": {
            "description": "Error — FHIR OperationOutcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
[...]
