{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloud Healthcare API",
    "version": "v1",
    "description": "Manage, store, and access healthcare data in Google Cloud Platform.",
    "x-openfn-adaptor": "googlehealthcare",
    "x-discovery-name": "healthcare",
    "x-discovery-revision": "20260616"
  },
  "servers": [
    {
      "url": "https://healthcare.googleapis.com"
    }
  ],
  "paths": {
    "/v1/projects/{projectsId}/locations": {
      "get": {
        "operationId": "healthcare.projects.locations.list",
        "tags": [
          "projects.locations"
        ],
        "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extraLocationTypes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The maximum number of results to return. If not set, the service selects a default."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLocationsResponse"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/cloud-healthcare",
          "https://www.googleapis.com/auth/cloud-platform"
        ]
      }
    },
    "/v1/projects/{projectsId}/locations/{locationsId}": {
      "get": {
        "operationId": "healthcare.projects.locations.get",
        "tags": [
          "projects.locations"
        ],
        "description": "Gets information about a location.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/cloud-healthcare",
          "https://www.googleapis.com/auth/cloud-platform"
        ]
      }
    },
    "/v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:setIamPolicy": {
      "post": {
        "operationId": "healthcare.projects.locations.datasets.setIamPolicy",
        "tags": [
          "projects.locations.datasets"
        ],
        "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetIamPolicyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/cloud-healthcare",
          "https://www.googleapis.com/auth/cloud-platform"
        ]
      }
    },
    "/v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}": {
      "get": {
        "operationId": "healthcare.projects.locations.datasets.get",
        "tags": [
          "projects.locations.datasets"
        ],
        "description": "Gets any metadata associated with a dataset.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/cloud-healthcare",
          "https://www.googleapis.com/auth/cloud-platform"
        ]
      },
      "delete": {
        "operationId": "healthcare.projects.locations.datasets.delete",
        "tags": [
          "projects.locations.datasets"
        ],
        "description": "Deletes the specified health dataset and all data contained in the dataset. Deleting a dataset does not affect the sources from which the dataset was imported (if any).",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/cloud-healthcare",
          "https://www.googleapis.com/auth/cloud-platform"
        ]
      },
      "patch": {
        "operationId": "healthcare.projects.locations.datasets.patch",
        "tags": [
          "projects.locations.datasets"
        ],
        "description": "Updates dataset metadata.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "google-fieldmask"
            },
            "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask"
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dataset"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/cloud-healthcare",
          "https://www.googleapis.com/auth/cloud-platform"
        ]
      }
    },
    "/v1/projects/{projectsId}/locations/{locationsId}/datasets": {
      "post": {
        "operationId": "healthcare.projects.locations.datasets.create",
        "tags": [
          "projects.locations.datasets"
        ],
        "description": "Creates a new health dataset. Results are returned through the Operation interface which returns either an `Operation.response` which contains a Dataset or `Operation.error`. The metadata field type is OperationMetadata.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Required. The ID of the dataset that is being created. The string must match the following regex: `[\\p{L}\\p{N}_\\-\\.]{1,256}`."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dataset"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/cloud-healthcare",
          "https://www.googleapis.com/auth/cloud-platform"
        ]
      },
      "get": {
        "operationId": "healthcare.projects.locations.datasets.list",
        "tags": [
          "projects.locations.datasets"
        ],
        "description": "Lists the health datasets in the current project.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The next_page_token value returned from a previous List request, if any."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The maximum number of items to return. If not specified, 100 is used. May not be larger than 1000."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDatasetsResponse"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/cloud-healthcare",
          "https://www.googleapis.com/auth/cloud-platform"
        ]
      }
    },
    "/v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:deidentify": {
      "post": {
        "operationId": "healthcare.projects.locations.datasets.deidentify",
        "tags": [
          "projects.locations.datasets"
        ],
        "description": "Creates a new dataset containing de-identified data from the source dataset. The metadata field type is OperationMetadata. If the request is successful, the response field type is DeidentifySummary. If errors occur, error is set. The LRO result may still be successful if de-identification fails for some DICOM instances. The new de-identified dataset will not contain these failed resources. Failed resource totals are tracked in Operation.metadata. Error details are also logged to Cloud Logging. For more information, see [Viewing error logs in Cloud Logging](https://cloud.google.com/healthcare/docs/how-tos/logging).",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeidentifyDatasetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/cloud-healthcare",
          "https://www.googleapis.com/auth/cloud-platform"
        ]
      }
    },
    "/v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:getIamPolicy": {
      "get": {
        "operationId": "healthcare.projects.locations.datasets.getIamPolicy",
        "tags": [
          "projects.locations.datasets"
        ],
        "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "options.requestedPolicyVersion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/cloud-healthcare",
          "https://www.googleapis.com/auth/cloud-platform"
        ]
      }
    },
    "/v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:testIamPermissions": {
      "post": {
        "operationId": "healthcare.projects.locations.datasets.testIamPermissions",
        "tags": [
          "projects.locations.datasets"
        ],
        "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestIamPermissionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestIamPermissionsResponse"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/cloud-healthcare",
          "https://www.googleapis.com/auth/cloud-platform"
        ]
      }
    },
    "/v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/hl7V2Stores/{hl7V2StoresId}:testIamPermissions": {
      "post": {
        "operationId": "healthcare.projects.locations.datasets.hl7V2Stores.testIamPermissions",
        "tags": [
          "projects.locations.datasets.hl7V2Stores"
        ],
        "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hl7V2StoresId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestIamPermissionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestIamPermissionsResponse"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/cloud-healthcare",
          "https://www.googleapis.com/auth/cloud-platform"
        ]
      }
    },
    "/v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/hl7V2Stores/{hl7V2StoresId}": {
      "patch": {
        "operationId": "healthcare.projects.locations.datasets.hl7V2Stores.patch",
        "tags": [
          "projects.locations.datasets.hl7V2Stores"
        ],
        "description": "Updates the HL7v2 store.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hl7V2StoresId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "google-fieldmask"
            },
            "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask"
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Hl7V2Store"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hl7V2Store"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/cloud-healthcare",
          "https://www.googleapis.com/auth/cloud-platform"
        ]
      },
      "delete": {
        "operationId": "healthcare.projects.locations.datasets.hl7V2Stores.delete",
        "tags": [
          "projects.locations.datasets.hl7V2Stores"
        ],
        "description": "Deletes the specified HL7v2 store and removes all messages that it contains.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hl7V2StoresId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/cloud-healthcare",
          "https://www.googleapis.com/auth/cloud-platform"
        ]
      },
      "get": {
        "operationId": "healthcare.projects.locations.datasets.hl7V2Stores.get",
        "tags": [
          "projects.locations.datasets.hl7V2Stores"
        ],
        "description": "Gets the specified HL7v2 store.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hl7V2StoresId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hl7V2Store"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/cloud-healthcare",
          "https://www.googleapis.com/auth/cloud-platform"
        ]
      }
    },
    "/v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/hl7V2Stores/{hl7V2StoresId}:import": {
      "post": {
        "operationId": "healthcare.projects.locations.datasets.hl7V2Stores.import",
        "tags": [
          "projects.locations.datasets.hl7V2Stores"
        ],
        "description": "Import messages to the HL7v2 store by loading data from the specified sources. This method is optimized to load large quantities of data using import semantics that ignore some HL7v2 store configuration options and are not suitable for all use cases. It is primarily intended to load data into an empty HL7v2 store that is not being used by other clients. An existing message will be overwritten if a duplicate message is imported. A duplicate message is a message with the same raw bytes as a message that already exists in this HL7v2 store. When a message is overwritten, its labels will also be overwritten. The import operation is idempotent unless the input data contains multiple valid messages with the same raw bytes but different labels. In that case, after the import completes, the store contains exactly one message with those raw bytes but there is no ordering guarantee on which version of the labels it has. The operation result counters do not count duplicated raw bytes as an error and count one success for each message in the input, which might result in a success count larger than the number of messages in the HL7v2 store. If some messages fail to import, for example due to parsing errors, successfully imported messages are not rolled back. This method returns an Operation that can be used to track the status of the import by calling GetOperation. Immediate fatal errors appear in the error field, errors are also logged to Cloud Logging (see [Viewing error logs in Cloud Logging](https://cloud.google.com/healthcare/docs/how-tos/logging)). Otherwise, when the operation finishes, a response of type ImportMessagesResponse is returned in the response field. The metadata field type for this operation is OperationMetadata.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hl7V2StoresId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportMessagesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/cloud-healthcare",
          "https://www.googleapis.com/auth/cloud-platform"
        ]
      }
    },
    "/v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/hl7V2Stores/{hl7V2StoresId}:export": {
      "post": {
        "operationId": "healthcare.projects.locations.datasets.hl7V2Stores.export",
        "tags": [
          "projects.locations.datasets.hl7V2Stores"
        ],
        "description": "Exports the messages to a destination. To filter messages to be exported, define a filter using the start and end time, relative to the message generation time (MSH.7). This API returns an Operation that can be used to track the status of the job by calling GetOperation. Immediate fatal errors appear in the error field. Otherwise, when the operation finishes, a detailed response of type ExportMessagesResponse is returned in the response field. The metadata field type for this operation is OperationMetadata.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hl7V2StoresId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportMessagesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/cloud-healthcare",
          "https://www.googleapis.com/auth/cloud-platform"
        ]
      }
    },
    "/v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/hl7V2Stores/{hl7V2StoresId}:getIamPolicy": {
      "get": {
        "operationId": "healthcare.projects.locations.datasets.hl7V2Stores.getIamPolicy",
        "tags": [
          "projects.locations.datasets.hl7V2Stores"
        ],
        "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hl7V2StoresId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "options.requestedPolicyVersion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/cloud-healthcare",
          "https://www.googleapis.com/auth/cloud-platform"
        ]
      }
    },
    "/v1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/hl7V2Stores/{hl7V2StoresId}:rollback": {
      "post": {
        "operationId": "healthcare.projects.locations.datasets.hl7V2Stores.rollback",
        "tags": [
          "projects.locations.datasets.hl7V2Stores"
        ],
        "description": "Rolls back messages from the HL7v2 store to the specified time. This method returns an Operation that can be used to track the status of the rollback by calling GetOperation. Immediate fatal errors appear in the error field, errors are also logged to Cloud Logging (see [Viewing error logs in Cloud Logging](https://cloud.google.com/healthcare/docs/how-tos/logging)). Otherwise, when the operation finishes, a detailed response of type RollbackHl7V2MessagesResponse is returned in the response field. The metadata field type for this operation is OperationMetadata.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hl7V2StoresId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
[...]
