{
  "openapi": "3.0.3",
  "info": {
    "title": "Google Sheets API",
    "version": "v4",
    "description": "Reads and writes Google Sheets.",
    "x-openfn-adaptor": "googlesheets",
    "x-discovery-name": "sheets",
    "x-discovery-revision": "20260626"
  },
  "servers": [
    {
      "url": "https://sheets.googleapis.com"
    }
  ],
  "paths": {
    "/v4/spreadsheets/{spreadsheetId}": {
      "get": {
        "operationId": "sheets.spreadsheets.get",
        "tags": [
          "spreadsheets"
        ],
        "description": "Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. By default, data within grids is not returned. You can include grid data in one of 2 ways: * Specify a [field mask](https://developers.google.com/workspace/sheets/api/guides/field-masks) listing your desired fields using the `fields` URL parameter in HTTP * Set the includeGridData URL parameter to true. If a field mask is set, the `includeGridData` parameter is ignored For large spreadsheets, as a best practice, retrieve only the specific spreadsheet fields that you want. To retrieve only subsets of spreadsheet data, use the ranges URL parameter. Ranges are specified using [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell). You can define a single cell (for example, `A1`) or multiple cells (for example, `A1:D5`). You can also get cells from other sheets within the same spreadsheet (for example, `Sheet2!A1:C4`) or retrieve multiple ranges at once (for example, `?ranges=A1:D5&ranges=Sheet2!A1:C4`). Limiting the range returns only the portions of the spreadsheet that intersect the requested ranges.",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The spreadsheet to request."
          },
          {
            "name": "includeGridData",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "True if grid data should be returned. This parameter is ignored if a field mask was set in the request."
          },
          {
            "name": "excludeTablesInBandedRanges",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "True if tables should be excluded in the banded ranges. False if not set."
          },
          {
            "name": "ranges",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The ranges to retrieve from the spreadsheet."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spreadsheet"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/drive",
          "https://www.googleapis.com/auth/drive.file",
          "https://www.googleapis.com/auth/drive.readonly",
          "https://www.googleapis.com/auth/spreadsheets",
          "https://www.googleapis.com/auth/spreadsheets.readonly"
        ]
      }
    },
    "/v4/spreadsheets": {
      "post": {
        "operationId": "sheets.spreadsheets.create",
        "tags": [
          "spreadsheets"
        ],
        "description": "Creates a spreadsheet, returning the newly created spreadsheet.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Spreadsheet"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spreadsheet"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/drive",
          "https://www.googleapis.com/auth/drive.file",
          "https://www.googleapis.com/auth/spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}:getByDataFilter": {
      "post": {
        "operationId": "sheets.spreadsheets.getByDataFilter",
        "tags": [
          "spreadsheets"
        ],
        "description": "Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). This method differs from GetSpreadsheet in that it allows selecting which subsets of spreadsheet data to return by specifying a dataFilters parameter. Multiple DataFilters can be specified. Specifying one or more data filters returns the portions of the spreadsheet that intersect ranges matched by any of the filters. By default, data within grids is not returned. You can include grid data in one of two ways: * Specify a [field mask](https://developers.google.com/workspace/sheets/api/guides/field-masks) listing your desired fields using the `fields` URL parameter in HTTP. * Set the includeGridData parameter to `true`. If a field mask is set, the `includeGridData` parameter is ignored. For large spreadsheets, as a best practice, retrieve only the specific spreadsheet fields that you want.",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The spreadsheet to request."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSpreadsheetByDataFilterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spreadsheet"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/drive",
          "https://www.googleapis.com/auth/drive.file",
          "https://www.googleapis.com/auth/spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}:batchUpdate": {
      "post": {
        "operationId": "sheets.spreadsheets.batchUpdate",
        "tags": [
          "spreadsheets"
        ],
        "description": "Applies one or more updates to the spreadsheet. Each request is validated before being applied. If any request is not valid then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. The replies will mirror the requests. For example, if you applied 4 updates and the 3rd one had a reply, then the response will have 2 empty replies, the actual reply, and another empty reply, in that order. Due to the collaborative nature of spreadsheets, it is not guaranteed that the spreadsheet will reflect exactly your changes after this completes, however it is guaranteed that the updates in the request will be applied together atomically. Your changes may be altered with respect to collaborator changes. If there are no collaborators, the spreadsheet should reflect your changes.",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The spreadsheet to apply the updates to."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchUpdateSpreadsheetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUpdateSpreadsheetResponse"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/drive",
          "https://www.googleapis.com/auth/drive.file",
          "https://www.googleapis.com/auth/spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values:batchUpdate": {
      "post": {
        "operationId": "sheets.spreadsheets.values.batchUpdate",
        "tags": [
          "spreadsheets.values"
        ],
        "description": "Sets values in one or more ranges of a spreadsheet. The caller must specify the spreadsheet ID, a valueInputOption, and one or more ValueRanges.",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the spreadsheet to update."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchUpdateValuesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUpdateValuesResponse"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/drive",
          "https://www.googleapis.com/auth/drive.file",
          "https://www.googleapis.com/auth/spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values:batchClearByDataFilter": {
      "post": {
        "operationId": "sheets.spreadsheets.values.batchClearByDataFilter",
        "tags": [
          "spreadsheets.values"
        ],
        "description": "Clears one or more ranges of values from a spreadsheet. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). The caller must specify the spreadsheet ID and one or more DataFilters. Ranges matching any of the specified data filters will be cleared. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc.) are kept.",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the spreadsheet to update."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchClearValuesByDataFilterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchClearValuesByDataFilterResponse"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/drive",
          "https://www.googleapis.com/auth/drive.file",
          "https://www.googleapis.com/auth/spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values/{range}": {
      "get": {
        "operationId": "sheets.spreadsheets.values.get",
        "tags": [
          "spreadsheets.values"
        ],
        "description": "Returns a range of values from a spreadsheet. The caller must specify the spreadsheet ID and a range.",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the spreadsheet to retrieve data from."
          },
          {
            "name": "range",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the range to retrieve values from."
          },
          {
            "name": "majorDimension",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "DIMENSION_UNSPECIFIED",
                "ROWS",
                "COLUMNS"
              ]
            },
            "description": "The major dimension that results should use. For example, if the spreadsheet data in Sheet1 is: `A1=1,B1=2,A2=3,B2=4`, then requesting `range=Sheet1!A1:B2?majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `range=Sheet1!A1:B2?majorDimension=COLUMNS` returns `[[1,3],[2,4]]`."
          },
          {
            "name": "valueRenderOption",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "FORMATTED_VALUE",
                "UNFORMATTED_VALUE",
                "FORMULA"
              ]
            },
            "description": "How values should be represented in the output. The default render option is FORMATTED_VALUE."
          },
          {
            "name": "dateTimeRenderOption",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "SERIAL_NUMBER",
                "FORMATTED_STRING"
              ]
            },
            "description": "How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValueRange"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/drive",
          "https://www.googleapis.com/auth/drive.file",
          "https://www.googleapis.com/auth/drive.readonly",
          "https://www.googleapis.com/auth/spreadsheets",
          "https://www.googleapis.com/auth/spreadsheets.readonly"
        ]
      },
      "put": {
        "operationId": "sheets.spreadsheets.values.update",
        "tags": [
          "spreadsheets.values"
        ],
        "description": "Sets values in a range of a spreadsheet. The caller must specify the spreadsheet ID, range, and a valueInputOption.",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the spreadsheet to update."
          },
          {
            "name": "range",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the values to update."
          },
          {
            "name": "responseValueRenderOption",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "FORMATTED_VALUE",
                "UNFORMATTED_VALUE",
                "FORMULA"
              ]
            },
            "description": "Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE."
          },
          {
            "name": "responseDateTimeRenderOption",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "SERIAL_NUMBER",
                "FORMATTED_STRING"
              ]
            },
            "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER."
          },
          {
            "name": "includeValuesInResponse",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Determines if the update response should include the values of the cells that were updated. By default, responses do not include the updated values. If the range to write was larger than the range actually written, the response includes all values in the requested range (excluding trailing empty rows and columns)."
          },
          {
            "name": "valueInputOption",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "INPUT_VALUE_OPTION_UNSPECIFIED",
                "RAW",
                "USER_ENTERED"
              ]
            },
            "description": "How the input data should be interpreted."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueRange"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateValuesResponse"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/drive",
          "https://www.googleapis.com/auth/drive.file",
          "https://www.googleapis.com/auth/spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values:batchGetByDataFilter": {
      "post": {
        "operationId": "sheets.spreadsheets.values.batchGetByDataFilter",
        "tags": [
          "spreadsheets.values"
        ],
        "description": "Returns one or more ranges of values that match the specified data filters. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). The caller must specify the spreadsheet ID and one or more DataFilters. Ranges that match any of the data filters in the request will be returned.",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the spreadsheet to retrieve data from."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchGetValuesByDataFilterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchGetValuesByDataFilterResponse"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/drive",
          "https://www.googleapis.com/auth/drive.file",
          "https://www.googleapis.com/auth/spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values:batchClear": {
      "post": {
        "operationId": "sheets.spreadsheets.values.batchClear",
        "tags": [
          "spreadsheets.values"
        ],
        "description": "Clears one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges. Only values are cleared -- all other properties of the cell (such as formatting and data validation) are kept.",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the spreadsheet to update."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchClearValuesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchClearValuesResponse"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/drive",
          "https://www.googleapis.com/auth/drive.file",
          "https://www.googleapis.com/auth/spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values/{range}:clear": {
      "post": {
        "operationId": "sheets.spreadsheets.values.clear",
        "tags": [
          "spreadsheets.values"
        ],
        "description": "Clears values from a spreadsheet. The caller must specify the spreadsheet ID and range. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc..) are kept.",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the spreadsheet to update."
          },
          {
            "name": "range",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the values to clear."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClearValuesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClearValuesResponse"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/drive",
          "https://www.googleapis.com/auth/drive.file",
          "https://www.googleapis.com/auth/spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values:batchGet": {
      "get": {
        "operationId": "sheets.spreadsheets.values.batchGet",
        "tags": [
          "spreadsheets.values"
        ],
        "description": "Returns one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges.",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the spreadsheet to retrieve data from."
          },
          {
            "name": "ranges",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the range to retrieve values from."
          },
          {
            "name": "dateTimeRenderOption",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "SERIAL_NUMBER",
                "FORMATTED_STRING"
              ]
            },
            "description": "How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER."
          },
          {
            "name": "majorDimension",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "DIMENSION_UNSPECIFIED",
                "ROWS",
                "COLUMNS"
              ]
            },
            "description": "The major dimension that results should use. For example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then requesting `ranges=[\"A1:B2\"],majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `ranges=[\"A1:B2\"],majorDimension=COLUMNS` returns `[[1,3],[2,4]]`."
          },
          {
            "name": "valueRenderOption",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "FORMATTED_VALUE",
                "UNFORMATTED_VALUE",
                "FORMULA"
              ]
            },
            "description": "How values should be represented in the output. The default render option is ValueRenderOption.FORMATTED_VALUE."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchGetValuesResponse"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/drive",
          "https://www.googleapis.com/auth/drive.file",
          "https://www.googleapis.com/auth/drive.readonly",
          "https://www.googleapis.com/auth/spreadsheets",
          "https://www.googleapis.com/auth/spreadsheets.readonly"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values:batchUpdateByDataFilter": {
      "post": {
        "operationId": "sheets.spreadsheets.values.batchUpdateByDataFilter",
        "tags": [
          "spreadsheets.values"
        ],
        "description": "Sets values in one or more ranges of a spreadsheet. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). The caller must specify the spreadsheet ID, a valueInputOption, and one or more DataFilterValueRanges.",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the spreadsheet to update."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchUpdateValuesByDataFilterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUpdateValuesByDataFilterResponse"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/drive",
          "https://www.googleapis.com/auth/drive.file",
          "https://www.googleapis.com/auth/spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values/{range}:append": {
      "post": {
        "operationId": "sheets.spreadsheets.values.append",
        "tags": [
          "spreadsheets.values"
        ],
        "description": "Appends values to a spreadsheet. The input range is used to search for existing data and find a \"table\" within that range. Values will be appended to the next row of the table, starting with the first column of the table. See the [guide](https://developers.google.com/workspace/sheets/api/guides/values#appending_values) and [sample code](https://developers.google.com/workspace/sheets/api/samples/writing#append_values) for specific details of how tables are detected and data is appended. The caller must specify the spreadsheet ID, range, and a valueInputOption. The `valueInputOption` only controls how the input data will be added to the sheet (column-wise or row-wise), it does not influence what cell the data starts being written to.",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the spreadsheet to update."
          },
          {
            "name": "range",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of a range to search for a logical table of data. Values are appended after the last row of the table."
          },
          {
            "name": "insertDataOption",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "OVERWRITE",
                "INSERT_ROWS"
              ]
            },
            "description": "How the input data should be inserted."
          },
          {
            "name": "responseValueRenderOption",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "FORMATTED_VALUE",
                "UNFORMATTED_VALUE",
                "FORMULA"
              ]
            },
            "description": "Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE."
          },
          {
            "name": "responseDateTimeRenderOption",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "SERIAL_NUMBER",
                "FORMATTED_STRING"
              ]
            },
            "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER."
          },
          {
            "name": "includeValuesInResponse",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Determines if the update response should include the values of the cells that were appended. By default, responses do not include the updated values."
          },
          {
            "name": "valueInputOption",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "INPUT_VALUE_OPTION_UNSPECIFIED",
                "RAW",
                "USER_ENTERED"
              ]
            },
            "description": "How the input data should be interpreted."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueRange"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppendValuesResponse"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/drive",
          "https://www.googleapis.com/auth/drive.file",
          "https://www.googleapis.com/auth/spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}": {
      "get": {
        "operationId": "sheets.spreadsheets.developerMetadata.get",
        "tags": [
          "spreadsheets.developerMetadata"
        ],
        "description": "Returns the developer metadata with the specified ID. The caller must specify the spreadsheet ID and the developer metadata's unique metadataId. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata).",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the spreadsheet to retrieve metadata from."
          },
          {
            "name": "metadataId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The ID of the developer metadata to retrieve."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeveloperMetadata"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/drive",
          "https://www.googleapis.com/auth/drive.file",
          "https://www.googleapis.com/auth/spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/developerMetadata:search": {
      "post": {
        "operationId": "sheets.spreadsheets.developerMetadata.search",
        "tags": [
          "spreadsheets.developerMetadata"
        ],
        "description": "Returns all developer metadata matching the specified DataFilter. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). If the provided DataFilter represents a DeveloperMetadataLookup object, this will return all DeveloperMetadata entries selected by it. If the DataFilter represents a location in a spreadsheet, this will return all developer metadata associated with locations intersecting that region.",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the spreadsheet to retrieve metadata from."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchDeveloperMetadataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchDeveloperMetadataResponse"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/drive",
          "https://www.googleapis.com/auth/drive.file",
          "https://www.googleapis.com/auth/spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo": {
      "post": {
        "operationId": "sheets.spreadsheets.sheets.copyTo",
        "tags": [
          "spreadsheets.sheets"
        ],
        "description": "Copies a single sheet from a spreadsheet to another spreadsheet. Returns the properties of the newly created sheet.",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the spreadsheet containing the sheet to copy."
          },
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The ID of the sheet to copy."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CopySheetToAnotherSpreadsheetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SheetProperties"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/drive",
          "https://www.googleapis.com/auth/drive.file",
          "https://www.googleapis.com/auth/spreadsheets"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "BandingProperties": {
        "type": "object",
        "description": "Properties referring a single dimension (either row or column). If both BandedRange.row_properties and BandedRange.column_properties are set, the fill colors are applied to cells according to the following rules: * header_color and footer_color take priority over band colors. * first_band_color takes priority over second_band_color. * row_properties takes priority over column_properties. For example, the first row color takes priority over the first column color, but the first column color takes priority over the second row color. Similarly, the row header takes priority over the column header in the top left cell, but the column header takes priority over the first row color if the row header is not set.",
        "properties": {
          "headerColor": {
            "$ref": "#/components/schemas/Color"
          },
          "footerColorStyle": {
            "$ref": "#/components/schemas/ColorStyle"
          },
          "secondBandColorStyle": {
            "$ref": "#/components/schemas/ColorStyle"
          },
          "firstBandColor": {
            "$ref": "#/components/schemas/Color"
          },
          "secondBandColor": {
            "$ref": "#/components/schemas/Color"
          },
          "firstBandColorStyle": {
            "$ref": "#/components/schemas/ColorStyle"
          },
          "footerColor": {
            "$ref": "#/components/schemas/Color"
          },
          "headerColorStyle": {
            "$ref": "#/components/schemas/ColorStyle"
          }
        }
      },
      "PivotGroupSortValueBucket": {
        "type": "object",
        "description": "Information about which values in a pivot group should be used for sorting.",
        "properties": {
          "buckets": {
            "type": "array",
            "description": "Determines the bucket from which values are chosen to sort. For example, in a pivot table with one row group & two column groups, the row group can list up to two values. The first value corresponds to a value within the first column group, and the second value corresponds to a value in the second column group. If no values are listed, this would indicate that the row should be sorted according to the \"Grand Total\" over the column groups. If a single value is listed, this would correspond to using the \"Total\" of that bucket.",
            "items": {
              "$ref": "#/components/schemas/ExtendedValue"
            }
          },
          "valuesIndex": {
            "type": "integer",
            "format": "int32",
            "description": "The offset in the PivotTable.values list which the values in this grouping should be sorted by."
          }
        }
      },
      "BatchUpdateValuesByDataFilterRequest": {
        "type": "object",
        "description": "The request for updating more than one range of values in a spreadsheet.",
        "properties": {
          "includeValuesInResponse": {
            "type": "boolean",
            "description": "Determines if the update response should include the values of the cells that were updated. By default, responses do not include the updated values. The `updatedData` field within each of the BatchUpdateValuesResponse.responses contains the updated values. If the range to write was larger than the range actually written, the response includes all values in the requested range (excluding trailing empty rows and columns)."
          },
          "responseValueRenderOption": {
            "type": "string",
            "description": "Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.",
            "enum": [
              "FORMATTED_VALUE",
              "UNFORMATTED_VALUE",
              "FORMULA"
            ]
          },
          "responseDateTimeRenderOption": {
            "type": "string",
            "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
            "enum": [
              "SERIAL_NUMBER",
              "FORMATTED_STRING"
            ]
          },
          "valueInputOption": {
            "type": "string",
            "description": "How the input data should be interpreted.",
            "enum": [
              "INPUT_VALUE_OPTION_UNSPECIFIED",
              "RAW",
              "USER_ENTERED"
            ]
          },
          "data": {
            "type": "array",
            "description": "The new values to apply to the spreadsheet. If more than one range is matched by the specified DataFilter the specified values are applied to all of those ranges.",
            "items": {
              "$ref": "#/components/schemas/DataFilterValueRange"
            }
          }
        }
      },
      "TableRowsProperties": {
        "type": "object",
        "description": "The table row properties.",
[...]
