{
  "openapi": "3.0.3",
  "info": {
    "description": "OpenMRS RESTful API documentation generated by Swagger",
    "version": "2.5.14",
    "title": "OpenMRS API Docs",
    "contact": {
      "name": "OpenMRS",
      "url": "http://openmrs.org"
    },
    "license": {
      "name": "MPL-2.0 w/ HD",
      "url": "http://openmrs.org/license"
    },
    "x-openfn-adaptor": "openmrs"
  },
  "servers": [
    {
      "url": "http://demo.standard.mybahmni.in/openmrs/ws/rest/v1"
    }
  ],
  "paths": {
    "/bahmniprogramenrollment": {
      "get": {
        "tags": [
          "bahmniprogramenrollment"
        ],
        "summary": "Search for bahmniprogramenrollment",
        "description": "At least one search parameter must be specified",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "The offset at which to start",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "The search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "bahmniprogramenrollment response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              }
            }
          }
        },
        "operationId": "getAllBahmniProgramEnrollments"
      },
      "post": {
        "tags": [
          "bahmniprogramenrollment"
        ],
        "summary": "Create with properties in request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BahmniprogramenrollmentCreate"
              }
            }
          },
          "required": true,
          "description": "Resource to create"
        },
        "responses": {
          "201": {
            "description": "bahmniprogramenrollment response"
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "createBahmniProgramEnrollment"
      }
    },
    "/bahmniprogramenrollment/{uuid}": {
      "get": {
        "tags": [
          "bahmniprogramenrollment"
        ],
        "summary": "Fetch by uuid",
        "parameters": [
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid to filter by",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "bahmniprogramenrollment response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BahmniprogramenrollmentGet"
                }
              }
            }
          },
          "401": {
            "description": "User not logged in"
          },
          "404": {
            "description": "Resource with given uuid doesn't exist"
          }
        },
        "operationId": "getBahmniProgramEnrollment"
      },
      "post": {
        "tags": [
          "bahmniprogramenrollment"
        ],
        "summary": "Edit with given uuid, only modifying properties in request",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid of resource to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BahmniprogramenrollmentUpdate"
              }
            }
          },
          "required": true,
          "description": "Resource properties to update"
        },
        "responses": {
          "201": {
            "description": "bahmniprogramenrollment response"
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "updateBahmniProgramEnrollment"
      },
      "delete": {
        "tags": [
          "bahmniprogramenrollment"
        ],
        "summary": "Delete or purge resource by uuid",
        "description": "The resource will be voided/retired unless purge = 'true'",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "purge",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete successful"
          },
          "401": {
            "description": "User not logged in"
          },
          "404": {
            "description": "Resource with given uuid doesn't exist"
          }
        },
        "operationId": "deleteBahmniProgramEnrollment"
      }
    },
    "/drugreferencemap": {
      "get": {
        "tags": [
          "drugreferencemap"
        ],
        "summary": "Search for drugreferencemap",
        "description": "At least one search parameter must be specified",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "The offset at which to start",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "The search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "drugreferencemap response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              }
            }
          }
        },
        "operationId": "getAllDrugReferenceMaps"
      },
      "post": {
        "tags": [
          "drugreferencemap"
        ],
        "summary": "Create with properties in request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DrugreferencemapCreate"
              }
            }
          },
          "required": true,
          "description": "Resource to create"
        },
        "responses": {
          "201": {
            "description": "drugreferencemap response"
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "createDrugReferenceMap"
      }
    },
    "/drugreferencemap/{uuid}": {
      "get": {
        "tags": [
          "drugreferencemap"
        ],
        "summary": "Fetch by uuid",
        "parameters": [
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid to filter by",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "drugreferencemap response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DrugreferencemapGet"
                }
              }
            }
          },
          "401": {
            "description": "User not logged in"
          },
          "404": {
            "description": "Resource with given uuid doesn't exist"
          }
        },
        "operationId": "getDrugReferenceMap"
      },
      "post": {
        "tags": [
          "drugreferencemap"
        ],
        "summary": "Edit with given uuid, only modifying properties in request",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid of resource to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DrugreferencemapUpdate"
              }
            }
          },
          "required": true,
          "description": "Resource properties to update"
        },
        "responses": {
          "201": {
            "description": "drugreferencemap response"
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "updateDrugReferenceMap"
      },
      "delete": {
        "tags": [
          "drugreferencemap"
        ],
        "summary": "Delete or purge resource by uuid",
        "description": "The resource will be voided/retired unless purge = 'true'",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "purge",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete successful"
          },
          "401": {
            "description": "User not logged in"
          },
          "404": {
            "description": "Resource with given uuid doesn't exist"
          }
        },
        "operationId": "deleteDrugReferenceMap"
      }
    },
    "/apptemplate": {
      "get": {
        "tags": [
          "apptemplate"
        ],
        "summary": "Fetch all non-retired",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "The offset at which to start",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "apptemplate response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              }
            }
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "getAllAppTemplates"
      }
    },
    "/apptemplate/{uuid}": {
      "get": {
        "tags": [
          "apptemplate"
        ],
        "summary": "Fetch by uuid",
        "parameters": [
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid to filter by",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "apptemplate response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApptemplateGet"
                }
              }
            }
          },
          "401": {
            "description": "User not logged in"
          },
          "404": {
            "description": "Resource with given uuid doesn't exist"
          }
        },
        "operationId": "getAppTemplate"
      }
    },
    "/admissionLocation": {
      "get": {
        "tags": [
          "admissionLocation"
        ],
        "summary": "Fetch all non-retired admissionLocation resources or perform search",
        "description": "All search parameters are optional",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "The offset at which to start",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "The search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "admissionLocation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              }
            }
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "getAllAdmissionLocations"
      },
      "post": {
        "tags": [
          "admissionLocation"
        ],
        "summary": "Create with properties in request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdmissionLocationCreate"
              }
            }
          },
          "required": true,
          "description": "Resource to create"
        },
        "responses": {
          "201": {
            "description": "admissionLocation response"
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "createAdmissionLocation"
      }
    },
    "/admissionLocation/{uuid}": {
      "get": {
        "tags": [
          "admissionLocation"
        ],
        "summary": "Fetch by uuid",
        "parameters": [
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid to filter by",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "admissionLocation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdmissionLocationGet"
                }
              }
            }
          },
          "401": {
            "description": "User not logged in"
          },
          "404": {
            "description": "Resource with given uuid doesn't exist"
          }
        },
        "operationId": "getAdmissionLocation"
      },
      "post": {
        "tags": [
          "admissionLocation"
        ],
        "summary": "Edit with given uuid, only modifying properties in request",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid of resource to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdmissionLocationUpdate"
              }
            }
          },
          "required": true,
          "description": "Resource properties to update"
        },
        "responses": {
          "201": {
            "description": "admissionLocation response"
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "updateAdmissionLocation"
      },
      "delete": {
        "tags": [
          "admissionLocation"
        ],
        "summary": "Delete or purge resource by uuid",
        "description": "The resource will be voided/retired unless purge = 'true'",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "purge",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete successful"
          },
          "401": {
            "description": "User not logged in"
          },
          "404": {
            "description": "Resource with given uuid doesn't exist"
          }
        },
        "operationId": "deleteAdmissionLocation"
      }
    },
    "/bedPatientAssignment": {
      "get": {
        "tags": [
          "bedPatientAssignment"
        ],
        "summary": "Search for bedPatientAssignment",
        "description": "At least one search parameter must be specified",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "The offset at which to start",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "The search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "bedPatientAssignment response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              }
            }
          }
        },
        "operationId": "getAllBedPatientAssignments"
      }
    },
    "/bedPatientAssignment/{uuid}": {
      "get": {
        "tags": [
          "bedPatientAssignment"
        ],
        "summary": "Fetch by uuid",
        "parameters": [
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid to filter by",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "bedPatientAssignment response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BedPatientAssignmentGet"
                }
              }
            }
          },
          "401": {
            "description": "User not logged in"
          },
          "404": {
            "description": "Resource with given uuid doesn't exist"
          }
        },
        "operationId": "getBedPatientAssignment"
      },
      "delete": {
        "tags": [
          "bedPatientAssignment"
        ],
        "summary": "Delete or purge resource by uuid",
        "description": "The resource will be voided/retired unless purge = 'true'",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "purge",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete successful"
          },
          "401": {
            "description": "User not logged in"
          },
          "404": {
            "description": "Resource with given uuid doesn't exist"
          }
        },
        "operationId": "deleteBedPatientAssignment"
      }
    },
    "/field": {
      "get": {
        "tags": [
          "field"
        ],
        "summary": "Fetch all non-retired field resources or perform search",
        "description": "All search parameters are optional",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "The offset at which to start",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "The search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "field response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              }
            }
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "getAllFields"
      },
      "post": {
        "tags": [
          "field"
        ],
        "summary": "Create with properties in request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldCreate"
              }
            }
          },
          "required": true,
          "description": "Resource to create"
        },
        "responses": {
          "201": {
            "description": "field response"
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "createField"
      }
    },
    "/field/{uuid}": {
      "get": {
        "tags": [
          "field"
        ],
        "summary": "Fetch by uuid",
        "parameters": [
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid to filter by",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "field response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldGet"
                }
              }
            }
          },
          "401": {
            "description": "User not logged in"
          },
          "404": {
            "description": "Resource with given uuid doesn't exist"
          }
        },
        "operationId": "getField"
      },
      "post": {
        "tags": [
          "field"
        ],
        "summary": "Edit with given uuid, only modifying properties in request",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid of resource to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldUpdate"
              }
            }
          },
          "required": true,
          "description": "Resource properties to update"
        },
        "responses": {
          "201": {
            "description": "field response"
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "updateField"
      },
      "delete": {
        "tags": [
          "field"
        ],
        "summary": "Delete or purge resource by uuid",
        "description": "The resource will be voided/retired unless purge = 'true'",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "purge",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete successful"
          },
          "401": {
            "description": "User not logged in"
          },
          "404": {
            "description": "Resource with given uuid doesn't exist"
          }
        },
        "operationId": "deleteField"
      }
    },
    "/bedTagMap": {
      "get": {
        "tags": [
          "bedTagMap"
        ],
        "summary": "Search for bedTagMap",
        "description": "At least one search parameter must be specified",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "The offset at which to start",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "The search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "bedTagMap response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              }
            }
          }
        },
        "operationId": "getAllBedTagMaps"
      },
      "post": {
        "tags": [
          "bedTagMap"
        ],
        "summary": "Create with properties in request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BedTagMapCreate"
              }
            }
          },
          "required": true,
          "description": "Resource to create"
        },
        "responses": {
          "201": {
            "description": "bedTagMap response"
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "createBedTagMap"
      }
    },
    "/bedTagMap/{uuid}": {
      "get": {
        "tags": [
          "bedTagMap"
        ],
        "summary": "Fetch by uuid",
        "parameters": [
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid to filter by",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "bedTagMap response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BedTagMapGet"
                }
              }
            }
          },
          "401": {
            "description": "User not logged in"
          },
          "404": {
            "description": "Resource with given uuid doesn't exist"
          }
        },
        "operationId": "getBedTagMap"
      },
      "post": {
        "tags": [
          "bedTagMap"
        ],
        "summary": "Edit with given uuid, only modifying properties in request",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid of resource to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BedTagMapUpdate"
              }
            }
          },
          "required": true,
          "description": "Resource properties to update"
        },
        "responses": {
          "201": {
            "description": "bedTagMap response"
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "updateBedTagMap"
      },
      "delete": {
        "tags": [
          "bedTagMap"
        ],
        "summary": "Delete or purge resource by uuid",
        "description": "The resource will be voided/retired unless purge = 'true'",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "purge",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete successful"
          },
          "401": {
            "description": "User not logged in"
          },
          "404": {
            "description": "Resource with given uuid doesn't exist"
          }
        },
        "operationId": "deleteBedTagMap"
      }
    },
    "/conceptsearch": {
      "get": {
        "tags": [
          "conceptsearch"
        ],
        "summary": "Search for conceptsearch",
        "description": "At least one search parameter must be specified",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "The offset at which to start",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "The search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "conceptsearch response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              }
            }
          }
        },
        "operationId": "getAllConceptSearches"
      }
    },
    "/bahmniconceptanswer": {
      "get": {
        "tags": [
          "bahmniconceptanswer"
        ],
        "summary": "Search for bahmniconceptanswer",
        "description": "At least one search parameter must be specified",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "The offset at which to start",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "The search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "question",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "bahmniconceptanswer response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              }
            }
          }
        },
        "operationId": "getAllBahmniConceptAnswers"
      }
    },
    "/hl7": {
      "get": {
        "tags": [
          "hl7"
        ],
        "summary": "Search for hl7",
        "description": "At least one search parameter must be specified",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "The offset at which to start",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "The search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "hl7 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              }
            }
          }
        },
        "operationId": "getAllHL7Messages"
      },
      "post": {
        "tags": [
          "hl7"
        ],
        "summary": "Create with properties in request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Hl7Create"
              }
            }
          },
          "required": true,
          "description": "Resource to create"
        },
        "responses": {
          "201": {
            "description": "hl7 response"
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "createHL7Message"
      }
    },
    "/encounter": {
      "get": {
        "tags": [
          "encounter"
        ],
        "summary": "Search for encounter",
        "description": "At least one search parameter must be specified",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "The offset at which to start",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "The search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "obsConcept",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "obsValues",
            "in": "query",
            "description": "Must be used with patient and obsConcept",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "todate",
            "in": "query",
            "description": "Must be used with patient",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "encounterType",
            "in": "query",
            "description": "Must be used with patient",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromdate",
            "in": "query",
            "description": "Must be used with patient",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Must be used with patient",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "encounter response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              }
            }
          }
        },
        "operationId": "getAllBahmniEncounters"
      },
      "post": {
        "tags": [
          "encounter"
        ],
        "summary": "Create with properties in request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EncounterCreate"
              }
            }
          },
          "required": true,
          "description": "Resource to create"
        },
        "responses": {
          "201": {
            "description": "encounter response"
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "createBahmniEncounter"
      }
    },
    "/encounter/{uuid}": {
      "get": {
        "tags": [
          "encounter"
        ],
        "summary": "Fetch by uuid",
        "parameters": [
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid to filter by",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "encounter response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EncounterGet"
                }
              }
            }
          },
          "401": {
            "description": "User not logged in"
          },
          "404": {
            "description": "Resource with given uuid doesn't exist"
          }
        },
        "operationId": "getBahmniEncounter"
      },
      "post": {
        "tags": [
          "encounter"
        ],
        "summary": "Edit with given uuid, only modifying properties in request",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid of resource to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EncounterUpdate"
              }
            }
          },
          "required": true,
          "description": "Resource properties to update"
        },
        "responses": {
          "201": {
            "description": "encounter response"
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "updateBahmniEncounter"
      },
      "delete": {
        "tags": [
          "encounter"
        ],
        "summary": "Delete or purge resource by uuid",
        "description": "The resource will be voided/retired unless purge = 'true'",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "purge",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete successful"
          },
          "401": {
            "description": "User not logged in"
          },
          "404": {
            "description": "Resource with given uuid doesn't exist"
          }
        },
        "operationId": "deleteBahmniEncounter"
      }
    },
    "/specimen": {
      "get": {
        "tags": [
          "specimen"
        ],
        "summary": "Search for specimen",
        "description": "At least one search parameter must be specified",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "The offset at which to start",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "The search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patientProgramUuid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "specimen response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              }
            }
          }
        },
        "operationId": "getAllSpecimens"
      },
      "post": {
        "tags": [
          "specimen"
        ],
        "summary": "Create with properties in request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpecimenCreate"
              }
            }
          },
          "required": true,
          "description": "Resource to create"
        },
        "responses": {
          "201": {
            "description": "specimen response"
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "createSpecimen"
      }
    },
    "/specimen/{uuid}": {
      "get": {
        "tags": [
          "specimen"
        ],
        "summary": "Fetch by uuid",
        "parameters": [
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid to filter by",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "specimen response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpecimenGet"
                }
              }
            }
          },
          "401": {
            "description": "User not logged in"
          },
          "404": {
            "description": "Resource with given uuid doesn't exist"
          }
        },
        "operationId": "getSpecimen"
      },
      "post": {
        "tags": [
          "specimen"
        ],
        "summary": "Edit with given uuid, only modifying properties in request",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid of resource to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpecimenUpdate"
              }
            }
          },
          "required": true,
          "description": "Resource properties to update"
        },
        "responses": {
          "201": {
            "description": "specimen response"
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "updateSpecimen"
      },
      "delete": {
        "tags": [
          "specimen"
        ],
        "summary": "Delete or purge resource by uuid",
        "description": "The resource will be voided/retired unless purge = 'true'",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "purge",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete successful"
          },
          "401": {
            "description": "User not logged in"
          },
          "404": {
            "description": "Resource with given uuid doesn't exist"
          }
        },
        "operationId": "deleteSpecimen"
      }
    },
    "/conceptproposal": {
      "get": {
        "tags": [
          "conceptproposal"
        ],
        "summary": "Fetch all non-retired conceptproposal resources or perform search",
        "description": "All search parameters are optional",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "The offset at which to start",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "The search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "conceptproposal response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              }
            }
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "getAllConceptProposals"
      },
      "post": {
        "tags": [
          "conceptproposal"
        ],
        "summary": "Create with properties in request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Type not documented: the upstream spec references ConceptproposalCreate but does not define it."
              }
            }
          },
          "required": true,
          "description": "Resource to create"
        },
        "responses": {
          "201": {
            "description": "conceptproposal response"
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "createConceptProposal"
      }
    },
    "/conceptproposal/{uuid}": {
      "get": {
        "tags": [
          "conceptproposal"
        ],
        "summary": "Fetch by uuid",
        "parameters": [
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid to filter by",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "conceptproposal response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConceptproposalGet"
                }
              }
            }
          },
          "401": {
            "description": "User not logged in"
          },
          "404": {
            "description": "Resource with given uuid doesn't exist"
          }
        },
        "operationId": "getConceptProposal"
      },
      "post": {
        "tags": [
          "conceptproposal"
        ],
        "summary": "Edit with given uuid, only modifying properties in request",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid of resource to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Type not documented: the upstream spec references ConceptproposalUpdate but does not define it."
              }
            }
          },
          "required": true,
          "description": "Resource properties to update"
        },
        "responses": {
          "201": {
            "description": "conceptproposal response"
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "updateConceptProposal"
      },
      "delete": {
        "tags": [
          "conceptproposal"
        ],
        "summary": "Delete or purge resource by uuid",
        "description": "The resource will be voided/retired unless purge = 'true'",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "purge",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete successful"
          },
          "401": {
            "description": "User not logged in"
          },
          "404": {
            "description": "Resource with given uuid doesn't exist"
          }
        },
        "operationId": "deleteConceptProposal"
      }
    },
    "/databasechange": {
      "get": {
        "tags": [
          "databasechange"
        ],
        "summary": "Fetch all non-retired",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "The offset at which to start",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "databasechange response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              }
            }
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "getAllDatabaseChanges"
      }
    },
    "/databasechange/{uuid}": {
      "get": {
        "tags": [
          "databasechange"
        ],
        "summary": "Fetch by uuid",
        "parameters": [
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid to filter by",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "databasechange response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabasechangeGet"
                }
              }
            }
          },
          "401": {
            "description": "User not logged in"
          },
          "404": {
            "description": "Resource with given uuid doesn't exist"
          }
        },
        "operationId": "getDatabaseChange"
      }
    },
    "/idgen/logentry": {
      "get": {
        "tags": [
          "idgen/logentry"
        ],
        "summary": "Fetch all non-retired idgen/logentry resources or perform search",
        "description": "All search parameters are optional",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "The offset at which to start",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "The search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Must be used with ",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "Must be used with ",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Must be used with ",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "comment",
            "in": "query",
            "description": "Must be used with ",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Must be used with ",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "generatedBy",
            "in": "query",
            "description": "Must be used with ",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "idgen/logentry response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              }
            }
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "getAllLogEntries"
      }
    },
    "/idgen/logentry/{uuid}": {
      "get": {
        "tags": [
          "idgen/logentry"
        ],
        "summary": "Fetch by uuid",
        "parameters": [
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid to filter by",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "idgen/logentry response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdgenLogentryGet"
                }
              }
            }
          },
          "401": {
            "description": "User not logged in"
          },
          "404": {
            "description": "Resource with given uuid doesn't exist"
          }
        },
        "operationId": "getLogEntry"
      },
      "delete": {
        "tags": [
          "idgen/logentry"
        ],
        "summary": "Delete or purge resource by uuid",
        "description": "The resource will be voided/retired unless purge = 'true'",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "purge",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete successful"
          },
          "401": {
            "description": "User not logged in"
          },
          "404": {
            "description": "Resource with given uuid doesn't exist"
          }
        },
        "operationId": "deleteLogEntry"
      }
    },
    "/cohort": {
      "get": {
        "tags": [
          "cohort"
        ],
        "summary": "Fetch all non-retired cohort resources or perform search",
        "description": "All search parameters are optional",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "The offset at which to start",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "The search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "cohort response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              }
            }
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "getAllCohorts"
      },
      "post": {
        "tags": [
          "cohort"
        ],
        "summary": "Create with properties in request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CohortCreate"
              }
            }
          },
          "required": true,
          "description": "Resource to create"
        },
        "responses": {
          "201": {
            "description": "cohort response"
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "createCohort"
      }
    },
    "/cohort/{uuid}": {
      "get": {
        "tags": [
          "cohort"
        ],
        "summary": "Fetch by uuid",
        "parameters": [
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid to filter by",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "cohort response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CohortGet"
                }
              }
            }
          },
          "401": {
            "description": "User not logged in"
          },
          "404": {
            "description": "Resource with given uuid doesn't exist"
          }
        },
        "operationId": "getCohort"
      },
      "post": {
        "tags": [
          "cohort"
        ],
        "summary": "Edit with given uuid, only modifying properties in request",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid of resource to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CohortUpdate"
              }
            }
          },
          "required": true,
          "description": "Resource properties to update"
        },
        "responses": {
          "201": {
            "description": "cohort response"
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "updateCohort"
      },
      "delete": {
        "tags": [
          "cohort"
        ],
        "summary": "Delete or purge resource by uuid",
        "description": "The resource will be voided/retired unless purge = 'true'",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "purge",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete successful"
          },
          "401": {
            "description": "User not logged in"
          },
          "404": {
            "description": "Resource with given uuid doesn't exist"
          }
        },
        "operationId": "deleteCohort"
      }
    },
    "/bedTag": {
      "get": {
        "tags": [
          "bedTag"
        ],
        "summary": "Fetch all non-retired bedTag resources or perform search",
        "description": "All search parameters are optional",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "The offset at which to start",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "The search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "bedTag response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              }
            }
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "getAllBedTags"
      },
      "post": {
        "tags": [
          "bedTag"
        ],
        "summary": "Create with properties in request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BedTagCreate"
              }
            }
          },
          "required": true,
          "description": "Resource to create"
        },
        "responses": {
          "201": {
            "description": "bedTag response"
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "createBedTag"
      }
    },
    "/bedTag/{uuid}": {
      "get": {
        "tags": [
          "bedTag"
        ],
        "summary": "Fetch by uuid",
        "parameters": [
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid to filter by",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "bedTag response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BedTagGet"
                }
              }
            }
          },
          "401": {
            "description": "User not logged in"
          },
          "404": {
            "description": "Resource with given uuid doesn't exist"
          }
        },
        "operationId": "getBedTag"
      },
      "post": {
        "tags": [
          "bedTag"
        ],
        "summary": "Edit with given uuid, only modifying properties in request",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid of resource to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BedTagUpdate"
              }
            }
          },
          "required": true,
          "description": "Resource properties to update"
        },
        "responses": {
          "201": {
            "description": "bedTag response"
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "updateBedTag"
      },
      "delete": {
        "tags": [
          "bedTag"
        ],
        "summary": "Delete or purge resource by uuid",
        "description": "The resource will be voided/retired unless purge = 'true'",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "purge",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete successful"
          },
          "401": {
            "description": "User not logged in"
          },
          "404": {
            "description": "Resource with given uuid doesn't exist"
          }
        },
        "operationId": "deleteBedTag"
      }
    },
    "/bed": {
      "get": {
        "tags": [
          "bed"
        ],
        "summary": "Fetch all non-retired bed resources or perform search",
        "description": "All search parameters are optional",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "The offset at which to start",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "The search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "bed response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              }
            }
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "getAllBeds"
      },
      "post": {
        "tags": [
          "bed"
        ],
        "summary": "Create with properties in request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BedCreate"
              }
            }
          },
          "required": true,
          "description": "Resource to create"
        },
        "responses": {
          "201": {
            "description": "bed response"
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "createBed"
      }
    },
    "/bed/{uuid}": {
      "get": {
        "tags": [
          "bed"
        ],
        "summary": "Fetch by uuid",
        "parameters": [
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid to filter by",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "bed response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BedGet"
                }
              }
            }
          },
          "401": {
            "description": "User not logged in"
          },
          "404": {
            "description": "Resource with given uuid doesn't exist"
          }
        },
        "operationId": "getBed"
      },
      "post": {
        "tags": [
          "bed"
        ],
        "summary": "Edit with given uuid, only modifying properties in request",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid of resource to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BedUpdate"
              }
            }
          },
          "required": true,
          "description": "Resource properties to update"
        },
        "responses": {
          "201": {
            "description": "bed response"
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "updateBed"
      },
      "delete": {
        "tags": [
          "bed"
        ],
        "summary": "Delete or purge resource by uuid",
        "description": "The resource will be voided/retired unless purge = 'true'",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "purge",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete successful"
          },
          "401": {
            "description": "User not logged in"
          },
          "404": {
            "description": "Resource with given uuid doesn't exist"
          }
        },
        "operationId": "deleteBed"
      }
    },
    "/orderfrequency": {
      "get": {
        "tags": [
          "orderfrequency"
        ],
        "summary": "Fetch all non-retired orderfrequency resources or perform search",
        "description": "All search parameters are optional",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "The offset at which to start",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "The search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "orderfrequency response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              }
            }
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "getAllOrderFrequencies"
      },
      "post": {
        "tags": [
          "orderfrequency"
        ],
        "summary": "Create with properties in request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderfrequencyCreate"
              }
            }
          },
          "required": true,
          "description": "Resource to create"
        },
        "responses": {
          "201": {
            "description": "orderfrequency response"
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "createOrderFrequency"
      }
    },
    "/orderfrequency/{uuid}": {
      "get": {
        "tags": [
          "orderfrequency"
        ],
        "summary": "Fetch by uuid",
        "parameters": [
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid to filter by",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "orderfrequency response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderfrequencyGet"
                }
              }
            }
          },
          "401": {
            "description": "User not logged in"
          },
          "404": {
            "description": "Resource with given uuid doesn't exist"
          }
        },
        "operationId": "getOrderFrequency"
      },
      "post": {
        "tags": [
          "orderfrequency"
        ],
        "summary": "Edit with given uuid, only modifying properties in request",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid of resource to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderfrequencyUpdate"
              }
            }
          },
          "required": true,
          "description": "Resource properties to update"
        },
        "responses": {
          "201": {
            "description": "orderfrequency response"
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "updateOrderFrequency"
      },
      "delete": {
        "tags": [
          "orderfrequency"
        ],
        "summary": "Delete or purge resource by uuid",
        "description": "The resource will be voided/retired unless purge = 'true'",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "purge",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete successful"
          },
          "401": {
            "description": "User not logged in"
          },
          "404": {
            "description": "Resource with given uuid doesn't exist"
          }
        },
        "operationId": "deleteOrderFrequency"
      }
    },
    "/openconceptlab/importaction": {
      "get": {
        "tags": [
          "openconceptlab/importaction"
        ],
        "summary": "Search for openconceptlab/importaction",
        "description": "At least one search parameter must be specified",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "The offset at which to start",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "The search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "openconceptlab/importaction response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              }
            }
          }
        },
        "operationId": "getAllImportActions"
      },
      "post": {
        "tags": [
          "openconceptlab/importaction"
        ],
        "summary": "Create with properties in request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Type not documented: the upstream spec references OpenconceptlabImportactionCreate but does not define it."
              }
            }
          },
          "required": true,
          "description": "Resource to create"
        },
        "responses": {
          "201": {
            "description": "openconceptlab/importaction response"
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "createImportAction"
      }
    },
    "/reportingrest/reportDefinition": {
      "get": {
        "tags": [
          "reportingrest/reportDefinition"
        ],
        "summary": "Fetch all non-retired reportingrest/reportDefinition resources or perform search",
        "description": "All search parameters are optional",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "The offset at which to start",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The representation to return (ref, default, full or custom)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ref",
                "default",
                "full",
                "custom"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "The search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "reportingrest/reportDefinition response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAll"
                }
              }
            }
          },
          "401": {
            "description": "User not logged in"
          }
        },
        "operationId": "getAllReportDefinitions"
      },
      "post": {
        "tags": [
          "reportingrest/reportDefinition"
        ],
        "summary": "Create with properties in request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportingrestReportDefinitionCreate"
              }
            }
          },
          "required": true,
[...]
