{
  "openapi": "3.0.3",
  "info": {
    "title": "Gemini API",
    "version": "v1beta",
    "description": "The Gemini API allows developers to build generative AI applications using Gemini models. Gemini is our most capable model, built from the ground up to be multimodal. It can generalize and seamlessly understand, operate across, and combine different types of information including language, images, audio, video, and code. You can use the Gemini API for use cases like reasoning across text and images, content generation, dialogue agents, summarization and classification systems, and more.",
    "x-openfn-adaptor": "gemini",
    "x-discovery-name": "generativelanguage",
    "x-discovery-revision": "20260901"
  },
  "servers": [
    {
      "url": "https://generativelanguage.googleapis.com"
    }
  ],
  "paths": {
    "/v1beta/fileSearchStores": {
      "get": {
        "operationId": "generativelanguage.fileSearchStores.list",
        "tags": [
          "fileSearchStores"
        ],
        "description": "Lists all `FileSearchStores` owned by the user.",
        "parameters": [
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. A page token, received from a previous `ListFileSearchStores` call. Provide the `next_page_token` returned in the response as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListFileSearchStores` must match the call that provided the page token."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Optional. The maximum number of `FileSearchStores` to return (per page). The service may return fewer `FileSearchStores`. If unspecified, at most 10 `FileSearchStores` will be returned. The maximum size limit is 20 `FileSearchStores` per page."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFileSearchStoresResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "generativelanguage.fileSearchStores.create",
        "tags": [
          "fileSearchStores"
        ],
        "description": "Creates an empty `FileSearchStore`.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileSearchStore"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileSearchStore"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/fileSearchStores/{fileSearchStoresId}:importFile": {
      "post": {
        "operationId": "generativelanguage.fileSearchStores.importFile",
        "tags": [
          "fileSearchStores"
        ],
        "description": "Imports a `File` from File Service to a `FileSearchStore`.",
        "parameters": [
          {
            "name": "fileSearchStoresId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/devstorage.read_only"
        ]
      }
    },
    "/v1beta/fileSearchStores/{fileSearchStoresId}": {
      "get": {
        "operationId": "generativelanguage.fileSearchStores.get",
        "tags": [
          "fileSearchStores"
        ],
        "description": "Gets information about a specific `FileSearchStore`.",
        "parameters": [
          {
            "name": "fileSearchStoresId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileSearchStore"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "generativelanguage.fileSearchStores.delete",
        "tags": [
          "fileSearchStores"
        ],
        "description": "Deletes a `FileSearchStore`.",
        "parameters": [
          {
            "name": "fileSearchStoresId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Optional. If set to true, any `Document`s and objects related to this `FileSearchStore` will also be deleted. If false (the default), a `FAILED_PRECONDITION` error will be returned if `FileSearchStore` contains any `Document`s."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/fileSearchStores/{fileSearchStoresId}/upload/operations/{operationsId}": {
      "get": {
        "operationId": "generativelanguage.fileSearchStores.upload.operations.get",
        "tags": [
          "fileSearchStores.upload.operations"
        ],
        "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
        "parameters": [
          {
            "name": "fileSearchStoresId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/fileSearchStores/{fileSearchStoresId}/documents/{documentsId}": {
      "get": {
        "operationId": "generativelanguage.fileSearchStores.documents.get",
        "tags": [
          "fileSearchStores.documents"
        ],
        "description": "Gets information about a specific `Document`.",
        "parameters": [
          {
            "name": "fileSearchStoresId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "generativelanguage.fileSearchStores.documents.delete",
        "tags": [
          "fileSearchStores.documents"
        ],
        "description": "Deletes a `Document`.",
        "parameters": [
          {
            "name": "fileSearchStoresId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Optional. If set to true, any `Chunk`s and objects related to this `Document` will also be deleted. If false (the default), a `FAILED_PRECONDITION` error will be returned if `Document` contains any `Chunk`s."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/fileSearchStores/{fileSearchStoresId}/documents": {
      "get": {
        "operationId": "generativelanguage.fileSearchStores.documents.list",
        "tags": [
          "fileSearchStores.documents"
        ],
        "description": "Lists all `Document`s in a `Corpus`.",
        "parameters": [
          {
            "name": "fileSearchStoresId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. A page token, received from a previous `ListDocuments` call. Provide the `next_page_token` returned in the response as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListDocuments` must match the call that provided the page token."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Optional. The maximum number of `Document`s to return (per page). The service may return fewer `Document`s. If unspecified, at most 10 `Document`s will be returned. The maximum size limit is 20 `Document`s per page."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDocumentsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/fileSearchStores/{fileSearchStoresId}/operations/{operationsId}": {
      "get": {
        "operationId": "generativelanguage.fileSearchStores.operations.get",
        "tags": [
          "fileSearchStores.operations"
        ],
        "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
        "parameters": [
          {
            "name": "fileSearchStoresId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/cachedContents/{cachedContentsId}": {
      "delete": {
        "operationId": "generativelanguage.cachedContents.delete",
        "tags": [
          "cachedContents"
        ],
        "description": "Deletes CachedContent resource.",
        "parameters": [
          {
            "name": "cachedContentsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/devstorage.read_only"
        ]
      },
      "patch": {
        "operationId": "generativelanguage.cachedContents.patch",
        "tags": [
          "cachedContents"
        ],
        "description": "Updates CachedContent resource (only expiration is updatable).",
        "parameters": [
          {
            "name": "cachedContentsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "google-fieldmask"
            },
            "description": "The list of fields to update."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CachedContent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CachedContent"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/devstorage.read_only"
        ]
      },
      "get": {
        "operationId": "generativelanguage.cachedContents.get",
        "tags": [
          "cachedContents"
        ],
        "description": "Reads CachedContent resource.",
        "parameters": [
          {
            "name": "cachedContentsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CachedContent"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/devstorage.read_only"
        ]
      }
    },
    "/v1beta/cachedContents": {
      "get": {
        "operationId": "generativelanguage.cachedContents.list",
        "tags": [
          "cachedContents"
        ],
        "description": "Lists CachedContents.",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Optional. The maximum number of cached contents to return. The service may return fewer than this value. If unspecified, some default (under maximum) number of items will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. A page token, received from a previous `ListCachedContents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCachedContents` must match the call that provided the page token."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCachedContentsResponse"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/devstorage.read_only"
        ]
      },
      "post": {
        "operationId": "generativelanguage.cachedContents.create",
        "tags": [
          "cachedContents"
        ],
        "description": "Creates CachedContent resource.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CachedContent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CachedContent"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/devstorage.read_only"
        ]
      }
    },
    "/v1beta/auth_tokens": {
      "post": {
        "operationId": "generativelanguage.auth_tokens.create",
        "tags": [
          "auth_tokens"
        ],
        "description": "Creates a token that can be used to constrain the behavior of a BidiGenerateContent session.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthToken"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthToken"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/files": {
      "get": {
        "operationId": "generativelanguage.files.list",
        "tags": [
          "files"
        ],
        "description": "Lists the metadata for `File`s owned by the requesting project.",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Optional. Maximum number of `File`s to return per page. If unspecified, defaults to 10. Maximum `page_size` is 100."
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. A page token from a previous `ListFiles` call."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFilesResponse"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/devstorage.read_only"
        ]
      },
      "post": {
        "operationId": "generativelanguage.media.upload",
        "tags": [
          "media"
        ],
        "description": "Creates a `File`.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFileResponse"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/devstorage.read_only"
        ]
      }
    },
    "/v1beta/files/{filesId}": {
      "delete": {
        "operationId": "generativelanguage.files.delete",
        "tags": [
          "files"
        ],
        "description": "Deletes the `File`.",
        "parameters": [
          {
            "name": "filesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/devstorage.read_only"
        ]
      },
      "get": {
        "operationId": "generativelanguage.files.get",
        "tags": [
          "files"
        ],
        "description": "Gets the metadata for the given `File`.",
        "parameters": [
          {
            "name": "filesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/devstorage.read_only"
        ]
      }
    },
    "/v1beta/files:register": {
      "post": {
        "operationId": "generativelanguage.files.register",
        "tags": [
          "files"
        ],
        "description": "Registers a Google Cloud Storage files with FileService. The user is expected to provide Google Cloud Storage URIs and will receive a File resource for each URI in return. Note that the files are not copied, just registered with File API. If one file fails to register, the whole request fails.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterFilesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterFilesResponse"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/devstorage.read_only"
        ]
      }
    },
    "/v1beta/generatedFiles": {
      "get": {
        "operationId": "generativelanguage.generatedFiles.list",
        "tags": [
          "generatedFiles"
        ],
        "description": "Lists the generated files owned by the requesting project.",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Optional. Maximum number of `GeneratedFile`s to return per page. If unspecified, defaults to 10. Maximum `page_size` is 50."
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. A page token from a previous `ListGeneratedFiles` call."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListGeneratedFilesResponse"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/devstorage.read_only"
        ]
      }
    },
    "/v1beta/generatedFiles/{generatedFilesId}/operations/{operationsId}": {
      "get": {
        "operationId": "generativelanguage.generatedFiles.operations.get",
        "tags": [
          "generatedFiles.operations"
        ],
        "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
        "parameters": [
          {
            "name": "generatedFilesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operationsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
[...]
