{"swagger": "2.0", "info": {"title": "OCL API", "description": "OCL API (2.3.201-6fe5b034)", "version": "2.3.201-6fe5b034"}, "host": "api.openconceptlab.org", "schemes": ["https"], "basePath": "/", "consumes": ["application/json"], "produces": ["application/json", "application/zip", "application/fhir+json"], "securityDefinitions": {"Basic": {"type": "basic"}, "Token": {"type": "apiKey", "name": "Authorization", "in": "header"}}, "security": [{"Basic": []}, {"Token": []}], "paths": {"/": {"get": {"operationId": "_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Root"}}}}}}, "tags": [""]}, "parameters": []}, "/$checksum/smart/": {"post": {"operationId": "$checksum_smart_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"description": "Data to generate checksum", "type": "object"}}, {"name": "resource", "in": "query", "description": "Resource type to generate checksum", "required": true, "type": "string", "enum": ["concept_version", "mapping_version", "source_version", "collection_version", "org", "user"], "default": "concept_version"}], "responses": {"200": {"description": "MD5 checksum of the request body for a resource", "schema": {"type": "string"}}}, "tags": ["$checksum"]}, "parameters": []}, "/$checksum/standard/": {"post": {"operationId": "$checksum_standard_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"description": "Data to generate checksum", "type": "object"}}, {"name": "resource", "in": "query", "description": "Resource type to generate checksum", "required": true, "type": "string", "enum": ["concept_version", "mapping_version", "source_version", "collection_version", "org", "user"], "default": "concept_version"}], "responses": {"200": {"description": "MD5 checksum of the request body for a resource", "schema": {"type": "string"}}}, "tags": ["$checksum"]}, "parameters": []}, "/$resolveReference/": {"post": {"operationId": "$resolveReference_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"type": "array", "items": {"required": ["url", "version"], "type": "object", "properties": {"url": {"type": "string"}, "version": {"type": "string"}, "namespace": {"type": "string"}}}}}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ReferenceExpressionResolve"}}}}, "tags": ["$resolveReference"]}, "parameters": []}, "/admin/reports/authored/": {"post": {"operationId": "admin_reports_authored_create", "summary": "Resources Authored Summary for user(s)", "description": "Returns count of content created/updated by the user(s)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"type": "object", "properties": {"usernames": {"description": "usernames comma separated", "type": "string"}}}}], "responses": {"201": {"description": "", "schema": {"type": "object", "properties": {"usernames": {"description": "usernames comma separated", "type": "string"}}}}}, "tags": ["admin"]}, "parameters": []}, "/admin/reports/monthly-usage/job/": {"post": {"operationId": "admin_reports_monthly-usage_job_create", "summary": "Reports Resources Usage on the env for given period of time", "description": "Mails CSV of OCL resources usage for given period of time", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"type": "object", "properties": {"start_date": {"description": "YYYY-MM-DD (default: 1st of last month)", "type": "string", "default": "2026-08-01"}, "end_date": {"description": "YYYY-MM-DD (default: 1st of current month)", "type": "string", "default": "2026-09-01"}, "email": {"description": "foo@bar.com (default: REPORTS_EMAIL)", "type": "string", "default": "REPORTS_EMAIL"}}}}], "responses": {"201": {"description": "", "schema": {"type": "object", "properties": {"start_date": {"description": "YYYY-MM-DD (default: 1st of last month)", "type": "string", "default": "2026-08-01"}, "end_date": {"description": "YYYY-MM-DD (default: 1st of current month)", "type": "string", "default": "2026-09-01"}, "email": {"description": "foo@bar.com (default: REPORTS_EMAIL)", "type": "string", "default": "REPORTS_EMAIL"}}}}}, "tags": ["admin"]}, "parameters": []}, "/auto-match-runs/{run}/": {"get": {"operationId": "auto-match-runs_read", "summary": "Fetch a single run (GET) and update its lifecycle fields (PATCH).", "description": "Addressed by run id at the top level, e.g. ``/auto-match-runs/<run>/``; the\nMapper UI PATCHes progress/completion here without threading the owner path.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AutomatchRunDetail"}}}, "tags": ["auto-match-runs"]}, "patch": {"operationId": "auto-match-runs_partial_update", "summary": "Fetch a single run (GET) and update its lifecycle fields (PATCH).", "description": "Addressed by run id at the top level, e.g. ``/auto-match-runs/<run>/``; the\nMapper UI PATCHes progress/completion here without threading the owner path.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AutomatchRunUpdate"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AutomatchRunUpdate"}}}, "tags": ["auto-match-runs"]}, "parameters": [{"name": "run", "in": "path", "required": true, "type": "string"}]}, "/client-configs/{id}/": {"get": {"operationId": "client-configs_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ClientConfig"}}}, "tags": ["client-configs"]}, "put": {"operationId": "client-configs_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ClientConfig"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ClientConfig"}}}, "tags": ["client-configs"]}, "patch": {"operationId": "client-configs_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ClientConfig"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ClientConfig"}}}, "tags": ["client-configs"]}, "delete": {"operationId": "client-configs_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["client-configs"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this client config.", "required": true, "type": "integer"}]}, "/client-configs/{resource}/templates/": {"get": {"operationId": "client-configs_templates_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ClientConfigTemplate"}}}}}}, "tags": ["client-configs"]}, "post": {"operationId": "client-configs_templates_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ClientConfigTemplate"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ClientConfigTemplate"}}}, "tags": ["client-configs"]}, "parameters": [{"name": "resource", "in": "path", "required": true, "type": "string"}]}, "/collections/": {"get": {"operationId": "collections_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "page number", "type": "integer"}, {"name": "q", "in": "query", "description": "search text", "type": "string"}, {"name": "limit", "in": "query", "description": "result list size", "type": "integer", "default": 25}, {"name": "sortDesc", "in": "query", "description": "With q param (last_update, name, best_match)", "type": "string"}, {"name": "sortAsc", "in": "query", "description": "With q param (last_update, name, best_match)", "type": "string"}, {"name": "verbose", "in": "query", "type": "boolean", "default": false}, {"name": "includeRetired", "in": "query", "type": "boolean", "default": false}, {"name": "updatedSince", "in": "query", "description": "format: YYYY-MM-DD HH:MM:SS", "type": "string"}, {"name": "canonicalUrl", "in": "query", "type": "string"}, {"name": "allVersions", "in": "query", "description": "Include all repo versions (default only shows HEAD versions)", "type": "boolean", "default": false}, {"name": "INCLUDEFACETS", "in": "header", "type": "boolean", "default": false}, {"name": "COMPRESS", "in": "header", "type": "boolean", "default": false}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CollectionList"}}}}}}, "tags": ["collections"]}, "post": {"operationId": "collections_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CollectionCreate"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CollectionCreate"}}}, "tags": ["collections"]}, "parameters": []}, "/collections/{collection}/": {"get": {"operationId": "collections_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CollectionDetail"}}}, "tags": ["collections"]}, "put": {"operationId": "collections_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CollectionDetail"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CollectionDetail"}}}, "tags": ["collections"]}, "patch": {"operationId": "collections_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CollectionDetail"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CollectionDetail"}}}, "tags": ["collections"]}, "delete": {"operationId": "collections_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/concepts/": {"get": {"operationId": "collections_concepts_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ConceptVersionList"}}}}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/concepts/{concept}/": {"get": {"operationId": "collections_concepts_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ConceptVersionDetail"}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "concept", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/concepts/{concept}/$cascade/": {"get": {"operationId": "collections_concepts_$cascade_read", "description": "", "parameters": [{"name": "method", "in": "query", "type": "string", "enum": ["sourcetoconcepts", "sourcemappings"], "default": "sourcetoconcepts"}, {"name": "mapTypes", "in": "query", "type": "array", "items": {"type": "string"}, "uniqueItems": true}, {"name": "excludeMapTypes", "in": "query", "type": "array", "items": {"type": "string"}, "uniqueItems": true}, {"name": "returnMapTypes", "in": "query", "type": "array", "items": {"type": "string"}, "uniqueItems": true}, {"name": "cascadeHierarchy", "in": "query", "type": "boolean", "default": true}, {"name": "cascadeMappings", "in": "query", "type": "boolean", "default": true}, {"name": "cascadeLevels", "in": "query", "description": "0, 1, 2...*", "type": "string", "default": "*"}, {"name": "reverse", "in": "query", "description": "$cascade backward or up", "type": "boolean", "default": false}, {"name": "view", "in": "query", "description": "Hierarchy (nested) or Flat Response", "type": "string", "enum": ["", "hierarchy"], "default": ""}, {"name": "includeRetired", "in": "query", "type": "boolean", "default": false}, {"name": "omitIfExistsIn", "in": "query", "description": "e.g. /orgs/MyOrg/collections/MyCollection/v1/", "type": "string"}, {"name": "equivalencyMapType", "in": "query", "type": "array", "items": {"type": "string"}, "uniqueItems": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ConceptVersionDetail"}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "concept", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/concepts/{concept}/mappings/": {"get": {"operationId": "collections_concepts_mappings_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/MappingVersionList"}}}}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "concept", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/concepts/{concept}/{concept_version}/": {"get": {"operationId": "collections_concepts_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ConceptVersionDetail"}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "concept", "in": "path", "required": true, "type": "string"}, {"name": "concept_version", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/concepts/{concept}/{concept_version}/mappings/": {"get": {"operationId": "collections_concepts_mappings_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/MappingVersionList"}}}}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "concept", "in": "path", "required": true, "type": "string"}, {"name": "concept_version", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/expansions/": {"get": {"operationId": "collections_expansions_list", "description": "List all expansions across all versions of a collection.", "parameters": [{"name": "page", "in": "query", "description": "page number", "type": "integer"}, {"name": "verbose", "in": "query", "type": "boolean", "default": false}, {"name": "includeSummary", "in": "query", "description": "Include summary counts of active concepts and mappings", "type": "boolean", "default": false}, {"name": "limit", "in": "query", "description": "result list size", "type": "integer", "default": 25}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Expansion"}}}}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/extras/": {"get": {"operationId": "collections_extras_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CollectionDetail"}}}}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/extras/{extra}/": {"get": {"operationId": "collections_extras_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CollectionDetail"}}}, "tags": ["collections"]}, "put": {"operationId": "collections_extras_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CollectionDetail"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CollectionDetail"}}}, "tags": ["collections"]}, "patch": {"operationId": "collections_extras_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CollectionDetail"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CollectionDetail"}}}, "tags": ["collections"]}, "delete": {"operationId": "collections_extras_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "extra", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/latest/": {"get": {"operationId": "collections_latest_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CollectionVersionDetail"}}}, "tags": ["collections"]}, "put": {"operationId": "collections_latest_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CollectionVersionDetail"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CollectionVersionDetail"}}}, "tags": ["collections"]}, "patch": {"operationId": "collections_latest_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CollectionVersionDetail"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CollectionVersionDetail"}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/latest/export/": {"get": {"operationId": "collections_latest_export_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CollectionVersionExport"}}}}}}, "tags": ["collections"]}, "post": {"operationId": "collections_latest_export_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CollectionVersionExport"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CollectionVersionExport"}}}, "tags": ["collections"]}, "delete": {"operationId": "collections_latest_export_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/latest/export/{external_export_key}/": {"get": {"operationId": "collections_latest_export_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/RepoExternalExport"}}}, "tags": ["collections"]}, "post": {"operationId": "collections_latest_export_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/RepoExternalExport"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/RepoExternalExport"}}}, "tags": ["collections"]}, "delete": {"operationId": "collections_latest_export_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "external_export_key", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/latest/summary/": {"get": {"operationId": "collections_latest_summary_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CollectionVersionSummaryDetail"}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/logo/": {"post": {"operationId": "collections_logo_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CollectionDetail"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CollectionDetail"}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/mappings/": {"get": {"operationId": "collections_mappings_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/MappingVersionList"}}}}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/mappings/{mapping}/": {"get": {"operationId": "collections_mappings_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/MappingVersionDetail"}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "mapping", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/mappings/{mapping}/{mapping_version}/": {"get": {"operationId": "collections_mappings_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/MappingVersionDetail"}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "mapping", "in": "path", "required": true, "type": "string"}, {"name": "mapping_version", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/references/": {"get": {"operationId": "collections_references_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CollectionReference"}}}}}}, "tags": ["collections"]}, "put": {"operationId": "collections_references_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CollectionReference"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CollectionReference"}}}, "tags": ["collections"]}, "patch": {"operationId": "collections_references_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CollectionReference"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CollectionReference"}}}, "tags": ["collections"]}, "delete": {"operationId": "collections_references_delete", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"type": "object", "properties": {"expressions": {"description": "Expressions List from References, or * for ALL", "type": "array", "items": {"type": "string"}, "uniqueItems": true}}}}], "responses": {"204": {"description": ""}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/references/preview/": {"post": {"operationId": "collections_references_preview_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CollectionReference"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CollectionReference"}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/references/{reference}/": {"get": {"operationId": "collections_references_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CollectionReferenceDetail"}}}, "tags": ["collections"]}, "delete": {"operationId": "collections_references_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "reference", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/references/{reference}/concepts/": {"get": {"operationId": "collections_references_concepts_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ConceptVersionList"}}}}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "reference", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/references/{reference}/mappings/": {"get": {"operationId": "collections_references_mappings_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/MappingVersionList"}}}}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "reference", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/summary/": {"get": {"operationId": "collections_summary_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CollectionSummaryDetail"}}}, "tags": ["collections"]}, "put": {"operationId": "collections_summary_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CollectionSummaryDetail"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CollectionSummaryDetail"}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/versions/": {"get": {"operationId": "collections_versions_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CollectionVersionList"}}}}}}, "tags": ["collections"]}, "post": {"operationId": "collections_versions_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CollectionCreate"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CollectionCreate"}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/": {"get": {"operationId": "collections_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CollectionVersionDetail"}}}, "tags": ["collections"]}, "put": {"operationId": "collections_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CollectionVersionDetail"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CollectionVersionDetail"}}}, "tags": ["collections"]}, "patch": {"operationId": "collections_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CollectionVersionDetail"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CollectionVersionDetail"}}}, "tags": ["collections"]}, "delete": {"operationId": "collections_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/concepts/": {"get": {"operationId": "collections_concepts_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ConceptVersionList"}}}}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/concepts/{concept}/": {"get": {"operationId": "collections_concepts_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ConceptVersionDetail"}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "concept", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/concepts/{concept}/$cascade/": {"get": {"operationId": "collections_concepts_$cascade_read", "description": "", "parameters": [{"name": "method", "in": "query", "type": "string", "enum": ["sourcetoconcepts", "sourcemappings"], "default": "sourcetoconcepts"}, {"name": "mapTypes", "in": "query", "type": "array", "items": {"type": "string"}, "uniqueItems": true}, {"name": "excludeMapTypes", "in": "query", "type": "array", "items": {"type": "string"}, "uniqueItems": true}, {"name": "returnMapTypes", "in": "query", "type": "array", "items": {"type": "string"}, "uniqueItems": true}, {"name": "cascadeHierarchy", "in": "query", "type": "boolean", "default": true}, {"name": "cascadeMappings", "in": "query", "type": "boolean", "default": true}, {"name": "cascadeLevels", "in": "query", "description": "0, 1, 2...*", "type": "string", "default": "*"}, {"name": "reverse", "in": "query", "description": "$cascade backward or up", "type": "boolean", "default": false}, {"name": "view", "in": "query", "description": "Hierarchy (nested) or Flat Response", "type": "string", "enum": ["", "hierarchy"], "default": ""}, {"name": "includeRetired", "in": "query", "type": "boolean", "default": false}, {"name": "omitIfExistsIn", "in": "query", "description": "e.g. /orgs/MyOrg/collections/MyCollection/v1/", "type": "string"}, {"name": "equivalencyMapType", "in": "query", "type": "array", "items": {"type": "string"}, "uniqueItems": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ConceptVersionDetail"}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "concept", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/concepts/{concept}/mappings/": {"get": {"operationId": "collections_concepts_mappings_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/MappingVersionList"}}}}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "concept", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/concepts/{concept}/{concept_version}/": {"get": {"operationId": "collections_concepts_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ConceptVersionDetail"}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "concept", "in": "path", "required": true, "type": "string"}, {"name": "concept_version", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/concepts/{concept}/{concept_version}/mappings/": {"get": {"operationId": "collections_concepts_mappings_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/MappingVersionList"}}}}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "concept", "in": "path", "required": true, "type": "string"}, {"name": "concept_version", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/expansions/": {"get": {"operationId": "collections_expansions_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "page number", "type": "integer"}, {"name": "verbose", "in": "query", "type": "boolean", "default": false}, {"name": "includeSummary", "in": "query", "description": "Include summary counts of active concepts and mappings", "type": "boolean", "default": false}, {"name": "limit", "in": "query", "description": "result list size", "type": "integer", "default": 25}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Expansion"}}}}}}, "tags": ["collections"]}, "post": {"operationId": "collections_expansions_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Expansion"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Expansion"}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/expansions/{expansion}/": {"get": {"operationId": "collections_expansions_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ExpansionDetail"}}}, "tags": ["collections"]}, "delete": {"operationId": "collections_expansions_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "expansion", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/expansions/{expansion}/concepts/": {"get": {"operationId": "collections_expansions_concepts_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ConceptList"}}}}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "expansion", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/expansions/{expansion}/concepts/index/": {"post": {"operationId": "collections_expansions_concepts_index_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TaskBrief"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/TaskBrief"}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "expansion", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/expansions/{expansion}/concepts/{concept}/": {"get": {"operationId": "collections_expansions_concepts_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ConceptVersionDetail"}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "expansion", "in": "path", "required": true, "type": "string"}, {"name": "concept", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/expansions/{expansion}/concepts/{concept}/$cascade/": {"get": {"operationId": "collections_expansions_concepts_$cascade_read", "description": "", "parameters": [{"name": "method", "in": "query", "type": "string", "enum": ["sourcetoconcepts", "sourcemappings"], "default": "sourcetoconcepts"}, {"name": "mapTypes", "in": "query", "type": "array", "items": {"type": "string"}, "uniqueItems": true}, {"name": "excludeMapTypes", "in": "query", "type": "array", "items": {"type": "string"}, "uniqueItems": true}, {"name": "returnMapTypes", "in": "query", "type": "array", "items": {"type": "string"}, "uniqueItems": true}, {"name": "cascadeHierarchy", "in": "query", "type": "boolean", "default": true}, {"name": "cascadeMappings", "in": "query", "type": "boolean", "default": true}, {"name": "cascadeLevels", "in": "query", "description": "0, 1, 2...*", "type": "string", "default": "*"}, {"name": "reverse", "in": "query", "description": "$cascade backward or up", "type": "boolean", "default": false}, {"name": "view", "in": "query", "description": "Hierarchy (nested) or Flat Response", "type": "string", "enum": ["", "hierarchy"], "default": ""}, {"name": "includeRetired", "in": "query", "type": "boolean", "default": false}, {"name": "omitIfExistsIn", "in": "query", "description": "e.g. /orgs/MyOrg/collections/MyCollection/v1/", "type": "string"}, {"name": "equivalencyMapType", "in": "query", "type": "array", "items": {"type": "string"}, "uniqueItems": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ConceptVersionDetail"}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "expansion", "in": "path", "required": true, "type": "string"}, {"name": "concept", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/expansions/{expansion}/concepts/{concept}/mappings/": {"get": {"operationId": "collections_expansions_concepts_mappings_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/MappingVersionList"}}}}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "expansion", "in": "path", "required": true, "type": "string"}, {"name": "concept", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/expansions/{expansion}/concepts/{concept}/{concept_version}/": {"get": {"operationId": "collections_expansions_concepts_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ConceptVersionDetail"}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "expansion", "in": "path", "required": true, "type": "string"}, {"name": "concept", "in": "path", "required": true, "type": "string"}, {"name": "concept_version", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/expansions/{expansion}/concepts/{concept}/{concept_version}/mappings/": {"get": {"operationId": "collections_expansions_concepts_mappings_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/MappingVersionList"}}}}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "expansion", "in": "path", "required": true, "type": "string"}, {"name": "concept", "in": "path", "required": true, "type": "string"}, {"name": "concept_version", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/expansions/{expansion}/mappings/": {"get": {"operationId": "collections_expansions_mappings_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/MappingList"}}}}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "expansion", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/expansions/{expansion}/mappings/index/": {"post": {"operationId": "collections_expansions_mappings_index_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TaskBrief"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/TaskBrief"}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "expansion", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/expansions/{expansion}/mappings/{mapping}/": {"get": {"operationId": "collections_expansions_mappings_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/MappingVersionDetail"}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "expansion", "in": "path", "required": true, "type": "string"}, {"name": "mapping", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/expansions/{expansion}/mappings/{mapping}/{mapping_version}/": {"get": {"operationId": "collections_expansions_mappings_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/MappingVersionDetail"}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "expansion", "in": "path", "required": true, "type": "string"}, {"name": "mapping", "in": "path", "required": true, "type": "string"}, {"name": "mapping_version", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/expansions/{expansion}/processing/": {"get": {"operationId": "collections_expansions_processing_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Expansion"}}}}}}, "tags": ["collections"]}, "post": {"operationId": "collections_expansions_processing_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Expansion"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Expansion"}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "expansion", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/expansions/{expansion}/re-evaluate/": {"post": {"operationId": "collections_expansions_re-evaluate_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Task"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Task"}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "expansion", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/expansions/{expansion}/resolved-repo-updates/": {"get": {"operationId": "collections_expansions_resolved-repo-updates_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ExpansionDetail"}}}, "tags": ["collections"]}, "delete": {"operationId": "collections_expansions_resolved-repo-updates_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "expansion", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/export/": {"get": {"operationId": "collections_export_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CollectionVersionExport"}}}}}}, "tags": ["collections"]}, "post": {"operationId": "collections_export_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CollectionVersionExport"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CollectionVersionExport"}}}, "tags": ["collections"]}, "delete": {"operationId": "collections_export_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/export/{external_export_key}/": {"get": {"operationId": "collections_export_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/RepoExternalExport"}}}, "tags": ["collections"]}, "post": {"operationId": "collections_export_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/RepoExternalExport"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/RepoExternalExport"}}}, "tags": ["collections"]}, "delete": {"operationId": "collections_export_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "external_export_key", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/extras/": {"get": {"operationId": "collections_extras_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CollectionDetail"}}}}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/mappings/": {"get": {"operationId": "collections_mappings_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/MappingVersionList"}}}}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/mappings/{mapping}/": {"get": {"operationId": "collections_mappings_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/MappingVersionDetail"}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "mapping", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/mappings/{mapping}/{mapping_version}/": {"get": {"operationId": "collections_mappings_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/MappingVersionDetail"}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "mapping", "in": "path", "required": true, "type": "string"}, {"name": "mapping_version", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/processing/": {"get": {"operationId": "collections_processing_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CollectionVersionDetail"}}}}}}, "tags": ["collections"]}, "post": {"operationId": "collections_processing_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CollectionVersionDetail"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CollectionVersionDetail"}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/references/": {"get": {"operationId": "collections_references_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CollectionReference"}}}}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/references/{reference}/": {"get": {"operationId": "collections_references_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CollectionReferenceDetail"}}}, "tags": ["collections"]}, "delete": {"operationId": "collections_references_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "reference", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/references/{reference}/concepts/": {"get": {"operationId": "collections_references_concepts_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ConceptVersionList"}}}}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "reference", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/references/{reference}/mappings/": {"get": {"operationId": "collections_references_mappings_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/MappingVersionList"}}}}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "reference", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/references/{reference}/resolve/": {"get": {"operationId": "collections_references_resolve_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/SourceVersionList"}}}}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "reference", "in": "path", "required": true, "type": "string"}]}, "/collections/{collection}/{version}/summary/": {"get": {"operationId": "collections_summary_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CollectionVersionSummaryDetail"}}}, "tags": ["collections"]}, "put": {"operationId": "collections_summary_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CollectionVersionSummaryDetail"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CollectionVersionSummaryDetail"}}}, "tags": ["collections"]}, "parameters": [{"name": "collection", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}]}, "/concepts/": {"get": {"operationId": "concepts_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "page number", "type": "integer"}, {"name": "q", "in": "query", "description": "search text", "type": "string"}, {"name": "limit", "in": "query", "description": "result list size", "type": "integer", "default": 25}, {"name": "sortDesc", "in": "query", "description": "With q param (last_update, name, best_match)", "type": "string"}, {"name": "sortAsc", "in": "query", "description": "With q param (last_update, name, best_match)", "type": "string"}, {"name": "verbose", "in": "query", "type": "boolean", "default": false}, {"name": "includeRetired", "in": "query", "type": "boolean", "default": false}, {"name": "includeInverseMappings", "in": "query", "type": "boolean", "default": false}, {"name": "updatedSince", "in": "query", "description": "format: YYYY-MM-DD HH:MM:SS", "type": "string"}, {"name": "INCLUDEFACETS", "in": "header", "type": "boolean", "default": false}, {"name": "COMPRESS", "in": "header", "type": "boolean", "default": false}, {"name": "INCLUDESEARCHLATEST", "in": "header", "type": "boolean", "default": false}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ConceptList"}}}}}}, "tags": ["concepts"]}, "post": {"operationId": "concepts_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ConceptDetail"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ConceptDetail"}}}, "tags": ["concepts"]}, "parameters": []}, "/concepts/$match/": {"post": {"operationId": "concepts_$match_create", "summary": "$match - Find matching concepts", "description": "Find matching concepts across repositories using structured input data.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["rows"], "type": "object", "properties": {"target_repo_url": {"description": "Repository URL to match against. Either target_repo_url or target_repo is required.", "type": "string"}, "target_repo": {"description": "Alternative to target_repo_url. Object with owner, source, source_version, owner_type fields.", "type": "object"}, "rows": {"description": "List of concept-like key-value pairs to match.", "type": "array", "items": {"type": "object"}}, "map_config": {"description": "Optional list configuring mapping logic per row.", "type": "array", "items": {"type": "object"}}, "filter": {"description": "Filtering criteria including locale and faceted filters.", "type": "object"}}}}, {"name": "verbose", "in": "query", "type": "boolean", "default": false}, {"name": "includeRetired", "in": "query", "type": "boolean", "default": false}, {"name": "limit", "in": "query", "description": "result list size", "type": "integer", "default": 25}, {"name": "page", "in": "query", "description": "page number", "type": "integer"}, {"name": "offset", "in": "query", "description": "Number of results to skip per row", "type": "integer", "default": 0}, {"name": "semantic", "in": "query", "description": "Use semantic (LM-based) matching algorithm", "type": "boolean", "default": false}, {"name": "bestMatch", "in": "query", "description": "Apply minimum score threshold, filtering out low-quality matches", "type": "boolean", "default": false}, {"name": "numCandidates", "in": "query", "description": "Number of approximate nearest neighbor candidates (semantic only). Max: 3000", "type": "integer", "default": 3000}, {"name": "kNearest", "in": "query", "description": "Number of nearest neighbors to return from vector search (semantic only). Max: 100", "type": "integer", "default": 100}, {"name": "brief", "in": "query", "description": "Return minimal concept fields in results", "type": "boolean", "default": false}, {"name": "encoder_model", "in": "query", "description": "Custom encoder model name for semantic vector search (e.g. BAAI/bge-reranker-v2-m3)", "type": "string"}, {"name": "reranker", "in": "query", "description": "Enable cross-encoder reranking of results (semantic only)", "type": "boolean", "default": true}], "responses": {"200": {"description": "List of matched results per input row"}, "400": {"description": "Missing required parameters (rows, target_repo_url/target_repo)"}, "403": {"description": "User not approved for $match or on waitlist"}}, "tags": ["concepts"]}, "parameters": []}, "/concepts/$rerank/": {"post": {"operationId": "concepts_$rerank_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ConceptList"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ConceptList"}}}, "tags": ["concepts"]}, "parameters": []}, "/events/": {"get": {"operationId": "events_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Event"}}}}}}, "tags": ["events"]}, "parameters": []}, "/feedback/": {"post": {"operationId": "feedback_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"type": "object", "properties": {"description": {"description": "Feedback/Suggestion/Complaint", "type": "string"}, "url": {"description": "Specific URL to point", "type": "string"}}}}], "responses": {"201": {"description": "", "schema": {"type": "object", "properties": {"description": {"description": "Feedback/Suggestion/Complaint", "type": "string"}, "url": {"description": "Specific URL to point", "type": "string"}}}}}, "tags": ["feedback"]}, "parameters": []}, "/fhir/": {"get": {"operationId": "fhir_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["fhir"]}, "parameters": []}, "/fhir/CodeSystem": {"get": {"operationId": "fhir_CodeSystem_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "page number", "type": "integer"}, {"name": "q", "in": "query", "description": "search text", "type": "string"}, {"name": "limit", "in": "query", "description": "result list size", "type": "integer", "default": 25}, {"name": "sortDesc", "in": "query", "description": "With q param (last_update, name, best_match)", "type": "string"}, {"name": "sortAsc", "in": "query", "description": "With q param (last_update, name, best_match)", "type": "string"}, {"name": "verbose", "in": "query", "type": "boolean", "default": false}, {"name": "includeRetired", "in": "query", "type": "boolean", "default": false}, {"name": "updatedSince", "in": "query", "description": "format: YYYY-MM-DD HH:MM:SS", "type": "string"}, {"name": "canonicalUrl", "in": "query", "type": "string"}, {"name": "allVersions", "in": "query", "description": "Include all repo versions (default only shows HEAD versions)", "type": "boolean", "default": false}, {"name": "INCLUDEFACETS", "in": "header", "type": "boolean", "default": false}, {"name": "COMPRESS", "in": "header", "type": "boolean", "default": false}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CodeSystemDetail"}}}}}}, "tags": ["fhir"]}, "post": {"operationId": "fhir_CodeSystem_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CodeSystemDetail"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CodeSystemDetail"}}}, "tags": ["fhir"]}, "parameters": []}, "/fhir/CodeSystem$lookup": {"get": {"operationId": "fhir_CodeSystem$lookup_read", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["fhir"]}, "put": {"operationId": "fhir_CodeSystem$lookup_update", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["fhir"]}, "patch": {"operationId": "fhir_CodeSystem$lookup_partial_update", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["fhir"]}, "delete": {"operationId": "fhir_CodeSystem$lookup_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["fhir"]}, "parameters": []}, "/fhir/CodeSystem$lookup/": {"get": {"operationId": "fhir_CodeSystem$lookup_read", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["fhir"]}, "put": {"operationId": "fhir_CodeSystem$lookup_update", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["fhir"]}, "patch": {"operationId": "fhir_CodeSystem$lookup_partial_update", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["fhir"]}, "delete": {"operationId": "fhir_CodeSystem$lookup_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["fhir"]}, "parameters": []}, "/fhir/CodeSystem$validate-code": {"get": {"operationId": "fhir_CodeSystem$validate-code_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ValidateCodeParameters"}}}, "tags": ["fhir"]}, "post": {"operationId": "fhir_CodeSystem$validate-code_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ValidateCodeParameters"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ValidateCodeParameters"}}}, "tags": ["fhir"]}, "put": {"operationId": "fhir_CodeSystem$validate-code_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ValidateCodeParameters"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ValidateCodeParameters"}}}, "tags": ["fhir"]}, "patch": {"operationId": "fhir_CodeSystem$validate-code_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ValidateCodeParameters"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ValidateCodeParameters"}}}, "tags": ["fhir"]}, "delete": {"operationId": "fhir_CodeSystem$validate-code_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["fhir"]}, "parameters": []}, "/fhir/CodeSystem$validate-code/": {"get": {"operationId": "fhir_CodeSystem$validate-code_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ValidateCodeParameters"}}}, "tags": ["fhir"]}, "post": {"operationId": "fhir_CodeSystem$validate-code_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ValidateCodeParameters"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ValidateCodeParameters"}}}, "tags": ["fhir"]}, "put": {"operationId": "fhir_CodeSystem$validate-code_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ValidateCodeParameters"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ValidateCodeParameters"}}}, "tags": ["fhir"]}, "patch": {"operationId": "fhir_CodeSystem$validate-code_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ValidateCodeParameters"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ValidateCodeParameters"}}}, "tags": ["fhir"]}, "delete": {"operationId": "fhir_CodeSystem$validate-code_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["fhir"]}, "parameters": []}, "/fhir/CodeSystem/": {"get": {"operationId": "fhir_CodeSystem_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "page number", "type": "integer"}, {"name": "q", "in": "query", "description": "search text", "type": "string"}, {"name": "limit", "in": "query", "description": "result list size", "type": "integer", "default": 25}, {"name": "sortDesc", "in": "query", "description": "With q param (last_update, name, best_match)", "type": "string"}, {"name": "sortAsc", "in": "query", "description": "With q param (last_update, name, best_match)", "type": "string"}, {"name": "verbose", "in": "query", "type": "boolean", "default": false}, {"name": "includeRetired", "in": "query", "type": "boolean", "default": false}, {"name": "updatedSince", "in": "query", "description": "format: YYYY-MM-DD HH:MM:SS", "type": "string"}, {"name": "canonicalUrl", "in": "query", "type": "string"}, {"name": "allVersions", "in": "query", "description": "Include all repo versions (default only shows HEAD versions)", "type": "boolean", "default": false}, {"name": "INCLUDEFACETS", "in": "header", "type": "boolean", "default": false}, {"name": "COMPRESS", "in": "header", "type": "boolean", "default": false}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CodeSystemDetail"}}}}}}, "tags": ["fhir"]}, "post": {"operationId": "fhir_CodeSystem_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CodeSystemDetail"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CodeSystemDetail"}}}, "tags": ["fhir"]}, "parameters": []}, "/fhir/CodeSystem/$lookup": {"get": {"operationId": "fhir_CodeSystem_$lookup_read", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["fhir"]}, "put": {"operationId": "fhir_CodeSystem_$lookup_update", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["fhir"]}, "patch": {"operationId": "fhir_CodeSystem_$lookup_partial_update", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["fhir"]}, "delete": {"operationId": "fhir_CodeSystem_$lookup_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["fhir"]}, "parameters": []}, "/fhir/CodeSystem/$lookup/": {"get": {"operationId": "fhir_CodeSystem_$lookup_read", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["fhir"]}, "put": {"operationId": "fhir_CodeSystem_$lookup_update", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["fhir"]}, "patch": {"operationId": "fhir_CodeSystem_$lookup_partial_update", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["fhir"]}, "delete": {"operationId": "fhir_CodeSystem_$lookup_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["fhir"]}, "parameters": []}, "/fhir/CodeSystem/$validate-code": {"get": {"operationId": "fhir_CodeSystem_$validate-code_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ValidateCodeParameters"}}}, "tags": ["fhir"]}, "post": {"operationId": "fhir_CodeSystem_$validate-code_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ValidateCodeParameters"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ValidateCodeParameters"}}}, "tags": ["fhir"]}, "put": {"operationId": "fhir_CodeSystem_$validate-code_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ValidateCodeParameters"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ValidateCodeParameters"}}}, "tags": ["fhir"]}, "patch": {"operationId": "fhir_CodeSystem_$validate-code_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ValidateCodeParameters"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ValidateCodeParameters"}}}, "tags": ["fhir"]}, "delete": {"operationId": "fhir_CodeSystem_$validate-code_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["fhir"]}, "parameters": []}, "/fhir/CodeSystem/$validate-code/": {"get": {"operationId": "fhir_CodeSystem_$validate-code_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ValidateCodeParameters"}}}, "tags": ["fhir"]}, "post": {"operationId": "fhir_CodeSystem_$validate-code_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ValidateCodeParameters"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ValidateCodeParameters"}}}, "tags": ["fhir"]}, "put": {"operationId": "fhir_CodeSystem_$validate-code_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ValidateCodeParameters"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ValidateCodeParameters"}}}, "tags": ["fhir"]}, "patch": {"operationId": "fhir_CodeSystem_$validate-code_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ValidateCodeParameters"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ValidateCodeParameters"}}}, "tags": ["fhir"]}, "delete": {"operationId": "fhir_CodeSystem_$validate-code_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["fhir"]}, "parameters": []}, "/fhir/CodeSystem/{source}": {"get": {"operationId": "fhir_CodeSystem_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CodeSystemDetail"}}}, "tags": ["fhir"]}, "put": {"operationId": "fhir_CodeSystem_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CodeSystemDetail"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CodeSystemDetail"}}}, "tags": ["fhir"]}, "patch": {"operationId": "fhir_CodeSystem_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CodeSystemDetail"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CodeSystemDetail"}}}, "tags": ["fhir"]}, "delete": {"operationId": "fhir_CodeSystem_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["fhir"]}, "parameters": [{"name": "source", "in": "path", "required": true, "type": "string"}]}, "/fhir/CodeSystem/{source}/": {"get": {"operationId": "fhir_CodeSystem_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CodeSystemDetail"}}}, "tags": ["fhir"]}, "put": {"operationId": "fhir_CodeSystem_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CodeSystemDetail"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CodeSystemDetail"}}}, "tags": ["fhir"]}, "patch": {"operationId": "fhir_CodeSystem_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CodeSystemDetail"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CodeSystemDetail"}}}, "tags": ["fhir"]}, "delete": {"operationId": "fhir_CodeSystem_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["fhir"]}, "parameters": [{"name": "source", "in": "path", "required": true, "type": "string"}]}, "/fhir/CodeSystem{source}": {"get": {"operationId": "fhir_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CodeSystemDetail"}}}, "tags": ["fhir"]}, "put": {"operationId": "fhir_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CodeSystemDetail"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CodeSystemDetail"}}}, "tags": ["fhir"]}, "patch": {"operationId": "fhir_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CodeSystemDetail"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CodeSystemDetail"}}}, "tags": ["fhir"]}, "delete": {"operationId": "fhir_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["fhir"]}, "parameters": [{"name": "source", "in": "path", "required": true, "type": "string"}]}, "/fhir/CodeSystem{source}/": {"get": {"operationId": "fhir_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CodeSystemDetail"}}}, "tags": ["fhir"]}, "put": {"operationId": "fhir_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CodeSystemDetail"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CodeSystemDetail"}}}, "tags": ["fhir"]}, "patch": {"operationId": "fhir_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CodeSystemDetail"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CodeSystemDetail"}}}, "tags": ["fhir"]}, "delete": {"operationId": "fhir_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["fhir"]}, "parameters": [{"name": "source", "in": "path", "required": true, "type": "string"}]}, "/fhir/ConceptMap": {"get": {"operationId": "fhir_ConceptMap_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "page number", "type": "integer"}, {"name": "q", "in": "query", "description": "search text", "type": "string"}, {"name": "limit", "in": "query", "description": "result list size", "type": "integer", "default": 25}, {"name": "sortDesc", "in": "query", "description": "With q param (last_update, name, best_match)", "type": "string"}, {"name": "sortAsc", "in": "query", "description": "With q param (last_update, name, best_match)", "type": "string"}, {"name": "verbose", "in": "query", "type": "boolean", "default": false}, {"name": "includeRetired", "in": "query", "type": "boolean", "default": false}, {"name": "updatedSince", "in": "query", "description": "format: YYYY-MM-DD HH:MM:SS", "type": "string"}, {"name": "canonicalUrl", "in": "query", "type": "string"}, {"name": "allVersions", "in": "query", "description": "Include all repo versions (default only shows HEAD versions)", "type": "boolean", "default": false}, {"name": "INCLUDEFACETS", "in": "header", "type": "boolean", "default": false}, {"name": "COMPRESS", "in": "header", "type": "boolean", "default": false}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ConceptMapDetail"}}}}}}, "tags": ["fhir"]}, "post": {"operationId": "fhir_ConceptMap_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ConceptMapDetail"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ConceptMapDetail"}}}, "tags": ["fhir"]}, "parameters": []}, "/fhir/ConceptMap$translate": {"get": {"operationId": "fhir_ConceptMap$translate_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "page number", "type": "integer"}, {"name": "q", "in": "query", "description": "search text", "type": "string"}, {"name": "limit", "in": "query", "description": "result list size", "type": "integer", "default": 25}, {"name": "sortDesc", "in": "query", "description": "With q param (last_update, name, best_match)", "type": "string"}, {"name": "sortAsc", "in": "query", "description": "With q param (last_update, name, best_match)", "type": "string"}, {"name": "verbose", "in": "query", "type": "boolean", "default": false}, {"name": "includeRetired", "in": "query", "type": "boolean", "default": false}, {"name": "updatedSince", "in": "query", "description": "format: YYYY-MM-DD HH:MM:SS", "type": "string"}, {"name": "INCLUDEFACETS", "in": "header", "type": "boolean", "default": false}, {"name": "COMPRESS", "in": "header", "type": "boolean", "default": false}, {"name": "INCLUDESEARCHLATEST", "in": "header", "type": "boolean", "default": false}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ConceptMapParameters"}}}}}}, "tags": ["fhir"]}, "post": {"operationId": "fhir_ConceptMap$translate_create", "description": "Change POST behavior to simply list\n:param request:\n:param args:\n:param kwargs:\n:return: parameters", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ConceptMapParameters"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ConceptMapParameters"}}}, "tags": ["fhir"]}, "parameters": []}, "/fhir/ConceptMap$translate/": {"get": {"operationId": "fhir_ConceptMap$translate_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "page number", "type": "integer"}, {"name": "q", "in": "query", "description": "search text", "type": "string"}, {"name": "limit", "in": "query", "description": "result list size", "type": "integer", "default": 25}, {"name": "sortDesc", "in": "query", "description": "With q param (last_update, name, best_match)", "type": "string"}, {"name": "sortAsc", "in": "query", "description": "With q param (last_update, name, best_match)", "type": "string"}, {"name": "verbose", "in": "query", "type": "boolean", "default": false}, {"name": "includeRetired", "in": "query", "type": "boolean", "default": false}, {"name": "updatedSince", "in": "query", "description": "format: YYYY-MM-DD HH:MM:SS", "type": "string"}, {"name": "INCLUDEFACETS", "in": "header", "type": "boolean", "default": false}, {"name": "COMPRESS", "in": "header", "type": "boolean", "default": false}, {"name": "INCLUDESEARCHLATEST", "in": "header", "type": "boolean", "default": false}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ConceptMapParameters"}}}}}}, "tags": ["fhir"]}, "post": {"operationId": "fhir_ConceptMap$translate_create", "description": "Change POST behavior to simply list\n:param request:\n:param args:\n:param kwargs:\n:return: parameters", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ConceptMapParameters"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ConceptMapParameters"}}}, "tags": ["fhir"]}, "parameters": []}, "/fhir/ConceptMap/": {"get": {"operationId": "fhir_ConceptMap_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "page number", "type": "integer"}, {"name": "q", "in": "query", "description": "search text", "type": "string"}, {"name": "limit", "in": "query", "description": "result list size", "type": "integer", "default": 25}, {"name": "sortDesc", "in": "query", "description": "With q param (last_update, name, best_match)", "type": "string"}, {"name": "sortAsc", "in": "query", "description": "With q param (last_update, name, best_match)", "type": "string"}, {"name": "verbose", "in": "query", "type": "boolean", "default": false}, {"name": "includeRetired", "in": "query", "type": "boolean", "default": false}, {"name": "updatedSince", "in": "query", "description": "format: YYYY-MM-DD HH:MM:SS", "type": "string"}, {"name": "canonicalUrl", "in": "query", "type": "string"}, {"name": "allVersions", "in": "query", "description": "Include all repo versions (default only shows HEAD versions)", "type": "boolean", "default": false}, {"name": "INCLUDEFACETS", "in": "header", "type": "boolean", "default": false}, {"name": "COMPRESS", "in": "header", "type": "boolean", "default": false}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ConceptMapDetail"}}}}}}, "tags": ["fhir"]}, "post": {"operationId": "fhir_ConceptMap_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ConceptMapDetail"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ConceptMapDetail"}}}, "tags": ["fhir"]}, "parameters": []}, "/fhir/ConceptMap/$translate": {"get": {"operationId": "fhir_ConceptMap_$translate_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "page number", "type": "integer"}, {"name": "q", "in": "query", "description": "search text", "type": "string"}, {"name": "limit", "in": "query", "description": "result list size", "type": "integer", "default": 25}, {"name": "sortDesc", "in": "query", "description": "With q param (last_update, name, best_match)", "type": "string"}, {"name": "sortAsc", "in": "query", "description": "With q param (last_update, name, best_match)", "type": "string"}, {"name": "verbose", "in": "query", "type": "boolean", "default": false}, {"name": "includeRetired", "in": "query", "type": "boolean", "default": false}, {"name": "updatedSince", "in": "query", "description": "format: YYYY-MM-DD HH:MM:SS", "type": "string"}, {"name": "INCLUDEFACETS", "in": "header", "type": "boolean", "default": false}, {"name": "COMPRESS", "in": "header", "type": "boolean", "default": false}, {"name": "INCLUDESEARCHLATEST", "in": "header", "type": "boolean", "default": false}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ConceptMapParameters"}}}}}}, "tags": ["fhir"]}, "post": {"operationId": "fhir_ConceptMap_$translate_create", "description": "Change POST behavior to simply list\n:param request:\n:param args:\n:param kwargs:\n:return: parameters", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ConceptMapParameters"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ConceptMapParameters"}}}, "tags": ["fhir"]}, "parameters": []}, "/fhir/ConceptMap/$translate/": {"get": {"operationId": "fhir_ConceptMap_$translate_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "page number", "type": "integer"}, {"name": "q", "in": "query", "description": "search text", "type": "string"}, {"name": "limit", "in": "query", "description": "result list size", "type": "integer", "default": 25}, {"name": "sortDesc", "in": "query", "description": "With q param (last_update, name, best_match)", "type": "string"}, {"name": "sortAsc", "in": "query", "description": "With q param (last_update, name, best_match)", "type": "string"}, {"name": "verbose", "in": "query", "type": "boolean", "default": false}, {"name": "includeRetired", "in": "query", "type": "boolean", "default": false}, {"name": "updatedSince", "in": "query", "description": "format: YYYY-MM-DD HH:MM:SS", "type": "string"}, {"name": "INCLUDEFACETS", "in": "header", "type": "boolean", "default": false}, {"name": "COMPRESS", "in": "header", "type": "boolean", "default": false}, {"name": "INCLUDESEARCHLATEST", "in": "header", "type": "boolean", "default": false}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ConceptMapParameters"}}}}}}, "tags": ["fhir"]}, "post": {"operationId": "fhir_ConceptMap_$translate_create", "description": "Change POST behavior to simply list\n:param request:\n:param args:\n:param kwargs:\n:return: parameters", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ConceptMapParameters"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ConceptMapParameters"}}}, "tags": ["fhir"]}, "parameters": []}, "/fhir/ConceptMap/{source}": {"get": {"operationId": "fhir_ConceptMap_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ConceptMapDetail"}}}, "tags": ["fhir"]}, "put": {"operationId": "fhir_ConceptMap_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ConceptMapDetail"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ConceptMapDetail"}}}, "tags": ["fhir"]}, "patch": {"operationId": "fhir_ConceptMap_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "requ
[...]
