{
    "openapi": "3.0.3",
    "info": {
        "title": "PDFShift API Documentation",
        "version": "3.0",
        "description": "This is the documentation for the PDFShift API.\n\nOur aim here is to provide you with a clear, concise and complete set of tool to generate the PDF you want.\n\nDon't forget to add the `sandbox` parameter to `True` while testing the API, this won't use your credits and generate free PDF (with a watermark).\nBut if you forgot to set it, don't worry ; Send us a message and we'll reset your credits usage.",
        "termsOfService": "https://pdfshift.io/terms",
        "contact": {
            "name": "PDFShift",
            "url": "https://pdfshift.io",
            "email": "support@pdfshift.io"
        },
        "x-logo": {
            "url": "https://pdfshift.io/images/favicons/android-chrome-512x512.png"
        }
    },
    "servers": [{
        "url": "https://api.pdfshift.io/v3",
        "description": "",
        "x-last-modified": 1764750693905
    }],
    "paths": {
        "/account": {
            "get": {
                "tags": ["account", "details"],
                "summary": "Account details",
                "description": "Returns the account details for the connected API Key",
                "responses": {
                    "200": {
                        "description" : "Account details",
                        "headers": {
                            "X-RateLimit-Remaining": {
                                "description": "The number of requests remaining in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "The maximum number of requests allowed in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "The time at which the current rate limit window resets (Unix timestamp).",
                                "schema": {
                                    "type": "integer",
                                    "format": "int64"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Account"
                                },
                                "example": {
                                    "success": true,
                                    "account": {
                                        "name": "Richard Hendricks",
                                        "firstname": "Richard",
                                        "email": "richard@piedpiper.com",
                                        "created": 1526561399000,
                                        "company_name": "PiedPiper",
                                        "company_details": "Hacker Hostel,\n5230 Newell Road,\nPalo Alto, CA 94303",
                                        "company_vat": null,
                                        "country": "US",
                                        "renew_date": 1763683200000,
                                        "avatar": "https://secure.gravatar.com/avatar/584ac79c82c64934d475251b46f78f4a?d=mm&s=96",
                                        "billing_email": "jared@piedpiper.com",
                                        "plan": {
                                            "display": "Business",
                                            "name": "business",
                                            "credits": 50000,
                                            "filesize": 1250,
                                            "timeout": 100,
                                            "price": 99,
                                            "yearly": false,
                                            "overage": 20
                                        },
                                        "hard_limit": null,
                                        "subscription_ends_at": null
                                    }
                                }
                            }
                        },
                        "x-last-modified": 1764751907156
                    },
                    "401": {
                        "description": "Unauthorized. Invalid auth key, missing, or disabled.",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests. You have been rate limited.",
                        "headers": {
                            "X-RateLimit-Remaining": {
                                "description": "The number of requests remaining in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "The maximum number of requests allowed in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "The time at which the current rate limit window resets (Unix timestamp).",
                                "schema": {
                                    "type": "integer",
                                    "format": "int64"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error.",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    }
                }
            },
            "x-last-modified": 1764751450778
        },
        "/credits/usage": {
            "get": {
                "tags": ["credits", "usage"],
                "summary": "Credits usage",
                "description": "Returns the current credits usage with some details to help you know where your usage is at.\n\nIt contains the `total` credits, the `remaining` credits you can use for your period and the `used` number of credits.\n\nThe `base` value might differ from the `total` if you have enabled overage. In this case, `base` represent the default limit from your current plan, whereas `total` is the limit set in your overage. Once your credit usage reaches the `total`, the conversions will be refused.",
                "responses": {
                    "200": {
                        "description": "Current credit usage",
                        "headers": {
                            "X-RateLimit-Remaining": {
                                "description": "The number of requests remaining in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "The maximum number of requests allowed in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "The time at which the current rate limit window resets (Unix timestamp).",
                                "schema": {
                                    "type": "integer",
                                    "format": "int64"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Credits"
                                },
                                "example": {
                                    "credits": {
                                        "base": 50000,
                                        "remaining": 49881,
                                        "total": 50000,
                                        "used": 119
                                    },
                                    "success": true
                                }
                            }
                        },
                        "x-last-modified": 1764750969372
                    },
                    "401": {
                        "description": "Unauthorized. Invalid auth key, missing, or disabled.",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests. You have been rate limited.",
                        "headers": {
                            "X-RateLimit-Remaining": {
                                "description": "The number of requests remaining in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "The maximum number of requests allowed in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "The time at which the current rate limit window resets (Unix timestamp).",
                                "schema": {
                                    "type": "integer",
                                    "format": "int64"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error.",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    }
                }
            },
            "x-last-modified": 1764750838571
        },
        "/invoices": {
            "get": {
                "tags": [],
                "summary": "Invoices list",
                "description": "",
                "responses": {
                    "200": {
                        "description": "List of invoices",
                        "headers": {
                            "X-RateLimit-Remaining": {
                                "description": "The number of requests remaining in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "The maximum number of requests allowed in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "The time at which the current rate limit window resets (Unix timestamp).",
                                "schema": {
                                    "type": "integer",
                                    "format": "int64"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Invoices"
                                },
                                "example": {
                                    "success": true,
                                    "invoices": {
                                        "has_more": true,
                                        "data": [
                                            {
                                                "created": 1763123660000,
                                                "amount": 99,
                                                "reference": "PS202511-00010",
                                                "download_url": "https://api.pdfshift.io/v3/invoices/PS202511-00110.pdf?token=xxx_token_xxx"
                                            },
                                            {
                                                "created": 1760445289000,
                                                "amount": 99,
                                                "reference": "PS202510-00109",
                                                "download_url": "https://api.pdfshift.io/v3/invoices/PS202510-00109.pdf?token=xxx_token_xxx"
                                            },
                                            {
                                                "created": 1757853195000,
                                                "amount": 99,
                                                "reference": "PS202509-00108",
                                                "download_url": "https://api.pdfshift.io/v3/invoices/PS202509-00108.pdf?token=xxx_token_xxx"
                                            },
                                            {
                                                "created": 1755180347000,
                                                "amount": 99,
                                                "reference": "PS202508-00107",
                                                "download_url": "https://api.pdfshift.io/v3/invoices/PS202508-00107.pdf?token=xxx_token_xxx"
                                            },
                                            {
                                                "created": 1752496441000,
                                                "amount": 99,
                                                "reference": "PS202507-00106",
                                                "download_url": "https://api.pdfshift.io/v3/invoices/PS202507-00106.pdf?token=xxx_token_xxx"
                                            },
                                            {
                                                "created": 1749904431000,
                                                "amount": 99,
                                                "reference": "PS202506-00105",
                                                "download_url": "https://api.pdfshift.io/v3/invoices/PS202506-00105.pdf?token=xxx_token_xxx"
                                            },
                                            {
                                                "created": 1747226035000,
                                                "amount": 99,
                                                "reference": "PS202505-00104",
                                                "download_url": "https://api.pdfshift.io/v3/invoices/PS202505-00104.pdf?token=xxx_token_xxx"
                                            },
                                            {
                                                "created": 1744634029000,
                                                "amount": 99,
                                                "reference": "PS202504-00103",
                                                "download_url": "https://api.pdfshift.io/v3/invoices/PS202504-00103.pdf?token=xxx_token_xxx"
                                            },
                                            {
                                                "created": 1741955686000,
                                                "amount": 99,
                                                "reference": "PS202503-00102",
                                                "download_url": "https://api.pdfshift.io/v3/invoices/PS202503-00102.pdf?token=xxx_token_xxx"
                                            },
                                            {
                                                "created": 1739536453000,
                                                "amount": 99,
                                                "reference": "PS202502-00101",
                                                "download_url": "https://api.pdfshift.io/v3/invoices/PS202502-00101.pdf?token=xxx_token_xxx"
                                            }
                                        ],
                                        "limit": 10,
                                        "page": 0,
                                        "total": 28
                                    }
                                }

                            }
                        },
                        "x-last-modified": 1764751440861
                    },
                    "401": {
                        "description": "Unauthorized. Invalid auth key, missing, or disabled.",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests. You have been rate limited.",
                        "headers": {
                            "X-RateLimit-Remaining": {
                                "description": "The number of requests remaining in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "The maximum number of requests allowed in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "The time at which the current rate limit window resets (Unix timestamp).",
                                "schema": {
                                    "type": "integer",
                                    "format": "int64"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error.",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    }
                }
            },
            "x-last-modified": 1764751463833
        },
        "/convert/pdf": {
            "post": {
                "tags": [],
                "summary": "Convert to PDF",
                "x-mint": {
                    "content": "Convert a given HTML document to a PDF file.\n\nYou can provide the HTML source directly, or a URL to fetch it from.\n\nNumerous options are available to customize the generated PDF document.\n\n<Warning>\nPlease note that the response from this endpoint will vary depending on some parameters.\n\nYou can read more at [Varying responses](/docs/varying-responses).\n</Warning>"
                },
                "parameters": [
                    {
                        "name": "X-Processor-Version",
                        "in": "header",
                        "description": "Specifies the Chromium version that will be used for the conversion. Right now, only \"116\" and \"142\" are accepted.\nAll new users are automatically using the latest version.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": ["116", "142"]
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    { "$ref": "#/components/schemas/ConvertForm" },
                                    {
                                        "type": "object",
                                        "properties": {
                                            "landscape": {
                                                "type": "boolean",
                                                "default": false,
                                                "description": "Will set the view in landscape mode instead of portrait."
                                            },
                                            "format": {
                                                "type": "string",
                                                "default": "A4",
                                                "description": "Format of the document.\nYou can either use the standard values (Letter, Legal, Tabloid, Ledger, A0, A1, A2, A3, A4, A5) or a custom `{width}x{height}` value.\nFor `{width}` and `{height}`, you can indicate the following units: in, cm, mm.\n. The `{height}` value can be replaced by `auto` to automatically adjust the height to the content. For instance, pasing the format `1024xauto` will set the page width to 1024px and the height to the content height."
                                            },
                                            "disable_backgrounds": {
                                                "type": "boolean",
                                                "default": false,
                                                "description": "The final document will not have the background images."
                                            },
                                            "remove_blank": {
                                                "type": "boolean",
                                                "default": false,
                                                "description": "Will analyze the last page of the document. If no content is present in it, the page will be removed. But note that if there are remaining hidden data, header or footer that have been pushed to that page, the page will be kept."
                                            },
                                            "pages": {
                                                "type": "string",
                                                "default": null,
                                                "description": "Pages to print. Can be one number (`3`), a range (`1-5`), a list (`4,5,6`) or a combination of both (`1-3,6,7`).\nIf the number is higher than the real number of pages, that number will be ignored."
                                            },
                                            "zoom": {
                                                "type": "number",
                                                "minimum": 0.1,
                                                "maximum": 2,
                                                "default": 1,
                                                "description": "A value between 0.1 and 2.\nAllows you to increase the zoom in the document for specific purposes.\n1 is the default zoom, lower is smaller, higher is bigger."
                                            },
                                            "margin": {
                                                "oneOf": [
                                                    { "$ref": "#/components/schemas/MarginForm" },
                                                    { "type": "string" },
                                                    { "type": "integer" }
                                                ],
                                                "default": null,
                                                "description": "Empty spaces between the outer and the beginning of the content. See the [Margin](/docs/margin) section for more details."
                                            },
                                            "header": {
                                                "$ref": "#/components/schemas/CustomHeaderFooter",
                                                "description": "Defines a custom header.\n\n**Note**: The footer and header are Independent from the rest of the document.\n\nAs such, the CSS style defined in your body won't apply on your header/footer. To style your header/footer, you need to set a specific style either using <style> tag first, or adding style=\"\" on your DOM elements.\n\nSee the [Header/Footer section](/docs/header-footer) for more details.",
                                                "type": "object",
                                                "default": null
                                            },
                                            "footer": {
                                                "$ref": "#/components/schemas/CustomHeaderFooter",
                                                "description": "Defines a custom header.\n\n**Note**: The footer and header are Independent from the rest of the document.\n\nAs such, the CSS style defined in your body won't apply on your header/footer. To style your header/footer, you need to set a specific style either using <style> tag first, or adding style=\"\" on your DOM elements.\n\nSee the [Header/Footer section](/docs/header-footer) for more details.",
                                                "type": "object",
                                                "default": null
                                            },
                                            "metadata": {
                                                "type": "object",
                                                "additionalProperties": { "type": "string" },
                                                "default": null,
                                                "description": "Allows you to add custom metadata to the generated PDF document.\nThe following metadata are reserved and thus not accepted: 'author_raw', 'creator_raw', 'producer', 'producer_raw', 'subject_raw', 'title_raw'."
                                            },
                                            "protection": {
                                                "$ref": "#/components/schemas/ProtectionForm",
                                                "description": "Will add restrictions on the PDF document.\n\n**Note**: Some PDF Reader don't make the distinction between **user** and **owner** in a PDF Document.\nThis means that when the user password has been entered, some PDF reader ignore the restrictions (no print, no copy, etc).\n\nSo, setting a blank password for the user is similar to no security.\n\nSee the [Protection](/docs/protection) section for more details.",
                                                "type": "object",
                                                "default": null
                                            },
                                            "watermark": {
                                                "$ref": "#/components/schemas/WatermarkForm",
                                                "description": "Add a watermark to the generated document.\nThe watermark will always be placed at the center of the document.\nSee the [Watermark](/docs/watermark) section for more details.",
                                                "type": "object",
                                                "default": null
                                            },
                                            "pdfa": {
                                                "type": "boolean",
                                                "default": false,
                                                "description": "If set to true, will generate a PDF/A-3b compliant document"
                                            },
                                            "linearize": {
                                                "type": "boolean",
                                                "default": false,
                                                "description": "Enable PDF linearization for fast web viewing."
                                            }
                                        }
                                    }
                                ],
                                "required": ["source"]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "PDF file generated successfully",
                        "headers": {
                            "X-RateLimit-Remaining": {
                                "description": "The number of requests remaining in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "The maximum number of requests allowed in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "The time at which the current rate limit window resets (Unix timestamp).",
                                "schema": {
                                    "type": "integer",
                                    "format": "int64"
                                }
                            },
                            "X-Response-Status-Code": {
                                "description": "Provides the status code PDFShift got when loading your source when it is an HTTP request.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-PDFShift-Processor": {
                                "description": "Returns the name of the PDFShift’s server that ran the conversion.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-Credits-Cost": {
                                "description": "Indicates the number of credits that this generation requires.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-Credits-Used": {
                                "description": "Contrary to X-Credits-Cost, this header indicates the number of credits that were decreased from your account. It is identical to X-Credits-Cost excepted if you passed the sandbox parameter, in which case the value will be at 0.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-Response-Duration": {
                                "description": "The number of miliseconds it took to load the HTML source provided in the request.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-PDFShift-Duration": {
                                "description": "The number of miliseconds it took to load the source and then generate the PDF document. This value should be closer to the Time To First Byte duration you can have on your end.",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        },
                        "content": {
                            "application/pdf": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                },
                                "example": "<...PDF binary data...>"
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": { "type": "boolean" },
                                        "url": { "type": "string", "format": "uri" },
                                        "filesize": { "type": "integer" },
                                        "duration": { "type": "integer" },
                                        "response": { "type": "object" },
                                        "executed": { "type": "string", "format": "date-time" },
                                        "pdf_pages": { "type": "integer" }
                                    },
                                    "required": ["success", "url", "filesize", "duration", "response", "executed"]
                                },
                                "example": {
                                    "success": true,
                                    "url": "https://s3.amazonaws.com/pdfshift/d/2/2019-05/99c456250a01448686d81752a3fb5beb/15466098-8368-49e1-ac33-ff4c3941a0df.pdf",
                                    "filesize": 259972,
                                    "duration": 1500,
                                    "response": {
                                        "duration": 2562,
                                        "status-code": 200
                                    },
                                    "executed": "2025-12-02T12:34:56.789Z",
                                    "pdf_pages": 5
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "Conversion request accepted and queued for processing. Returned when the `webhook` parameter is used.",
                        "headers": {
                            "X-RateLimit-Remaining": {
                                "description": "The number of requests remaining in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "The maximum number of requests allowed in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "The time at which the current rate limit window resets (Unix timestamp).",
                                "schema": {
                                    "type": "integer",
                                    "format": "int64"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": { "type": "boolean" },
                                        "queued": { "type": "boolean" }
                                    }
                                },
                                "example": {
                                    "success": true,
                                    "queued": true
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. Data passed to the request were invalid or wrongly formatted.",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Errors" }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized. Invalid auth key, missing, or disabled.",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. No remaining credits left.",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    },
                    "408": {
                        "description": "Request Timeout. The requested page took too long to load.",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests. You have been rate limited.",
                        "headers": {
                            "X-RateLimit-Remaining": {
                                "description": "The number of requests remaining in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "The maximum number of requests allowed in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "The time at which the current rate limit window resets (Unix timestamp).",
                                "schema": {
                                    "type": "integer",
                                    "format": "int64"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error.",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    }
                },
                "x-last-modified": 1764751282579
            }
        },
        "/convert/png": {
            "x-last-modified": 1764751294923,
            "post": {
                "tags": [],
                "summary": "Convert to PNG",
                "x-mint": {
                    "content": "This endpoint will convert an HTML document to a PNG image.\n\nYou can specify additional options to customize the output image, such as capturing the full page, selecting specific elements using CSS selectors, or defining a clip region.\n<Note>Only one of `fullpage`, `css_selector`, or `clip` can be set at a time.</Note>\n\n<Warning>\nPlease note that the response from this endpoint will vary depending on some parameters.\n\nYou can read more at [Varying responses](/docs/varying-responses).\n</Warning>"
                },
                "parameters": [
                    {
                        "name": "X-Processor-Version",
                        "in": "header",
                        "description": "Specifies the Chromium version that will be used for the conversion. Right now, only \"116\" and \"142\" are accepted.\nAll new users are automatically using the latest version.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": ["116", "142"]
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    { "$ref": "#/components/schemas/ImageConvertForm" },
                                    { "$ref": "#/components/schemas/ConvertForm" }
                                ],
                                "required": ["source"]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "PNG file generated successfully",
                        "headers": {
                            "X-RateLimit-Remaining": {
                                "description": "The number of requests remaining in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "The maximum number of requests allowed in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "The time at which the current rate limit window resets (Unix timestamp).",
                                "schema": {
                                    "type": "integer",
                                    "format": "int64"
                                }
                            },
                            "X-Response-Status-Code": {
                                "description": "Provides the status code PDFShift got when loading your source when it is an HTTP request.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-PDFShift-Processor": {
                                "description": "Returns the name of the PDFShift’s server that ran the conversion.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-Credits-Cost": {
                                "description": "Indicates the number of credits that this generation requires.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-Credits-Used": {
                                "description": "Contrary to X-Credits-Cost, this header indicates the number of credits that were decreased from your account. It is identical to X-Credits-Cost excepted if you passed the sandbox parameter, in which case the value will be at 0.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-Response-Duration": {
                                "description": "The number of miliseconds it took to load the HTML source provided in the request.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-PDFShift-Duration": {
                                "description": "The number of miliseconds it took to load the source and then generate the PDF document. This value should be closer to the Time To First Byte duration you can have on your end.",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        },
                        "content": {
                            "image/png": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                },
                                "example": "<...PNG binary data...>"
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": { "type": "boolean" },
                                        "url": { "type": "string", "format": "uri" },
                                        "filesize": { "type": "integer" },
                                        "duration": { "type": "integer" },
                                        "response": { "type": "object" },
                                        "executed": { "type": "string", "format": "date-time" }
                                    },
                                    "required": ["success", "url", "filesize", "duration", "response", "executed"]
                                },
                                "example": {
                                    "success": true,
                                    "url": "https://s3.amazonaws.com/pdfshift/d/2/2019-05/99c456250a01448686d81752a3fb5beb/15466098-8368-49e1-ac33-ff4c3941a0df.pdf",
                                    "filesize": 259972,
                                    "duration": 1500,
                                    "response": {
                                        "duration": 2562,
                                        "status-code": 200
                                    },
                                    "executed": "2025-12-02T12:34:56.789Z"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "Conversion request accepted and queued for processing. Returned when the `webhook` parameter is used.",
                        "headers": {
                            "X-RateLimit-Remaining": {
                                "description": "The number of requests remaining in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "The maximum number of requests allowed in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "The time at which the current rate limit window resets (Unix timestamp).",
                                "schema": {
                                    "type": "integer",
                                    "format": "int64"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": { "type": "boolean" },
                                        "queued": { "type": "boolean" }
                                    }
                                },
                                "example": {
                                    "success": true,
                                    "queued": true
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. Data passed to the request were invalid or wrongly formatted.",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Errors" }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized. Invalid auth key, missing, or disabled.",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. No remaining credits left.",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    },
                    "408": {
                        "description": "Request Timeout. The requested page took too long to load.",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests. You have been rate limited.",
                        "headers": {
                            "X-RateLimit-Remaining": {
                                "description": "The number of requests remaining in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "The maximum number of requests allowed in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "The time at which the current rate limit window resets (Unix timestamp).",
                                "schema": {
                                    "type": "integer",
                                    "format": "int64"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error.",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    }
                }
            }
        },
        "/convert/jpeg": {
            "post": {
                "tags": [],
                "summary": "Convert to JPEG",
                "x-mint": {
                    "content": "This endpoint will convert an HTML document to a JPEG image.\n\nYou can specify additional options to customize the output image, such as capturing the full page, selecting specific elements using CSS selectors, or defining a clip region.\n<Note>Only one of `fullpage`, `css_selector`, or `clip` can be set at a time.</Note>\n\n<Warning>\nPlease note that the response from this endpoint will vary depending on some parameters.\n\nYou can read more at [Varying responses](/docs/varying-responses).\n</Warning>"
                },
                "parameters": [
                    {
                        "name": "X-Processor-Version",
                        "in": "header",
                        "description": "Specifies the Chromium version that will be used for the conversion. Right now, only \"116\" and \"142\" are accepted.\nAll new users are automatically using the latest version.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": ["116", "142"]
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    { "$ref": "#/components/schemas/ImageConvertForm" },
                                    { "$ref": "#/components/schemas/ConvertForm" }
                                ],
                                "required": ["source"]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "JPEG file generated successfully",
                        "headers": {
                            "X-RateLimit-Remaining": {
                                "description": "The number of requests remaining in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "The maximum number of requests allowed in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "The time at which the current rate limit window resets (Unix timestamp).",
                                "schema": {
                                    "type": "integer",
                                    "format": "int64"
                                }
                            },
                            "X-Response-Status-Code": {
                                "description": "Provides the status code PDFShift got when loading your source when it is an HTTP request.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-PDFShift-Processor": {
                                "description": "Returns the name of the PDFShift’s server that ran the conversion.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-Credits-Cost": {
                                "description": "Indicates the number of credits that this generation requires.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-Credits-Used": {
                                "description": "Contrary to X-Credits-Cost, this header indicates the number of credits that were decreased from your account. It is identical to X-Credits-Cost excepted if you passed the sandbox parameter, in which case the value will be at 0.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-Response-Duration": {
                                "description": "The number of miliseconds it took to load the HTML source provided in the request.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-PDFShift-Duration": {
                                "description": "The number of miliseconds it took to load the source and then generate the PDF document. This value should be closer to the Time To First Byte duration you can have on your end.",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        },
                        "content": {
                            "image/jpeg": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                },
                                "example": "<...JPEG binary data...>"
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": { "type": "boolean" },
                                        "url": { "type": "string", "format": "uri" },
                                        "filesize": { "type": "integer" },
                                        "duration": { "type": "integer" },
                                        "response": { "type": "object" },
                                        "executed": { "type": "string", "format": "date-time" }
                                    },
                                    "required": ["success", "url", "filesize", "duration", "response", "executed"]
                                },
                                "example": {
                                    "success": true,
                                    "url": "https://s3.amazonaws.com/pdfshift/d/2/2019-05/99c456250a01448686d81752a3fb5beb/15466098-8368-49e1-ac33-ff4c3941a0df.pdf",
                                    "filesize": 259972,
                                    "duration": 1500,
                                    "response": {
                                        "duration": 2562,
                                        "status-code": 200
                                    },
                                    "executed": "2025-12-02T12:34:56.789Z"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "Conversion request accepted and queued for processing. Returned when the `webhook` parameter is used.",
                        "headers": {
                            "X-RateLimit-Remaining": {
                                "description": "The number of requests remaining in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "The maximum number of requests allowed in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "The time at which the current rate limit window resets (Unix timestamp).",
                                "schema": {
                                    "type": "integer",
                                    "format": "int64"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": { "type": "boolean" },
                                        "queued": { "type": "boolean" }
                                    }
                                },
                                "example": {
                                    "success": true,
                                    "queued": true
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. Data passed to the request were invalid or wrongly formatted.",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Errors" }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized. Invalid auth key, missing, or disabled.",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. No remaining credits left.",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    },
                    "408": {
                        "description": "Request Timeout. The requested page took too long to load.",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests. You have been rate limited.",
                        "headers": {
                            "X-RateLimit-Remaining": {
                                "description": "The number of requests remaining in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "The maximum number of requests allowed in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "The time at which the current rate limit window resets (Unix timestamp).",
                                "schema": {
                                    "type": "integer",
                                    "format": "int64"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error.",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    }
                }
            },
            "x-last-modified": 1764751315921
        },
        "/convert/webp": {
            "post": {
                "tags": [],
                "summary": "Convert to WEBP",
                "x-mint": {
                    "content": "This endpoint will convert an HTML document to a WEBP image.\n\nYou can specify additional options to customize the output image, such as capturing the full page, selecting specific elements using CSS selectors, or defining a clip region.\n<Note>Only one of `fullpage`, `css_selector`, or `clip` can be set at a time.</Note>\n\n<Warning>\nPlease note that the response from this endpoint will vary depending on some parameters.\n\nYou can read more at [Varying responses](/docs/varying-responses).\n</Warning>"
                },
                "parameters": [
                    {
                        "name": "X-Processor-Version",
                        "in": "header",
                        "description": "Specifies the Chromium version that will be used for the conversion. Right now, only \"116\" and \"142\" are accepted.\nAll new users are automatically using the latest version.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": ["116", "142"]
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    { "$ref": "#/components/schemas/ImageConvertForm" },
                                    { "$ref": "#/components/schemas/ConvertForm" }
                                ],
                                "required": ["source"]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "WEBP file generated successfully",
                        "headers": {
                            "X-RateLimit-Remaining": {
                                "description": "The number of requests remaining in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "The maximum number of requests allowed in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "The time at which the current rate limit window resets (Unix timestamp).",
                                "schema": {
                                    "type": "integer",
                                    "format": "int64"
                                }
                            },
                            "X-Response-Status-Code": {
                                "description": "Provides the status code PDFShift got when loading your source when it is an HTTP request.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-PDFShift-Processor": {
                                "description": "Returns the name of the PDFShift’s server that ran the conversion.",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-Credits-Cost": {
                                "description": "Indicates the number of credits that this generation requires.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-Credits-Used": {
                                "description": "Contrary to X-Credits-Cost, this header indicates the number of credits that were decreased from your account. It is identical to X-Credits-Cost excepted if you passed the sandbox parameter, in which case the value will be at 0.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-Response-Duration": {
                                "description": "The number of miliseconds it took to load the HTML source provided in the request.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-PDFShift-Duration": {
                                "description": "The number of miliseconds it took to load the source and then generate the PDF document. This value should be closer to the Time To First Byte duration you can have on your end.",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        },
                        "content": {
                            "image/webp": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                },
                                "example": "<...WEBP binary data...>"
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": { "type": "boolean" },
                                        "url": { "type": "string", "format": "uri" },
                                        "filesize": { "type": "integer" },
                                        "duration": { "type": "integer" },
                                        "response": { "type": "object" },
                                        "executed": { "type": "string", "format": "date-time" }
                                    },
                                    "required": ["success", "url", "filesize", "duration", "response", "executed"]
                                },
                                "example": {
                                    "success": true,
                                    "url": "https://s3.amazonaws.com/pdfshift/d/2/2019-05/99c456250a01448686d81752a3fb5beb/15466098-8368-49e1-ac33-ff4c3941a0df.pdf",
                                    "filesize": 259972,
                                    "duration": 1500,
                                    "response": {
                                        "duration": 2562,
                                        "status-code": 200
                                    },
                                    "executed": "2025-12-02T12:34:56.789Z"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "Conversion request accepted and queued for processing. Returned when the `webhook` parameter is used.",
                        "headers": {
                            "X-RateLimit-Remaining": {
                                "description": "The number of requests remaining in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "The maximum number of requests allowed in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "The time at which the current rate limit window resets (Unix timestamp).",
                                "schema": {
                                    "type": "integer",
                                    "format": "int64"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": { "type": "boolean" },
                                        "queued": { "type": "boolean" }
                                    }
                                },
                                "example": {
                                    "success": true,
                                    "queued": true
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. Data passed to the request were invalid or wrongly formatted.",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Errors" }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized. Invalid auth key, missing, or disabled.",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden. No remaining credits left.",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    },
                    "408": {
                        "description": "Request Timeout. The requested page took too long to load.",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests. You have been rate limited.",
                        "headers": {
                            "X-RateLimit-Remaining": {
                                "description": "The number of requests remaining in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "The maximum number of requests allowed in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "The time at which the current rate limit window resets (Unix timestamp).",
                                "schema": {
                                    "type": "integer",
                                    "format": "int64"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error.",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    }
                }
            },
            "x-last-modified": 1764751389626
        },
        "/logs": {
            "get": {
                "tags": ["logs"],
                "summary": "List recent logs",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of items to return (between 5 and 100, defaults to 20)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 5,
                            "maximum": 100,
                            "default": 20
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter logs by status: 'error', 'success', or 'all' (default: 'all')",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": ["error", "success", "all"],
                            "default": "all"
                        }
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "description": "API Key to filter the results to. Default is null, which includes all requests from all API keys.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": null
                        }
                    },
                    {
                        "name": "before",
                        "in": "query",
                        "description": "Returns the events that occurred before the given time. Format is ISO datetime.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of recents logs. Can be filtered by API Key, Status (error/success) and time range.",
                        "headers": {
                            "X-RateLimit-Remaining": {
                                "description": "The number of requests remaining in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "The maximum number of requests allowed in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "The time at which the current rate limit window resets (Unix timestamp).",
                                "schema": {
                                    "type": "integer",
                                    "format": "int64"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Logs"
                                },
                                "example": {
                                    "success": true,
                                    "logs": {
                                        "has_more": true,
                                        "data": [
                                            {
                                                "id": 12345500,
                                                "duration": 2191,
                                                "executed": 1764753251000,
                                                "credits": 1,
                                                "sandbox": false,
                                                "filesize": 305345,
                                                "error": null,
                                                "code": 200,
                                                "user_agent": "Python/3.9 aiohttp/3.10.5",
                                                "request_id": "40bad9f3-0eb8-4de3-82de-3886ff9522ed",
                                                "query": null
                                            },
                                            {
                                                "id": 12345501,
                                                "duration": 2385,
                                                "executed": 1764753169000,
                                                "credits": 1,
                                                "sandbox": false,
                                                "filesize": 310593,
                                                "error": null,
                                                "code": 200,
                                                "user_agent": "Python/3.9 aiohttp/3.10.5",
                                                "request_id": "e8079824-f786-45b1-a8cb-a35fe916ea8d",
                                                "query": null
                                            },
                                            {
                                                "id": 12345502,
                                                "duration": 2377,
                                                "executed": 1764752870000,
                                                "credits": 1,
                                                "sandbox": false,
                                                "filesize": 306883,
                                                "error": null,
                                                "code": 200,
                                                "user_agent": "Python/3.9 aiohttp/3.10.5",
                                                "request_id": "22bf9320-455a-4e91-bda4-b90cfb0e4eb0",
                                                "query": null
                                            },
                                            {
                                                "id": 12345503,
                                                "duration": 2209,
                                                "executed": 1764752729000,
                                                "credits": 1,
                                                "sandbox": false,
                                                "filesize": 334962,
                                                "error": null,
                                                "code": 200,
                                                "user_agent": "Python/3.9 aiohttp/3.10.5",
                                                "request_id": "6ac98706-9dbe-4ba2-acaf-3ad2313048d6",
                                                "query": null
                                            },
                                            {
                                                "id": 12345504,
                                                "duration": 1419,
                                                "executed": 1764616844000,
                                                "credits": 1,
                                                "sandbox": false,
                                                "filesize": 300952,
                                                "error": null,
                                                "code": 200,
                                                "user_agent": "Python/3.9 aiohttp/3.10.5",
                                                "request_id": "63a0fdbf-a07c-4c65-a8f7-4ad09db5530c",
                                                "query": null
                                            }
                                        ],
                                        "limit": 5,
                                        "page": 0,
                                        "total": 233
                                    }
                                }
                            }
                        },
                        "x-last-modified": 1764750969372
                    },
                    "401": {
                        "description": "Unauthorized. Invalid auth key, missing, or disabled.",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests. You have been rate limited.",
                        "headers": {
                            "X-RateLimit-Remaining": {
                                "description": "The number of requests remaining in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "The maximum number of requests allowed in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "The time at which the current rate limit window resets (Unix timestamp).",
                                "schema": {
                                    "type": "integer",
                                    "format": "int64"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error.",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    }
                }
            },
            "x-last-modified": 1764751475763
        },
        "/logs/{request_id}": {
            "get": {
                "tags": [],
                "summary": "Get log by request ID",
                "description": "",
                "parameters": [
                    {
                        "name": "request_id",
                        "in": "path",
                        "required": true,
                        "description": "The unique request ID of the log entry to retrieve.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a specific log entry by its request ID",
                        "headers": {
                                "X-RateLimit-Remaining": {
                                    "description": "The number of requests remaining in the current rate limit window.",
                                    "schema": {
                                        "type": "integer"
                                    }
                                },
                                "X-RateLimit-Limit": {
                                    "description": "The maximum number of requests allowed in the current rate limit window.",
                                    "schema": {
                                        "type": "integer"
                                    }
                                },
                                "X-RateLimit-Reset": {
                                    "description": "The time at which the current rate limit window resets (Unix timestamp).",
                                    "schema": {
                                        "type": "integer",
                                        "format": "int64"
                                    }
                                }
                            },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Log"
                                },
                                "example": {
                                    "success": true,
                                    "log": {
                                    "id": 12345500,
                                    "duration": 2191,
                                    "executed": 1764753251000,
                                    "credits": 1,
                                    "sandbox": false,
                                    "filesize": 305345,
                                    "error": null,
                                    "code": 200,
                                    "user_agent": "Python/3.9 aiohttp/3.10.5",
                                    "request_id": "40bad9f3-0eb8-4de3-82de-3886ff9522ed",
                                    "query": null
                                    }
                                }
                            }
                        },
                        "x-last-modified": 1764750969372
                    },
                    "401": {
                        "description": "Unauthorized. Invalid auth key, missing, or disabled.",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests. You have been rate limited.",
                        "headers": {
                            "X-RateLimit-Remaining": {
                                "description": "The number of requests remaining in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "The maximum number of requests allowed in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "The time at which the current rate limit window resets (Unix timestamp).",
                                "schema": {
                                    "type": "integer",
                                    "format": "int64"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error.",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Error" }
                            }
                        }
                    }
                }
            },
            "x-last-modified": 1764751485019
        },
        "/templates": {
            "get": {
                "tags": ["templates"],
                "summary": "List templates",
                "description": "Returns a list of templates registered to your account.",
                "responses": {
                    "200": {
                        "description": "List of templates",
                        "headers": {
                            "X-RateLimit-Remaining": {
                                "description": "The number of requests remaining in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "The maximum number of requests allowed in the current rate limit window.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "The time at which the current rate limit window resets (Unix timestamp).",
                                "schema": {
                                    "type": "integer",
                                    "format": "int64"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/schemas/Templates" },
                                "example": {
                                    "success": true,
                                    "templates": {
                                        "has_more": false,
                                        "data": [
                                            {
                                                "slug": "test-1",
                                                "created": 1734076868000,
                                                "name": "First test for templates"
                                            }
                                        ],
                                        "limit": 10,
                                        "page": 0,
                                        "total": 1
                                    }
[...]
