{
  "openapi": "3.0.3",
  "info": {
    "title": "BigQuery API",
    "version": "v2",
    "description": "A data platform for customers to create, manage, share and query data.",
    "x-openfn-adaptor": "bigquery",
    "x-discovery-name": "bigquery",
    "x-discovery-revision": "20260620"
  },
  "servers": [
    {
      "url": "https://bigquery.googleapis.com/bigquery/v2"
    }
  ],
  "paths": {
    "/projects/{projectsId}/serviceAccount": {
      "get": {
        "operationId": "bigquery.projects.getServiceAccount",
        "tags": [
          "projects"
        ],
        "description": "RPC to get the service account for a project used for interactions with Google Cloud KMS. Requires the `bigquery.jobs.create` permission on the project resource. This permission is required to authorize the retrieval of the project's service identity for technical management tasks like encryption configuration.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetServiceAccountResponse"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/bigquery",
          "https://www.googleapis.com/auth/cloud-platform",
          "https://www.googleapis.com/auth/cloud-platform.read-only"
        ]
      }
    },
    "/projects": {
      "get": {
        "operationId": "bigquery.projects.list",
        "tags": [
          "projects"
        ],
        "description": "RPC to list projects to which the user has been granted any project role. Users of this method are encouraged to consider the [Resource Manager](https://cloud.google.com/resource-manager/docs/) API, which provides the underlying data for this method and has more capabilities. # IAM Permissions Requires no specific IAM permission(s) to use this method. The results are filtered to only include projects on which the caller has been granted a project-level role such as a BigQuery predefined IAM role or a basic role such as Viewer or Owner.",
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "uint32"
            },
            "description": "`maxResults` unset returns all results, up to 50 per page. Additionally, the number of projects in a page may be fewer than `maxResults` because projects are retrieved and then filtered to only projects with the BigQuery API enabled."
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Page token, returned by a previous call, to request the next page of results. If not present, no further pages are present."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectList"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/bigquery",
          "https://www.googleapis.com/auth/cloud-platform",
          "https://www.googleapis.com/auth/cloud-platform.read-only"
        ]
      }
    },
    "/projects/{projectsId}/datasets/{datasetsId}": {
      "get": {
        "operationId": "bigquery.datasets.get",
        "tags": [
          "datasets"
        ],
        "description": "Returns the dataset specified by datasetID. # IAM Permissions Requires the `bigquery.datasets.get` permission on the dataset.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accessPolicyVersion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Optional. The version of the access policy schema to fetch. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for conditional access policy binding in datasets must specify version 3. Dataset with no conditional role bindings in access policy may specify any valid value or leave the field unset. This field will be mapped to [IAM Policy version] (https://cloud.google.com/iam/docs/policies#versions) and will be used to fetch policy from IAM. If unset or if 0 or 1 value is used for dataset with conditional bindings, access entry with condition will have role string appended by 'withcond' string followed by a hash value. For example : { \"access\": [ { \"role\": \"roles/bigquery.dataViewer_with_conditionalbinding_7a34awqsda\", \"userByEmail\": \"user@example.com\", } ] } Please refer https://cloud.google.com/iam/docs/troubleshooting-withcond for more details."
          },
          {
            "name": "datasetView",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "DATASET_VIEW_UNSPECIFIED",
                "METADATA",
                "ACL",
                "FULL"
              ]
            },
            "description": "Optional. Specifies the view that determines which dataset information is returned. By default, metadata and ACL information are returned."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/bigquery",
          "https://www.googleapis.com/auth/cloud-platform",
          "https://www.googleapis.com/auth/cloud-platform.read-only"
        ]
      },
      "delete": {
        "operationId": "bigquery.datasets.delete",
        "tags": [
          "datasets"
        ],
        "description": "Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name. # IAM Permissions Requires the `bigquery.datasets.delete` permission on the dataset.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deleteContents",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False"
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/bigquery",
          "https://www.googleapis.com/auth/cloud-platform"
        ]
      },
      "patch": {
        "operationId": "bigquery.datasets.patch",
        "tags": [
          "datasets"
        ],
        "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports RFC5789 patch semantics. # IAM Permissions Requires the following IAM permission(s) to use this method: - `bigquery.datasets.update` on the dataset. - `bigquery.datasets.get` on the dataset.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accessPolicyVersion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Optional. The version of the provided access policy schema. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. This version refers to the schema version of the access policy and not the version of access policy. This field's value can be equal or more than the access policy schema provided in the request. For example, * Operations updating conditional access policy binding in datasets must specify version 3. Some of the operations are : - Adding a new access policy entry with condition. - Removing an access policy entry with condition. - Updating an access policy entry with condition. * But dataset with no conditional role bindings in access policy may specify any valid value or leave the field unset. If unset or if 0 or 1 value is used for dataset with conditional bindings, request will be rejected. This field will be mapped to IAM Policy version (https://cloud.google.com/iam/docs/policies#versions) and will be used to set policy in IAM."
          },
          {
            "name": "updateMode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "UPDATE_MODE_UNSPECIFIED",
                "UPDATE_METADATA",
                "UPDATE_ACL",
                "UPDATE_FULL"
              ]
            },
            "description": "Optional. Specifies the fields of dataset that update/patch operation is targeting By default, both metadata and ACL fields are updated."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dataset"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/bigquery",
          "https://www.googleapis.com/auth/cloud-platform"
        ]
      },
      "put": {
        "operationId": "bigquery.datasets.update",
        "tags": [
          "datasets"
        ],
        "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. # IAM Permissions Requires the `bigquery.datasets.update` permission on the dataset.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accessPolicyVersion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Optional. The version of the provided access policy schema. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. This version refers to the schema version of the access policy and not the version of access policy. This field's value can be equal or more than the access policy schema provided in the request. For example, * Operations updating conditional access policy binding in datasets must specify version 3. Some of the operations are : - Adding a new access policy entry with condition. - Removing an access policy entry with condition. - Updating an access policy entry with condition. * But dataset with no conditional role bindings in access policy may specify any valid value or leave the field unset. If unset or if 0 or 1 value is used for dataset with conditional bindings, request will be rejected. This field will be mapped to IAM Policy version (https://cloud.google.com/iam/docs/policies#versions) and will be used to set policy in IAM."
          },
          {
            "name": "updateMode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "UPDATE_MODE_UNSPECIFIED",
                "UPDATE_METADATA",
                "UPDATE_ACL",
                "UPDATE_FULL"
              ]
            },
            "description": "Optional. Specifies the fields of dataset that update/patch operation is targeting By default, both metadata and ACL fields are updated."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dataset"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/bigquery",
          "https://www.googleapis.com/auth/cloud-platform"
        ]
      }
    },
    "/projects/{projectsId}/datasets": {
      "post": {
        "operationId": "bigquery.datasets.insert",
        "tags": [
          "datasets"
        ],
        "description": "Creates a new empty dataset. # IAM Permissions Requires the `bigquery.datasets.create` permission on the project.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accessPolicyVersion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Optional. The version of the provided access policy schema. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. This version refers to the schema version of the access policy and not the version of access policy. This field's value can be equal or more than the access policy schema provided in the request. For example, * Requests with conditional access policy binding in datasets must specify version 3. * But dataset with no conditional role bindings in access policy may specify any valid value or leave the field unset. If unset or if 0 or 1 value is used for dataset with conditional bindings, request will be rejected. This field will be mapped to IAM Policy version (https://cloud.google.com/iam/docs/policies#versions) and will be used to set policy in IAM."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dataset"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/bigquery",
          "https://www.googleapis.com/auth/cloud-platform"
        ]
      },
      "get": {
        "operationId": "bigquery.datasets.list",
        "tags": [
          "datasets"
        ],
        "description": "Lists all datasets in the specified project to which the user has been granted the READER dataset role. # IAM Permissions Requires no specific IAM permission(s) to use this method. Results are filtered to only include datasets on which the caller has the `bigquery.datasets.get` permission.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "all",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to list all datasets, including hidden ones"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "An expression for filtering the results of the request by label. The syntax is `labels.[:]`. Multiple filters can be AND-ed together by connecting with a space. Example: `labels.department:receiving labels.active`. See [Filtering datasets using labels](https://cloud.google.com/bigquery/docs/filtering-labels#filtering_datasets_using_labels) for details."
          },
          {
            "name": "maxResults",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "uint32"
            },
            "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection."
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Page token, returned by a previous call, to request the next page of results"
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetList"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/bigquery",
          "https://www.googleapis.com/auth/cloud-platform",
          "https://www.googleapis.com/auth/cloud-platform.read-only"
        ]
      }
    },
    "/projects/{projectsId}/datasets/{datasetsId}:undelete": {
      "post": {
        "operationId": "bigquery.datasets.undelete",
        "tags": [
          "datasets"
        ],
        "description": "Undeletes a dataset which is within time travel window based on datasetId. If a time is specified, the dataset version deleted at that time is undeleted, else the last live version is undeleted. # IAM Permissions Requires the following IAM permission(s) to use this method: - `bigquery.datasets.create` on the project. - `bigquery.datasets.get` on the dataset.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UndeleteDatasetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/bigquery",
          "https://www.googleapis.com/auth/cloud-platform"
        ]
      }
    },
    "/projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/insertAll": {
      "post": {
        "operationId": "bigquery.tabledata.insertAll",
        "tags": [
          "tabledata"
        ],
        "description": "Streams data into BigQuery one record at a time without needing to run a load job. # IAM Permissions Requires the following IAM permission(s) to use this method: - `bigquery.tables.updateData` on the table. - `bigquery.tables.get` on the table. - `bigquery.datasets.get` on the dataset.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tablesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TableDataInsertAllRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TableDataInsertAllResponse"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/bigquery",
          "https://www.googleapis.com/auth/bigquery.insertdata",
          "https://www.googleapis.com/auth/cloud-platform"
        ]
      }
    },
    "/projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/data": {
      "get": {
        "operationId": "bigquery.tabledata.list",
        "tags": [
          "tabledata"
        ],
        "description": "List the content of a table in rows. # IAM Permissions Requires the `bigquery.tables.getData` permission on the table.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tablesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formatOptions.useInt64Timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Optional. Output timestamp as usec int64. Default is false."
          },
          {
            "name": "formatOptions.timestampOutputFormat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "TIMESTAMP_OUTPUT_FORMAT_UNSPECIFIED",
                "FLOAT64",
                "INT64",
                "ISO8601_STRING"
              ]
            },
            "description": "Optional. The API output format for a timestamp. This offers more explicit control over the timestamp output format as compared to the existing `use_int64_timestamp` option."
          },
          {
            "name": "maxResults",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "uint32"
            },
            "description": "Row limit of the table."
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "To retrieve the next page of table data, set this field to the string provided in the pageToken field of the response body from your previous call to tabledata.list."
          },
          {
            "name": "startIndex",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uint64"
            },
            "description": "Start row index of the table."
          },
          {
            "name": "selectedFields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Subset of fields to return, supports select into sub fields. Example: selected_fields = \"a,e.d.f\";"
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TableDataList"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/bigquery",
          "https://www.googleapis.com/auth/cloud-platform",
          "https://www.googleapis.com/auth/cloud-platform.read-only"
        ]
      }
    },
    "/projects/{projectsId}/jobs/{jobsId}": {
      "get": {
        "operationId": "bigquery.jobs.get",
        "tags": [
          "jobs"
        ],
        "description": "Returns information about a specific job. Job information is available for a six month period after creation. Requires that you're the person who ran the job, or have the Is Owner project role. # IAM Permissions Requires the `bigquery.jobs.get` permission on the job resource. If the user matches the creator of the job, the `bigquery.jobs.create` permission on the project is required instead.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The geographic location of the job. You must specify the location to run the job for the following scenarios: * If the location to run a job is not in the `us` or the `eu` multi-regional location * If the job's location is in a single region (for example, `us-central1`) For more information, see how to [specify locations](https://cloud.google.com/bigquery/docs/locations#specify_locations)."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/bigquery",
          "https://www.googleapis.com/auth/cloud-platform",
          "https://www.googleapis.com/auth/cloud-platform.read-only"
        ]
      }
    },
    "/projects/{projectsId}/jobs/{jobsId}/delete": {
      "delete": {
        "operationId": "bigquery.jobs.delete",
        "tags": [
          "jobs"
        ],
        "description": "Requests the deletion of the metadata of a job. This call returns when the job's metadata is deleted. # IAM Permissions Requires the `bigquery.jobs.delete` permission on the job resource.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The geographic location of the job. Required. For more information, see how to [specify locations](https://cloud.google.com/bigquery/docs/locations#specify_locations)."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/bigquery",
          "https://www.googleapis.com/auth/cloud-platform"
        ]
      }
    },
    "/projects/{projectsId}/queries/{queriesId}": {
      "get": {
        "operationId": "bigquery.jobs.getQueryResults",
        "tags": [
          "jobs"
        ],
        "description": "RPC to get the results of a query job. # IAM Permissions Requires the following IAM permission(s) to use this method: - `bigquery.jobs.get` on the job. - `bigquery.tables.getData` on the destination table. If the user matches the creator of the job, the following IAM permission(s) are required instead: - `bigquery.jobs.create` on the project. - `bigquery.tables.getData` on the destination table.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "queriesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeoutMs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "uint32"
            },
            "description": "Optional: Specifies the maximum amount of time, in milliseconds, that the client is willing to wait for the query to complete. By default, this limit is 10 seconds (10,000 milliseconds). If the query is complete, the jobComplete field in the response is true. If the query has not yet completed, jobComplete is false. You can request a longer timeout period in the timeoutMs field. However, the call is not guaranteed to wait for the specified timeout; it typically returns after around 200 seconds (200,000 milliseconds), even if the query is not complete. If jobComplete is false, you can continue to wait for the query to complete by calling the getQueryResults method until the jobComplete field in the getQueryResults response is true."
          },
          {
            "name": "startIndex",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uint64"
            },
            "description": "Zero-based index of the starting row."
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The geographic location of the job. You must specify the location to run the job for the following scenarios: * If the location to run a job is not in the `us` or the `eu` multi-regional location * If the job's location is in a single region (for example, `us-central1`) For more information, see how to [specify locations](https://cloud.google.com/bigquery/docs/locations#specify_locations)."
          },
          {
            "name": "formatOptions.timestampOutputFormat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "TIMESTAMP_OUTPUT_FORMAT_UNSPECIFIED",
                "FLOAT64",
                "INT64",
                "ISO8601_STRING"
              ]
            },
            "description": "Optional. The API output format for a timestamp. This offers more explicit control over the timestamp output format as compared to the existing `use_int64_timestamp` option."
          },
          {
            "name": "maxResults",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "uint32"
            },
            "description": "Maximum number of results to read."
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Page token, returned by a previous call, to request the next page of results."
          },
          {
            "name": "formatOptions.useInt64Timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Optional. Output timestamp as usec int64. Default is false."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQueryResultsResponse"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/bigquery",
          "https://www.googleapis.com/auth/cloud-platform",
          "https://www.googleapis.com/auth/cloud-platform.read-only"
        ]
      }
    },
    "/projects/{projectsId}/jobs": {
      "post": {
        "operationId": "bigquery.jobs.insert",
        "tags": [
          "jobs"
        ],
        "description": "Starts a new asynchronous job. This API has two different kinds of endpoint URIs, as this method supports a variety of use cases. * The *Metadata* URI is used for most interactions, as it accepts the job configuration directly. * The *Upload* URI is ONLY for the case when you're sending both a load job configuration and a data stream together. In this case, the Upload URI accepts the job configuration and the data as two distinct multipart MIME parts. # IAM Permissions Requires the `bigquery.jobs.create` permission on the project resource. Additional permissions are required depending on the job type: - **Load, Export, and Copy jobs**: Generally require data-level permissions such as `bigquery.tables.export` or access to external storage. - **Query jobs**: Permissions are dependent on the SQL statement. Complex queries (DDL, DCL) may require additional permissions to create reservations, modify IAM policies, or update project settings.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Job"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/bigquery",
          "https://www.googleapis.com/auth/cloud-platform",
          "https://www.googleapis.com/auth/devstorage.full_control",
          "https://www.googleapis.com/auth/devstorage.read_only",
          "https://www.googleapis.com/auth/devstorage.read_write"
        ]
      },
      "get": {
        "operationId": "bigquery.jobs.list",
        "tags": [
          "jobs"
        ],
        "description": "Lists all jobs that you started in the specified project. Job information is available for a six month period after creation. The job list is sorted in reverse chronological order, by job creation time. Requires the Can View project role, or the Is Owner project role if you set the allUsers property. # IAM Permissions Requires no specific IAM permission(s) to use this method. Users are able to list the jobs they created. Additional access is granted based on the following permissions: - Users with the `bigquery.jobs.listAll` permission can list all jobs with all metadata. - Users with the `bigquery.jobs.list` permission can list all jobs, but with redacted information for jobs they did not create.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projection",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "minimal"
              ]
            },
            "description": "Restrict information returned to a set of selected fields"
          },
          {
            "name": "maxResults",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "uint32"
            },
            "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection."
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Page token, returned by a previous call, to request the next page of results."
          },
          {
            "name": "allUsers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to display jobs owned by all users in the project. Default False."
          },
          {
            "name": "maxCreationTime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uint64"
            },
            "description": "Max value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created before or at this timestamp are returned."
          },
          {
            "name": "stateFilter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "done",
                  "pending",
                  "running"
                ]
              }
            },
            "description": "Filter for job state"
          },
          {
            "name": "minCreationTime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uint64"
            },
            "description": "Min value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created after or at this timestamp are returned."
          },
          {
            "name": "parentJobId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "If set, show only child jobs of the specified parent. Otherwise, show all top-level jobs."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobList"
                }
              }
            }
          }
        },
        "x-google-scopes": [
          "https://www.googleapis.com/auth/bigquery",
          "https://www.googleapis.com/auth/cloud-platform",
          "https://www.googleapis.com/auth/cloud-platform.read-only"
        ]
      }
    },
    "/projects/{projectsId}/jobs/{jobsId}/cancel": {
      "post": {
        "operationId": "bigquery.jobs.cancel",
        "tags": [
          "jobs"
        ],
        "description": "Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status to see if the cancel completed successfully. Cancelled jobs may still incur costs. # IAM Permissions Requires the `bigquery.jobs.update` permission on the job resource. If the user matches the creator of the job, the `bigquery.jobs.create` permission on the project is required instead.",
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The geographic location of the job. You must [specify the location](https://cloud.google.com/bigquery/docs/locations#specify_locations) to run the job for the following scenarios: * If the location to run a job is not in the `us` or the `eu` multi-regional location * If the job's location is in a single region (for example, `us-central1`)"
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "default": "json"
            },
            "description": "Data format for response."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true"
            },
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            },
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth access token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSONP"
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobCancelResponse"
                }
              }
            }
          }
        },
        "x-google-scopes": [
[...]
