{
  "openapi": "3.0.3",
  "info": {
    "title": "WhatsApp Business Platform API",
    "version": "26.0",
    "description": "The WhatsApp Business Platform, served over the Meta Graph API at `graph.facebook.com`. It covers the Cloud API (send messages, upload and retrieve media, register and verify business phone numbers, block users, place and manage calls, manage groups) and the Business Management API (WhatsApp Business Accounts, message templates, phone numbers, webhook subscriptions, analytics, solutions and partner onboarding).\n\nThe OpenFn `whatsapp` adaptor reaches every endpoint here through its generic `request(method, path, body, options)` operation, which joins the configured `apiVersion` and `phoneNumberId` onto the path.\n\nMeta does not publish an OpenAPI document for this API, so this spec is authored from Meta's own reference documentation, which is itself generated from an internal spec and lists every endpoint under `developers.facebook.com/documentation/business-messaging/whatsapp/reference`.\n\nTwo modelling notes. Graph API nodes are all addressed as `/{node-id}` at the root, so the node paths here (`/{waba-id}`, `/{phone-number-id}`, `/{media-id}`, and so on) are the same URL shape distinguished only by the kind of ID supplied; they are kept apart so each node keeps its own operations and response schema. And webhooks are delivered to an endpoint you host rather than called on this API, so their payloads appear only as the `WebhookPayload` schema and its `Incoming*` children, not as a path.",
    "x-openfn-adaptor": "whatsapp"
  },
  "servers": [
    {
      "url": "https://graph.facebook.com/{version}",
      "description": "Meta Graph API. The WhatsApp Cloud API and the WhatsApp Business Management API are both served from this host.",
      "variables": {
        "version": {
          "default": "v26.0",
          "enum": [
            "v26.0",
            "v25.0",
            "v24.0",
            "v23.0",
            "v22.0",
            "v21.0",
            "v20.0"
          ],
          "description": "Graph API version."
        }
      }
    }
  ],
  "tags": [
    {
      "name": "Application",
      "description": "Edges on a Meta app node: the client businesses and Multi-Partner Solutions it is connected to."
    },
    {
      "name": "Business",
      "description": "Edges on a business portfolio node: the WhatsApp Business Accounts it owns or manages, and its pre-verified phone numbers."
    },
    {
      "name": "Flows",
      "description": "WhatsApp Flows: creating, updating, publishing and deprecating the interactive forms sent inside messages, and their assets and endpoint metrics."
    },
    {
      "name": "Groups",
      "description": "Reading and managing a WhatsApp group: settings, participants, join requests and invite links."
    },
    {
      "name": "Media",
      "description": "Retrieving, downloading and deleting an uploaded media asset."
    },
    {
      "name": "Message History",
      "description": "Events emitted while syncing a phone number's message history after onboarding."
    },
    {
      "name": "User",
      "description": "Edges on a system or business user node."
    },
    {
      "name": "WhatsApp Account Number",
      "description": "The account-number node, used by the evolved messaging account model."
    },
    {
      "name": "WhatsApp Business Account",
      "description": "The WABA node and its edges: message templates, phone numbers, assigned users, webhook subscriptions, schedules and solutions."
    },
    {
      "name": "WhatsApp Business Bot",
      "description": "Details of an AI-enabled WhatsApp business bot."
    },
    {
      "name": "WhatsApp Business Phone Number",
      "description": "The business phone number node and its edges: sending messages, uploading media, registration and verification, business profile, blocking, calling, groups and commerce settings."
    },
    {
      "name": "WhatsApp Business Pre-Verified Phone Number",
      "description": "Phone numbers verified ahead of onboarding, and the partners they are shared with."
    },
    {
      "name": "WhatsApp Business Profile",
      "description": "The standalone business profile node."
    },
    {
      "name": "WhatsApp Business Solution",
      "description": "Multi-Partner Solutions: details, access tokens, and accepting, rejecting or deactivating a solution."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/{application-id}/connected_client_businesses": {
      "get": {
        "operationId": "getConnectedClientBusinesses",
        "summary": "Get Connected Client Businesses",
        "tags": [
          "Application"
        ],
        "description": "Retrieve a list of client businesses connected to the specified application.\n**Use Cases:**\n- Monitor application-business client relationships\n- Verify connected business configurations\n- Retrieve business connection status and details\n- Manage client business access and permissions\n**Rate Limiting:**\nStandard Graph API rate limits apply. Use appropriate retry logic with exponential backoff.\n**Caching:**\nBusiness connection data can be cached for moderate periods, but status information may change.\nImplement appropriate cache invalidation strategies.",
        "parameters": [
          {
            "name": "application-id",
            "in": "path",
            "required": true,
            "description": "Your Meta Application ID. This ID is provided when you create the application and can be found in your App Dashboard.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in the response. If not specified, default fields will be returned (id, name). Available fields: id, name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of connected client businesses to return per page. Default is 25, maximum is 100.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Cursor for pagination. Use this to get the next page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Cursor for pagination. Use this to get the previous page of results.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved connected client businesses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectedClientBusinessesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Application ID does not exist or is not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Request parameters are valid but cannot be processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      }
    },
    "/{application-id}/whatsapp_business_solution": {
      "post": {
        "operationId": "createMultiPartnerSolution",
        "summary": "Create Multi-Partner Solution",
        "tags": [
          "Application"
        ],
        "description": "Create a new Multi-Partner Solution that defines permission distribution between\na solution owner app and a partner app for WhatsApp Business messaging collaboration.\n**Permission Logic:**\n- Only one partner (owner or partner app) can have MESSAGING permission\n- At least one partner must have MESSAGING permission\n- Both partners automatically receive default solution partner permissions\n- Empty permission arrays indicate no configurable permissions for that partner\n**Solution Lifecycle:**\n- Solutions are created with INITIATED status\n- Require subsequent activation workflow through solution management\n- Can be managed through Partner Dashboard or solution management APIs\n**Rate Limiting:**\nStandard Graph API rate limits apply with WhatsApp Business Management throttling.\nUse appropriate retry logic with exponential backoff for rate-limited requests.\n**Validation:**\n- Partner app must be accessible and have proper capabilities\n- Permission combinations are validated against business logic rules\n- Solution names must meet length and content requirements",
        "parameters": [
          {
            "name": "application-id",
            "in": "path",
            "required": true,
            "description": "Your Facebook Application ID that will serve as the solution owner. This application will be the primary owner of the created solution.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WhatsAppBusinessSolutionCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Multi-Partner Solution created successfully. The solution is created with INITIATED status and can be managed through subsequent API calls or Partner Dashboard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppBusinessSolutionCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters provided. This includes validation failures for permission logic, malformed IDs, or constraint violations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required or invalid access token provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or missing required capabilities. App may lack whatsapp_business_management permission or required granular scopes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Application ID not found or not accessible to the requesting entity.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Request is well-formed but contains business logic violations. This includes cases where both partners have MESSAGING permission or neither has it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected server-side error occurred. These errors are typically transient and should be retried.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      }
    },
    "/{application-id}/whatsapp_business_solutions": {
      "get": {
        "operationId": "getMultiPartnerSolutionsForApplication",
        "summary": "Get Multi-Partner Solutions for Application",
        "tags": [
          "Application"
        ],
        "description": "Retrieve all WhatsApp Business Multi-Partner Solutions associated with the specified application.\nThis includes both solutions owned by the application and solutions where the application\nacts as a partner.\n**Use Cases:**\n- Retrieve all solutions for an application's portfolio management\n- Filter solutions by ownership role (owner vs partner)\n- Monitor solution lifecycle and status changes across multiple solutions\n- Verify solution configuration before business onboarding operations\n- Check pending approval requests and status transitions\n**Filtering:**\nUse the `role` parameter to filter solutions by the application's relationship:\n- `OWNER`: Only solutions owned by this application\n- `PARTNER`: Only solutions where this application is a partner\n- No role parameter: All solutions (both owned and partnered)\n**Rate Limiting:**\nStandard Graph API rate limits apply. Use appropriate retry logic with exponential backoff.\n**Caching:**\nSolution details can be cached for short periods, but status information may change\nfrequently during transitions. Implement appropriate cache invalidation strategies.",
        "parameters": [
          {
            "name": "application-id",
            "in": "path",
            "required": true,
            "description": "Your Meta Application ID. This ID can be found in your App Dashboard and represents the application for which you want to retrieve associated Multi-Partner Solutions.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role",
            "in": "query",
            "description": "Filter solutions by the application's relationship role. If not specified, all solutions (both owned and partnered) will be returned.",
            "schema": {
              "$ref": "#/components/schemas/WhatsAppBusinessSolutionApplicationRole"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in the response. If not specified, default fields will be returned (name, status, status_for_pending_request). Available fields: id, name, status, status_for_pending_request, owner_app, owner_permissions",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of solutions to return in a single request. Default is 25, maximum is 100.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Cursor for pagination. Use this to get the next page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Cursor for pagination. Use this to get the previous page of results.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved Multi-Partner Solutions for the application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppBusinessSolutionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Application ID does not exist or is not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Request parameters are valid but cannot be processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      }
    },
    "/{business-id}": {
      "get": {
        "operationId": "getBusinessPortfolio",
        "summary": "Get Business Portfolio",
        "tags": [
          "Business"
        ],
        "description": "Retrieve business portfolio information including name and timezone.\n- Endpoint reference: [Business](https://developers.facebook.com/docs/marketing-api/reference/business/)",
        "parameters": [
          {
            "name": "business-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return (e.g., id,name,timezone_id)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Business portfolio information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessPortfolioResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Business not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      }
    },
    "/{business-id}/add_phone_numbers": {
      "post": {
        "operationId": "addPhoneNumberToBusinessAccount",
        "summary": "Add Phone Number to Business Account",
        "tags": [
          "Business"
        ],
        "description": "Add a preverified phone number to a WhatsApp Business Account. This endpoint is used by\nPartners to create a pool of Partner owned numbers that end clients\ncan purchase.\n**Use Cases:**\n- Add new phone numbers to scale messaging operations\n- Set up phone numbers for different business locations\n- Manage phone number inventory for business messaging\n- Configure phone numbers for specific messaging workflows\n**Rate Limiting:**\nStandard Graph API rate limits apply. Use appropriate retry logic with exponential backoff.\n**Phone Number Requirements:**\n- Must be in E.164 format (e.g., +1234567890)\n- Must not be already registered to another WhatsApp Business Account\n- Must be capable of receiving SMS for verification\n- Must comply with WhatsApp's business messaging policies",
        "parameters": [
          {
            "name": "business-id",
            "in": "path",
            "required": true,
            "description": "Your WhatsApp Business Account ID. This ID can be found in your Business Manager or through business management APIs.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddPhoneNumbersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Phone number successfully added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddPhoneNumbersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters, malformed request, or phone number already registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Business ID does not exist or is not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Request parameters are valid but cannot be processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      }
    },
    "/{business-id}/client_whatsapp_business_accounts": {
      "get": {
        "operationId": "getClientWhatsAppBusinessAccounts",
        "summary": "Get Client WhatsApp Business Accounts",
        "tags": [
          "Business"
        ],
        "description": "Retrieve a list of WhatsApp Business Accounts that have been shared with the specified business.\n**Use Cases:**\n- Monitor shared WABA relationships and permissions\n- Verify WABA configuration and status information\n- Retrieve WABA details for business integrations\n- Manage multi-business WhatsApp messaging setups\n**Rate Limiting:**\nStandard Graph API rate limits apply. Use appropriate retry logic with exponential backoff.\n**Caching:**\nWABA information can be cached for moderate periods, but status information may change\nfrequently. Implement appropriate cache invalidation strategies.",
        "parameters": [
          {
            "name": "business-id",
            "in": "path",
            "required": true,
            "description": "Your Business ID. This ID can be found in your Meta Business Suite URL or through business management APIs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in the response. If not specified, default fields will be returned (id, name, currency, timezone_id). Available fields: id, name, account_review_status, purchase_order_number, audiences, ownership_type, subscribed_apps, business_verification_status, country, currency, timezone_id, on_behalf_of_business_info, schedules, is_enabled_for_insights, dcc_config, message_templates, phone_numbers",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_type",
            "in": "query",
            "description": "Filter results by WhatsApp Business Account type",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "STANDARD",
                  "PREMIUM",
                  "ENTERPRISE"
                ]
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of WhatsApp Business Accounts to return per page. Default is 25, maximum is 100.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Cursor for pagination. Use this to get the next page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Cursor for pagination. Use this to get the previous page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "find",
            "in": "query",
            "description": "Find a specific WhatsApp Business Account by ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved client WhatsApp Business Accounts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientWhatsAppBusinessAccountsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Business ID does not exist or is not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Request parameters are valid but cannot be processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      }
    },
    "/{business-id}/extendedcredits": {
      "get": {
        "operationId": "getExtendedCreditLines",
        "summary": "Get Extended Credit Lines",
        "tags": [
          "WhatsApp Business Account"
        ],
        "description": "Retrieve extended credit line information for a business account, including\nbalances, credit availability, ownership, and billing details.",
        "parameters": [
          {
            "name": "business-id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the Meta Business Portfolio",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in the response. Available fields: id, credit_type, balance, credit_available, max_balance, online_max_balance, allocated_amount, partition_from, owner_business, owner_business_name, is_automated_experience, legal_entity_name, send_bill_to_biz_name, liable_biz_name, receiving_credit_allocation_config, is_access_revoked, is_shared_credit_line_enabled_for_mpa",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by_is_owned_credential",
            "in": "query",
            "description": "When true, reorders results so owning credentials appear before receiving credentials.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Extended credit lines retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtendedCreditsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      }
    },
    "/{business-id}/onboard_partners_to_mm_lite": {
      "post": {
        "operationId": "onboardPartnersToMMLite",
        "summary": "Onboard Partners to MM Lite",
        "tags": [
          "Business"
        ],
        "description": "Send a request from the partner to onboard an end business to MM Lite.\nThis creates a business agreement request and sets OBO mobility intents\non eligible WhatsApp Business Accounts.\n**Business Flow:**\n1. Validates partner business and app permissions\n2. Checks end business eligibility for MM Lite\n3. Identifies eligible shared WABAs and OBO WABAs\n4. Sets mobility intents on eligible OBO WABAs (BSPs only)\n5. Creates business agreement request\n6. Returns request ID for tracking\n**BSP vs TP Behavior:**\n- BSPs (Business Solution Providers): Can create OBO WABAs and set mobility intents\n- TPs (Technology Partners): Can only create onboarding requests, no OBO WABA management\n**Rate Limiting:**\nSubject to business partner integrations use case throttling limits.\nUse appropriate retry logic with exponential backoff.\n**Idempotency:**\nIf a pending request already exists between the same partner and end business,\nthe existing request ID is returned instead of creating a duplicate.",
        "parameters": [
          {
            "name": "business-id",
            "in": "path",
            "required": true,
            "description": "The end business ID that will receive the MM Lite onboarding request. This is the business that the partner wants to establish an MM Lite relationship with.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "solution_id",
            "in": "query",
            "description": "Optional WhatsApp Business Solution ID to associate with the onboarding request. If provided, the solution will be linked to the business agreement and OBO mobility intents.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully created MM Lite onboarding request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MMLiteOnboardingRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Business ID does not exist or is not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Request parameters are valid but cannot be processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      }
    },
    "/{business-id}/owned_whatsapp_business_accounts": {
      "get": {
        "operationId": "getOwnedWhatsAppBusinessAccounts",
        "summary": "Get Owned WhatsApp Business Accounts",
        "tags": [
          "Business"
        ],
        "description": "Retrieve WhatsApp Business Accounts owned by the specified business. This endpoint\nprovides comprehensive information about all WABAs owned by the business, including\naccount details, configuration, and status information.\n**Use Cases:**\n- Retrieve all WhatsApp Business Accounts owned by a business\n- Filter accounts by business type\n- Find specific accounts by ID\n- Monitor business portfolio of WhatsApp Business Accounts\n- Manage account access and permissions across multiple WABAs\n**Rate Limiting:**\nStandard Graph API rate limits apply. Use appropriate retry logic with exponential backoff.\n**Caching:**\nAccount information can be cached for short periods, but status and configuration\nmay change frequently. Implement appropriate cache invalidation strategies.",
        "parameters": [
          {
            "name": "business-id",
            "in": "path",
            "required": true,
            "description": "Your Business ID. This ID represents the business portfolio that owns the WhatsApp Business Accounts and can be found in your Business Manager settings.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_type",
            "in": "query",
            "description": "Filter accounts by business type. Can specify multiple types as comma-separated values. Use this to filter between enterprise and small-medium business accounts.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/WhatsAppBusinessType"
              }
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Cursor for forward pagination. Use the cursor from the previous response to get the next page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first",
            "in": "query",
            "description": "Number of results to return in forward pagination. Maximum value is 100. Use with 'after' cursor for forward pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Cursor for backward pagination. Use the cursor from the previous response to get the previous page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last",
            "in": "query",
            "description": "Number of results to return in backward pagination. Maximum value is 100. Use with 'before' cursor for backward pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "find",
            "in": "query",
            "description": "Find a specific WhatsApp Business Account by ID within the owned accounts. Use this to quickly locate a specific account.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved owned WhatsApp Business Accounts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppBusinessAccountsConnection"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Business ID does not exist or is not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Request parameters are valid but cannot be processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      }
    },
    "/{business-id}/preverified_numbers": {
      "get": {
        "operationId": "getPreVerifiedPhoneNumbers",
        "summary": "Get Pre-Verified Phone Numbers",
        "tags": [
          "Business"
        ],
        "description": "Retrieve pre-verified phone numbers available for use with the specified business.\nThis endpoint provides information about phone numbers that have been pre-verified\nand are ready for use with WhatsApp Business messaging operations.\n**Use Cases:**\n- Retrieve available pre-verified phone numbers for business messaging setup\n- Check verification status of phone numbers\n- Monitor pre-verified phone number inventory\n- Facilitate quick business messaging setup with pre-verified numbers\n**Filtering:**\n- Results can be filtered by phone_number or code_verification_status\n- Cursor-based pagination is supported for large result sets\n**Rate Limiting:**\nStandard Graph API rate limits apply. Use appropriate retry logic with exponential backoff.",
        "parameters": [
          {
            "name": "business-id",
            "in": "path",
            "required": true,
            "description": "Your Business ID for which to retrieve pre-verified phone numbers. This ID can be found in your Meta Business Manager or through business management APIs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in the response. Available fields: id, code_verification_status, code_verification_time, owner_business, phone_number, verification_expiry_time",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone_number",
            "in": "query",
            "description": "Filter results by phone number. Only pre-verified numbers matching the specified phone number will be returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code_verification_status",
            "in": "query",
            "description": "Filter results by code verification status. Only phone numbers with the specified verification status will be returned.",
            "schema": {
              "$ref": "#/components/schemas/WhatsAppCodeVerificationStatus"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of phone numbers to return per page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Cursor for pagination. Use this to retrieve the next page of results. This value is provided in the 'paging' object of previous responses.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Cursor for pagination. Use this to retrieve the previous page of results. This value is provided in the 'paging' object of previous responses.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved pre-verified phone numbers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreVerifiedPhoneNumbersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Business does not exist or is not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      }
    },
    "/{business-id}/share_preverified_numbers": {
      "post": {
        "operationId": "sharePreVerifiedPhoneNumberWithAnotherBusiness",
        "summary": "Share Pre-Verified Phone Number with Another Business",
        "tags": [
          "Business"
        ],
        "description": "Share a pre-verified phone number with another business entity, granting specified\npermissions for collaborative WhatsApp Business messaging operations.\n**Use Cases:**\n- Enable partner businesses to use your pre-verified phone numbers for messaging\n- Share phone number resources between parent and subsidiary businesses\n- Facilitate multi-business WhatsApp integrations with shared phone number access\n- Establish temporary or permanent phone number sharing relationships\n**Business Logic:**\n- Only businesses with appropriate ownership or sharing rights can share phone numbers\n- Shared phone numbers maintain original ownership while granting usage permissions\n- Multiple businesses can have access to the same phone number with different permission levels\n- Sharing relationships can be time-limited with automatic expiration\n**Rate Limiting:**\nStandard Graph API rate limits apply. Use appropriate retry logic with exponential backoff.\n**Validation:**\n- Pre-verified phone number must exist and be accessible to the requesting business\n- Target business must be a valid and accessible business entity\n- Requested permissions must be valid and within the scope of allowed sharing permissions\n- Sharing operation must comply with business relationship and access control policies",
        "parameters": [
          {
            "name": "business-id",
            "in": "path",
            "required": true,
            "description": "Your Business ID that owns or has sharing rights to the pre-verified phone number. This ID can be found in your Meta Business Manager or through business management APIs.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreVerifiedPhoneNumberShareRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully shared pre-verified phone number with target business",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreVerifiedPhoneNumberShareResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist or is not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Request parameters are valid but cannot be processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      }
    },
    "/{business-id}/whatsapp_business_accounts": {
      "get": {
        "operationId": "getWhatsAppBusinessAccounts",
        "summary": "Get WhatsApp Business Accounts",
        "tags": [
          "Business"
        ],
        "description": "Retrieve a list of WhatsApp Business Accounts owned by the specified business portfolio.\nThis endpoint provides information about WhatsApp Business Accounts that are owned\nby the business, including their configuration, status, and core properties. This\ncorresponds to the GraphBusinessWhatsAppBusinessAccountsEdge functionality.\n**Use Cases:**\n- Retrieve list of owned WhatsApp Business Accounts\n- Monitor WABA status and configuration\n- Verify WABA details for business integrations\n- Manage business WhatsApp messaging setups\n**Rate Limiting:**\nStandard Graph API rate limits apply. Use appropriate retry logic with exponential backoff.\n**Caching:**\nWABA information can be cached for moderate periods, but status information may change\nfrequently. Implement appropriate cache invalidation strategies.",
        "parameters": [
          {
            "name": "business-id",
            "in": "path",
            "required": true,
            "description": "Your business portfolio ID. This ID can be found in the Meta Business Suite or through business management APIs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in the response. If not specified, default fields will be returned (id, name, currency, timezone_id). Available fields: id, name, account_review_status, purchase_order_number, currency, timezone_id, business_verification_status, country, on_behalf_of_business_info, is_enabled_for_insights, message_template_namespace",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_type",
            "in": "query",
            "description": "Filter results by WhatsApp Business Account type",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ENTERPRISE",
                  "SMB"
                ]
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of WhatsApp Business Accounts to return per page. Default is 25, maximum is 100.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Cursor for pagination. Use this to get the next page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Cursor for pagination. Use this to get the previous page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "find",
            "in": "query",
            "description": "Find a specific WhatsApp Business Account by ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved WhatsApp Business Accounts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppBusinessAccountsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Business ID does not exist or is not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Request parameters are valid but cannot be processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWhatsAppBusinessAccount",
        "summary": "Create WhatsApp Business Account",
        "tags": [
          "Business"
        ],
        "description": "Create a new WhatsApp Business Account under the specified business portfolio.\nThis endpoint creates a new WABA with the provided configuration and associates it\nwith the business portfolio. The account will be set up with the specified payment\nmethod and business settings.\n**Rate Limiting:**\nStandard Graph API rate limits apply. Account creation may have additional\nrate limits to prevent abuse.\n**Business Logic:**\n- Account name must be unique within the business portfolio\n- Payment method must be valid and active\n- Business must have appropriate permissions for WABA creation\n- Created account will be in pending state until verification is complete",
        "parameters": [
          {
            "name": "business-id",
            "in": "path",
            "required": true,
            "description": "Your business portfolio ID. This ID can be found in the Meta Business Suite or through business management APIs.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WhatsAppBusinessAccountCreationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully created WhatsApp Business Account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppBusinessAccountCreationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Business ID does not exist or is not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Request parameters are valid but cannot be processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      }
    },
    "/{flow-id}": {
      "get": {
        "operationId": "getFlow",
        "summary": "Get Flow",
        "description": "Retrieve a Flow. By default returns `id`, `name`, `status`, `categories` and `validation_errors`; ask for the rest with `fields`. The same parameter carries the `preview.invalidate(false)` and `metric.name(...).granularity(...).since(...).until(...)` expansions.",
        "tags": [
          "Flows"
        ],
        "parameters": [
          {
            "name": "flow-id",
            "in": "path",
            "required": true,
            "description": "Flow ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return. Available fields: id, name, status, categories, validation_errors, json_version, data_api_version, data_channel_uri, endpoint_uri, preview, whatsapp_business_account, application, metric.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Flow.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Flow"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateFlow",
        "summary": "Update Flow metadata",
        "description": "Change a Flow's name, categories or endpoint URL. A published Flow can no longer be updated.",
        "tags": [
          "Flows"
        ],
        "parameters": [
          {
            "name": "flow-id",
            "in": "path",
            "required": true,
            "description": "Flow ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFlowRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteFlow",
        "summary": "Delete Flow",
        "description": "Delete a Flow. Only a Flow still in `DRAFT` status can be deleted; a published Flow is deprecated instead.",
        "tags": [
          "Flows"
        ],
        "parameters": [
          {
            "name": "flow-id",
            "in": "path",
            "required": true,
            "description": "Flow ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      }
    },
    "/{flow-id}/assets": {
      "get": {
        "operationId": "listFlowAssets",
        "summary": "List Flow assets",
        "description": "Return every asset attached to a Flow.",
        "tags": [
          "Flows"
        ],
        "parameters": [
          {
            "name": "flow-id",
            "in": "path",
            "required": true,
            "description": "Flow ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Flow assets.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlowAssetList"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "uploadFlowJson",
        "summary": "Upload Flow JSON",
        "description": "Replace a Flow's Flow JSON. The document is attached as form-data and is limited to 10 MB. The response carries any validation errors found in it.",
        "tags": [
          "Flows"
        ],
        "parameters": [
          {
            "name": "flow-id",
            "in": "path",
            "required": true,
            "description": "Flow ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "asset_type",
                  "file"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Asset name. Must be `flow.json`."
                  },
                  "asset_type": {
                    "type": "string",
                    "enum": [
                      "FLOW_JSON"
                    ],
                    "description": "Asset type. Must be `FLOW_JSON`."
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The Flow JSON document. Maximum 10 MB."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlowAssetUploadResponse"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      }
    },
    "/{flow-id}/deprecate": {
      "post": {
        "operationId": "deprecateFlow",
        "summary": "Deprecate Flow",
        "description": "Mark a published Flow as deprecated, which stops it being sent or opened so its endpoint can be retired. This cannot be undone.",
        "tags": [
          "Flows"
        ],
        "parameters": [
          {
            "name": "flow-id",
            "in": "path",
            "required": true,
            "description": "Flow ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deprecation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      }
    },
    "/{flow-id}/publish": {
      "post": {
        "operationId": "publishFlow",
        "summary": "Publish Flow",
        "description": "Publish a Flow so it can be sent to WhatsApp users. A published Flow can no longer be deleted or updated.",
        "tags": [
          "Flows"
        ],
        "parameters": [
          {
            "name": "flow-id",
            "in": "path",
            "required": true,
            "description": "Flow ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Publish result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      }
    },
    "/{group-id}": {
      "delete": {
        "operationId": "deleteGroup",
        "summary": "Delete Group",
        "tags": [
          "Groups"
        ],
        "description": "Delete the group and remove all participants, including the business",
        "parameters": [
          {
            "name": "group-id",
            "in": "path",
            "required": true,
            "description": "Group ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group deletion successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getGroupInfo",
        "summary": "Get Group Info",
        "tags": [
          "Groups"
        ],
        "description": "Retrieve metadata about a single group",
        "parameters": [
          {
            "name": "group-id",
            "in": "path",
            "required": true,
            "description": "Group ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupInfo"
                }
              }
            }
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateGroupSettings",
        "summary": "Update Group Settings",
        "tags": [
          "Groups"
        ],
        "description": "Update the subject, description, and photo of a group",
        "parameters": [
          {
            "name": "group-id",
            "in": "path",
            "required": true,
            "description": "Group ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messaging_product": {},
                  "subject": {
                    "type": "string",
                    "description": "The new subject for the group"
                  },
                  "description": {
                    "type": "string",
                    "description": "The new description for the group"
                  },
                  "profile_picture_file": {
                    "type": "string",
                    "description": "Path to an image file for group profile picture"
                  }
                },
                "required": [
                  "messaging_product"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Group settings updated successfully"
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      }
    },
    "/{group-id}/invite_link": {
      "delete": {
        "operationId": "deleteGroupInviteLink",
        "summary": "Delete Group Invite Link",
        "tags": [
          "Groups"
        ],
        "description": "Delete an existing group invite link",
        "parameters": [
          {
            "name": "group-id",
            "in": "path",
            "required": true,
            "description": "Group ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messaging_product": {}
                },
                "required": [
                  "messaging_product"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Group invite link deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messaging_product": {
                      "type": "string"
                    },
                    "success": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createGroupInviteLink",
        "summary": "Create Group Invite Link",
        "tags": [
          "Groups"
        ],
        "description": "Create a new group invite link",
        "parameters": [
          {
            "name": "group-id",
            "in": "path",
            "required": true,
            "description": "Group ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messaging_product": {}
                },
                "required": [
                  "messaging_product"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Group invite link created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messaging_product": {
                      "type": "string"
                    },
                    "invite_link": {
                      "type": "string",
                      "description": "Group invite link"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      }
    },
    "/{group-id}/join_requests": {
      "delete": {
        "operationId": "rejectJoinRequests",
        "summary": "Reject Join Requests",
        "tags": [
          "Groups"
        ],
        "description": "Reject one or more join requests",
        "parameters": [
          {
            "name": "group-id",
            "in": "path",
            "required": true,
            "description": "Group ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messaging_product": {},
                  "join_requests": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of join request IDs to reject"
                  }
                },
                "required": [
                  "messaging_product",
                  "join_requests"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Join requests rejection response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messaging_product": {
                      "type": "string"
                    },
                    "rejected_join_requests": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "failed_join_requests": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FailedJoinRequests"
                      }
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Error"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getJoinRequests",
        "summary": "Get Join Requests",
        "tags": [
          "Groups"
        ],
        "description": "Get a list of open join requests for a group",
        "parameters": [
          {
            "name": "group-id",
            "in": "path",
            "required": true,
            "description": "Group ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of join requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GroupJoinRequest"
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/PagingInfo"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "approveJoinRequests",
        "summary": "Approve Join Requests",
        "tags": [
          "Groups"
        ],
        "description": "Approve one or more join requests",
        "parameters": [
          {
            "name": "group-id",
            "in": "path",
            "required": true,
            "description": "Group ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messaging_product": {},
                  "join_requests": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of join request IDs to approve"
                  }
                },
                "required": [
                  "messaging_product",
                  "join_requests"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Join requests approval response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messaging_product": {
                      "type": "string"
                    },
                    "approved_join_requests": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "failed_join_requests": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FailedJoinRequests"
                      }
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Error"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      }
    },
    "/{group-id}/participants": {
      "delete": {
        "operationId": "removeGroupParticipants",
        "summary": "Remove Group Participants",
        "tags": [
          "Groups"
        ],
        "description": "Remove participants from group",
        "parameters": [
          {
            "name": "group-id",
            "in": "path",
            "required": true,
            "description": "Group ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messaging_product": {},
                  "participants": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Participants"
                    },
                    "description": "Array of phone numbers or WhatsApp IDs to remove (max 8 participants)"
                  }
                },
                "required": [
                  "messaging_product",
                  "participants"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Participants removal request processed"
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addGroupParticipants",
        "summary": "Add Group Participants",
        "tags": [
          "Groups"
        ],
        "description": "Add participants to group",
        "parameters": [
          {
            "name": "group-id",
            "in": "path",
            "required": true,
            "description": "Group ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messaging_product": {},
                  "participants": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Participants"
                    },
                    "description": "Array of phone numbers or WhatsApp IDs to remove (max 8 participants)"
                  }
                },
                "required": [
                  "messaging_product",
                  "participants"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Participants addition request processed"
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      }
    },
    "/{media-id}": {
      "delete": {
        "operationId": "deleteMedia",
        "summary": "Delete Media",
        "tags": [
          "Media"
        ],
        "description": "To delete media, make a **DELETE** call to the ID of the media you want to delete.",
        "parameters": [
          {
            "name": "media-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "retrieveMediaURL",
        "summary": "Retrieve Media URL",
        "tags": [
          "Media"
        ],
        "description": "To retrieve your media\u2019s URL, make a **GET** call to **`/{{Media-ID}}`**. Use the returned URL to download the media file. Note that clicking this URL (i.e. performing a generic GET) will not return the media; you must include an access token. For more information, see [Download Media](https://developers.facebook.com/docs/business-messaging/whatsapp/business-phone-numbers/media#download-media).\nYou can also use the optional query **`?phone_number_id`** for **`Retrieve Media URL`** and **`Delete Media`**. This parameter checks to make sure the media belongs to the phone number before retrieval or deletion.",
        "parameters": [
          {
            "name": "media-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone_number_id",
            "in": "query",
            "description": "Specifies that this action only be performed if the media belongs to the provided phone number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve Media URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "file_size": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "messaging_product": {
                      "type": "string"
                    },
                    "mime_type": {
                      "type": "string"
                    },
                    "sha256": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Graph API error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphAPIError"
                }
              }
            }
          }
        }
      }
    },
    "/{media-url}": {
      "get": {
        "operationId": "downloadMedia",
        "summary": "Download Media",
        "tags": [
          "Media"
[...]
