{
  "openapi": "3.0.3",
  "info": {
    "title": "ERPNext / Frappe Framework REST API",
    "version": "1.0.0",
    "description": "The generic Frappe Framework REST API that ERPNext (built on Frappe) exposes for every DocType: document CRUD over /api/resource/{doctype}[/{name}], and a whitelisted RPC method call convention at /api/method/<dotted.path>. The @openfn/language-erpnext adaptor delegates every operation to the third-party frappe-js-sdk's FrappeDB class, which only implements six of that SDK's own methods as adaptor functions (getDoc, getDocList, createDoc, updateDoc, deleteDoc, getCount); the adaptor has no generic get/post/request builder, so no other endpoint (not even other FrappeDB methods the SDK itself has, like renameDoc, getValue, setValue, submit or cancel) is reachable through it. This full coverage is therefore the complete set of six endpoints, verified against the frappe-js-sdk source rather than assumed from the adaptor's own names.",
    "x-openfn-adaptor": "erpnext"
  },
  "servers": [
    {
      "url": "https://site.erpnext.com"
    }
  ],
  "paths": {
    "/api/resource/{doctype}": {
      "get": {
        "operationId": "getList",
        "summary": "List documents of a doctype",
        "parameters": [
          {
            "name": "doctype",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON array of field names to return. Default is just `name`."
          },
          {
            "name": "filters",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON array of [field, operator, value] filters, ANDed together."
          },
          {
            "name": "or_filters",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON array of [field, operator, value] filters, ORed together."
          },
          {
            "name": "group_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Fieldname to group results by."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "\"<fieldname> asc\" or \"<fieldname> desc\"."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Max records to return (aliased to limit_page_length by the Frappe REST layer; the frappe-js-sdk the adaptor uses sends `limit`)."
          },
          {
            "name": "limit_start",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Offset to start the page at."
          },
          {
            "name": "as_dict",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Return each record as an object (true) or a positional array (false)."
          }
        ],
        "responses": {
          "200": {
            "description": "Document list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentList"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "create",
        "summary": "Create a document",
        "parameters": [
          {
            "name": "doctype",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Document"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/resource/{doctype}/{name}": {
      "get": {
        "operationId": "read",
        "summary": "Read a document by name",
        "parameters": [
          {
            "name": "doctype",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "operationId": "update",
        "summary": "Update a document",
        "parameters": [
          {
            "name": "doctype",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Document"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteRecord",
        "summary": "Delete a document",
        "parameters": [
          {
            "name": "doctype",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Delete confirmation. Frappe explicitly sets HTTP 202 (Accepted) for this endpoint, not 200 or 204 (frappe/api/v1.py: delete_doc sets frappe.response.http_status_code = 202).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/method/frappe.client.get_count": {
      "get": {
        "operationId": "getCount",
        "summary": "Count documents matching filters",
        "parameters": [
          {
            "name": "doctype",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON array of [field, operator, value] filters. The adaptor's frappe-js-sdk client always sends this param (an empty array when no filters are given)."
          },
          {
            "name": "debug",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include the executed SQL and timing under an `exc` key in the response."
          }
        ],
        "responses": {
          "200": {
            "description": "Count result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Document": {
        "type": "object",
        "description": "Generic Frappe document. Fields depend on the doctype.",
        "properties": {
          "name": {
            "type": "string"
          },
          "doctype": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          },
          "creation": {
            "type": "string",
            "description": "Frappe timestamp, e.g. '2019-06-03 14:19:00.281026' (space-separated, not RFC3339 - do not validate as date-time format)."
          },
          "modified": {
            "type": "string",
            "description": "Frappe timestamp, e.g. '2019-06-03 14:19:00.281026' (space-separated, not RFC3339 - do not validate as date-time format)."
          }
        },
        "additionalProperties": true
      },
      "DocumentResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Document"
          }
        }
      },
      "DocumentList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Document"
            }
          }
        }
      },
      "CountResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "integer"
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "customer_name": {
            "type": "string"
          },
          "customer_type": {
            "type": "string",
            "enum": [
              "Company",
              "Individual"
            ]
          },
          "customer_group": {
            "type": "string"
          },
          "territory": {
            "type": "string"
          },
          "mobile_no": {
            "type": "string"
          },
          "email_id": {
            "type": "string"
          }
        }
      },
      "Item": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "item_code": {
            "type": "string"
          },
          "item_name": {
            "type": "string"
          },
          "item_group": {
            "type": "string"
          },
          "stock_uom": {
            "type": "string"
          },
          "standard_rate": {
            "type": "number"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "SalesOrder": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "customer": {
            "type": "string"
          },
          "transaction_date": {
            "type": "string",
            "format": "date"
          },
          "delivery_date": {
            "type": "string",
            "format": "date"
          },
          "status": {
            "type": "string"
          },
          "grand_total": {
            "type": "number"
          }
        }
      }
    }
  }
}
